<% title = '株式投資のデメリット' %>
<% set_meta_tags title: title %>
<% breadcrumb :study_stock_demerit %>

<%= "開発版：#{@path}" if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         <%= title %>
       </h1>
     </div>
     <div id="studyindex">
      <%= render 'layouts/study_elementary_stock_trade_index' %>
    </div>
    <div id="studycontents">
      <h2>株式投資のデメリット</h2>
      株式投資することはメリットばかりではありません。<br>
      残念ながら株式投資を行った場合、保有した銘柄の株価が下落するリスクがあります。<br>
      ただし、株式投資について的確な知識を持っていれば、この下落リスクは抑えることが可能なのです。<br>
      株式投資で勝つにはデメリットとしてこうした下落リスクを知り、いかにそのリスクを抑えるかが重要となります。<br>
      逆にデメリットを知り、リスクを抑えることができれば損せずに利益を確保することができます。<br>
<br>
      最初に書いたように、あなたが株式投資を行うための動機をもう一度思い出してください。<br>
      長期で安定運用したいという動機と短期でハイリスクハイリターンで運用したいという動機の２択です。<br>
<br>
      以下の記事はこの動機を今一度再確認して、それを踏まえて読み進めてください。<br>
<br>
      どんなプロでも勝ち続けるということはありません。<br>
      これは悲しいことですが、受け入れなければならない最も重要なことです。<br>
      むしろ5年経って1億稼ぐような人は同じ期間で損失を出す人より多く負けています。<br>
      どんなに負けてもそれを上回る勝ちを確保することが重要なのです。<br>
<br>
      <div class="studytips">
        ジェイコム株で有名になったcis氏も2015年に15億円を損しています。<br>
        でも彼には100億の資産があるので、全く冷静だったと言われています。<br>
        要はいくら負けたということが重要なのではなく、
        負け(損失となった取引)より勝ち(利益となった取引)の回数をいかに増やせるかが重要となります。<br>
        同時に負けた時に再起ができないような取引をしないということも大事です。<br>
        株式はギャンブルではありません。<br>
        cis氏の負けた例は100万円の資産があるから15万円で損切りしたことと同じで
        いたずらに損失を放置しておいて、傷口を深くしないことが重要なのです。<br>
        これについては別のページで説明します。<br>
      </div>
<br>
      念のため書きますが、負けることをお勧めしているわけではありません。<br>
      負けの回数と金額をいかに減らし、勝ちの回数と金額をどれだけ増やせるかが肝となります。<br>
<br>
      <h3>下落リスクをいかに抑えるか</h3>
      株式は短期で見ても長期で見ても上昇と下落を繰り返します。<br>
      成長している企業は株価が上昇と下落を繰り返しながら長期的には徐々に上昇していきます。<br>
<br><br>

      あなたが株式取引をする動機が長期的で5年以上の長い視点で見られる投資家であれば頻繁に売買せずに
      長期投資する銘柄を探して長期保有することをお勧めします。<br>
<br>
      長期投資する銘柄を決める判断は様々なファンダメンタルズ分析がありますのでそこに譲りますが、
      要は割安銘柄もしくは成長銘柄を探すことになります。<br>
<br>
      前者であれば業務内容が潜在的に価値があるのに株価が評価されていない銘柄になります。<br>
      定量的には直近悪いニュースがないのに株価が評価されておらずPBRが低い銘柄などです。<br>
      後者であれば直近株価が上がり続けていて今後も業績が右肩あがりとなりそうな銘柄です。<br>
<br><br><br>

      問題は短期的な動機で売買を頻繁に繰り返す場合の下落リスクを抑える方法です。<br>
      株式取引はギャンブルではありませんので、短期での取引を行う場合においても下落リスクを抑える方法はあります。<br>
      先ほど株価は上昇と下落を繰り返すと説明しました。<br>
<br>
      上昇と下落がなぜ発生するのかは<%= link_to '株式取引の仕組み', '/study_pages/elementary/tradeMechanism' %>を見ればわかると思います。<br>
      投資家が株式投資する際には、その銘柄のファンダメンタルズ(株価の本源的価値)で判断する以外に投資家の資金ニーズという要因があります。<br>
      細かい説明は省きますが、このファンダメンタルズ以外で株価に影響する要因と、それによって株価が割安割高と判断して取引を行う投資家によって
      株価が行きすぎては修正するという、上昇や下落を繰り返すことになるのです。<br>
<br><br>

      株式市場の専門家によれば全ての銘柄の上昇と下落の平均的な確率(と期待値)はほぼ同じだったと言われています。<br>
      つまり時期や銘柄の個別、業種、地域特性などの特殊要因を除けば短期的には上昇と下落を同じ確率で同じ幅で振動するということになります。<br>
<br>
<br>
      確率の問題で上昇と下落が同じ確率で発生するのであれば丁度振動する波のような動きをすることになります。<br>
      この振動に銘柄の特殊要因が影響すると振動の幅や周期は銘柄によって異なり、その周期を知っていれば下落するタイミングを抑えることもできます。<br>
      これらの周期は基本的に変わることがないので、下落リスクを抑えると同時に株価の上昇タイミングについても知ることができます。<br>
<br>
      こうした取引をスイングトレードと呼び、tipsに書いたcis氏やジェイコム男として有名なBNF氏もこの手法を用いています。<br>
      スイングトレードについても別のページで詳しく説明しますが、基本的に小型株より大型株の方が安定します。<br>
      小型株でも勿論取引は可能なのですが、周期性以外の個別の要因で株価が変動しやすく、
      日経平均に属する銘柄などの方が周期が乱れにくく、安定して利益を確保することがしやすいです。<br>
      ただ、大型銘柄は(日経平均やTOPIXなどのインデックスに組み入れられているので)振れ幅が限定的になるため
      短期で稼ぐ人の中でも特に安定した運用をしたい人向けと言えます。<br>
      こうした周期分析をすることをうねり取りと呼ぶこともあります。<br>

<br><br>


      <h3>負けをいかに減らせるか</h3>
      株式取引において勝ちや負けとは何を意味するのでしょうか。<br>
<br>
      銘柄単位で勝ちや負けを定義すると単純にその銘柄を購入して売却した時に購入した時よりも高い値段で売却できたかどうか、
      つまり売却益があるかどうかです。<br>
      実はもう一つの定義があります。<br>
      それは一定間隔ごとの損益がプラスかマイナスかという判断で行う方法です。<br>
<br>
      機関投資家のように膨大な調査コストと豊富なアナリストを抱えて経済分析、業界分析、銘柄分析をしない限り
      銘柄ごとに勝つのは非常に難しいことです。<br>
      個人投資家の場合、銘柄単位よりは期間ごとに勝ちを増やす戦略にする方が現実的です。<br>
<br>
      では期間毎に勝ちを増やす戦略はどのようなものか、
      これは言い換えると一定期間で負けをどれだけ減らせるかという戦略になります。<br>
<br>
      なぜなら企業はほっておいても企業努力を重ね業務改善や新商品を作り出していくからです。<br>
      去年と同じ業績では株主は満足しないので新たな市場を開拓しようとし、前回よりも良い業績を出そうとします。<br>
      しかし、大多数の有望銘柄に対して、残念ながら一部の企業では業績が悪化してしまうこともあります。<br>
<br>
      不運にもその一部の業績の弱い銘柄をつかんでしまった場合、他の大多数を銘柄を保有していればカバーすることができます。<br>
      こうした考え方を分散投資と呼びます。<br>
      つまり、個別銘柄を保有することはこうしたリスクを内包するため、他の、できればすでに保有している銘柄とは関係ない銘柄を保有することで
      分散効果を適用し、下落リスクを抑えることが重要なのです。<br>
      関係ない銘柄と書きましたが、業績や株価の周期が正反対の銘柄でかつ業績的に有望な銘柄であればより効果的です。<br>
<br>
      機関投資家はより正確に定量的に行うために株価の標準偏差を算出し、複数銘柄の共分散を低くするという方法もありますが、
      数銘柄から数十銘柄程度の投資であれば分散効果が限定的となります。<br>
<br><br>


      <h3>特殊要因を回避する</h3>
      銘柄ごとに周期をつかみ、複数銘柄で分散投資を行ったとしても銘柄の特殊要因による下落リスクはまだ残っています。<br>
<br>
      例えば、業績の急激な悪化や他の取引先などの連鎖倒産などにより上場廃止になるようなケースです。<br>
<br>
      因みに上場廃止になるようなケースは１部上場銘柄2000社のうち、年間0.1%程度と非常にごく稀ですし
      上記のような大型銘柄のうねり取りや分散投資をしていればこうした事態はほぼありませんし、その影響は限りなくゼロに近いです。<br>

      私自身10年以上株式投資をしていて上場廃止銘柄を保有していたことは一度もありませんでした。<br>
<br>
      ただし、日々のニュースなどでこうした出来事に敏感になり、
      万が一に備えて事前にリスクを回避することが重要です。<br>
<br>
      何事もただで得するようなおいしい話はありません。<br>
      株式投資がリスクなく何の苦労もせずに利益を出し続けられる夢の金のなる木だというつもりはありません。
      こうした特殊要因に常に目を光らせ、危ないニュースや傾向があればすぐに損切りするという冷静な姿勢が
      株式取引をギャンブルにせずに利益を確保しやすいものにしてくれます。<br>
<br>

      <%= link_to 'リスクを知った上で早速株式投資を始めてみよう', '/study_pages/intermediate/apply_matsui' %>
<br>
    </div>
  </div>
</div>
