<!-- seo -->

<%= set_meta_tags title: 'なぜ投資か' %>
<%= breadcrumb :why_you_invest %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         今投資をやっておかなければならない１０の理由
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">

      <h3>なぜ今か、なぜ株か</h3>
<br>

      なぜあなたは株式投資をするのでしょうか。<br>
<br>
      <!-- 目的
      興味は持っているが実際にやるところまで気持ちが固まっていない人がこのページを開いて
      株式投資を実施しなくてはいけない理由を顕在化させる -->
<br>
<br>
      なぜあなたは投資という分野に興味を持ったのでしょうか。<br>
      仮に興味を持っていなくても、なぜあなたはこのページを開いたのでしょうか。<br>
<br>
      まずはその理由を明確にしましょう。<br>
<br>
      株式投資は長い道のりです。<br>
<br>
      理由なしに進むことはできないくらい辛い道を歩まなければならないこともあるでしょう。<br>
<br><br><br><br>

      株に限らず、為替、投資信託、債券、コモディティ、不動産など、
      投資をするには様々な動機があります。<br>
      人によっては給料が安すぎるから。<br>
<br>
      人によっては余ったお金が増やしたいから。<br>
<br>
      人によっては勉強したいから。<br>
<br><br>
      証券会社に入るために勉強したいからという人もいるでしょう。<br>
      (個人的に証券会社に入る人であれば必ず自分の証券口座を解説して色々売買することは大前提となるでしょう)<br>
<br>
      結婚を機に資産形成を本気で考えたいという人もいると思います。<br>
<br>
      また子供が生まれて将来の教育資金にしたいという考えもあるでしょう。<br>
<br><br><br>


      様々な理由があっていいと思います。<br>
<br><br><br>


      世の中お金ではないという人もいるかもしれませんが、<br>
<br>
      否定できない事実として、誰でもお金なしに生活することはできません。<br>
<br>
      間違いなく、お金は必要です。<br>
<br>
      大部分の人は、結婚、出産、育児、小中高大の進学、就職活動、社会人の付き合い、
      結婚、出産、家の購入や賃貸、引っ越し、退職、離別、葬式、就活、相続など
      様々なライフスタイルでお金が必要になってきます。<br><br><br>

      <br>
      また、今、あなたが親であれば、子供に良い教育を受けさせたくて、中学から大学まで私立の学校を選んだ場合、一人のお子さんを育てるためには1000万円以上の教育資金が必要になります。<br>
<br>
      参考<br>
      <tr><th>学校</th><th>パターン</th><th>必要経費</th></tr>
      <table class="ranking">
        <tbody>
          <tr><th>幼稚園 ～ 高等学校</th><th>パターン</th><th>合計</th></tr>
          <tr><td>すべて公立</td><td>(公→公→公→公)</td><td>553万円</td></tr>
          <tr><td>幼稚園だけ私立</td><td>(私→公→公→公)</td><td>646万円</td></tr>
          <tr><td>高等学校だけ私立</td><td>(公→公→公→私)</td><td>692万円</td></tr>
          <tr><td>幼稚園及び高等学校が私立</td><td>(私→公→公→私)</td><td>785万円</td></tr>
          <tr><td>小学校だけ公立</td><td>(私→公→私→私)</td><td>1012万円</td></tr>
          <tr><td>すべて私立</td><td>(私→私→私→私)</td><td>1663万円</td></tr>
        </tbody>
      </table>

<br><br>
      お子さん一人学校を行かせるだけでこれだけの費用がかかるのです。<br>
      皆さんの中にはお子さんが複数いらっしゃる方や、将来的に欲しいという方もいるでしょう。<br>
      二人とも私立なら2000万円が必要です。<br>
<br>
      それだけではなく塾や習い事をさせて将来の可能性を広げたり、豊かな心を学ばせたいという親御さんもいらっしゃるでしょう。<br>
<br>
      今の世の中、普通のサラリーマン家庭で2000万円以上の蓄えがある方はどれだけいらっしゃるでしょうか。<br>
<br>
      それも使うのは教育資金だけではありません。<br>
      生活するためにの食費、賃貸であれば家賃、分譲であればローンの支払いもあります。<br>
<br><br>

      今の時代大企業も簡単にちょっとした事件や不祥事、業績の低迷であっという間につぶれてしまう世の中です。<br>
<br>
      90年代の山一證券や北海道拓殖銀行などの大手証券や銀行の破綻、
      バブル期は超優秀なメーカーと誰もが思っていた東芝やシャープでさえ日本の構造変化についていけず業績が傾いてしまいました。<br>
      企業価値が低くなった会社は今後中国資本による買収が進み、突然の大規模なリストラを余儀なくされるでしょう。<br>
<br>
      あなたの会社が将来突然倒産しないとも誰もが言い切れない時代です。<br>
<br><br>

      組織の中の1セクションにとどまっていて潰しが利かない仕事をしている傾向にある大手の超優良企業の社員ほど危ないと思っています。<br>
<br><br>

      自分は大丈夫と果たして本当にそう言えるでしょうか。<br>
<br>
      30歳以上になると、転職市場では専門職や余程の能力の高いスキルをお持ちでない限り市場価値は限りなく低いです。<br>
      それがたとえ大手企業に長年勤めていたとしても、です。<br>
      転職先企業はそんなこと一切に気に留めません。<br>
      だから大企業にいる社員ほど危険な時代だと言えるのです。<br>
<br>
      さらに言うと、日本は現在世界の成長の追い付いていけません。<br>
      生産人口減少、アジア諸国の成長による外国からの投資額低迷、日銀による金利引き下げによる今後さらなる預金金利低下など
      給料からもらえる日本円だけで貯金すると世界経済の成長率と日本の成長率の圧倒的な差分だけ遅れてしまいます。<br>
<br>
      つまりあなたはサラリーマンとして働いているだけで世界経済からどんどん追い抜かれてしまうのです。<br>
      寄らば大樹の陰で日本全国のサラリーマンが皆同じだからという理由で何も動かなければ
      それだけ遅れが生じてしまうのです。<br>
<br>
      ちょっと前まで中国は貧富の差が激しく、爆買いなどで我々が目にすることが多い中国人はそうした競争に買った富裕層なのだと思っていました。<br>
      しかし、彼らは中国の発展の恩恵で経済的恩恵を享受できた中間層なのです。<br>
      中間層が何十万もする時計や高級衣服や家電をバンバン買っていく姿を見て日本のこれからを想像できます。<br>
      すなわち、中国などに対して、経済力が衰え、国土や軍事費などで遅れをとっている日本は
      普通にくらしているだけで中国マネーの食物にされていくのです。<br>
<br><br><br>

<br><br>



      ではこうした事態に直面しながら、あなたはもしもの時に自分の身を守れるのでしょうか。<br>
      またはご家庭を持っている方は奥様を、お子様を守ることができるでしょうか。<br>
<br>
      目を閉じて、あなたのことを頼りにしている人の顔を思い浮かべて下さい。<br>
<br>
      彼らを路頭に迷わせることだけは何としても避けなければなりません。<br>
<br><br>

      では何をすべきか、<br>
<br><br>

      資本主義社会の上で、自らを守る唯一の手段は金融リテラシーです。<br>

      何も、株で何億、何十億と稼がないといけないと言ってるわけではありません。<br>
<br>
      読み書きそろばんと同じレベルで、金融に関する知識、スキルを持っておくことは
      もしもの時にご自身の身を、ひいてはご家族を守ることにつながります。<br>
<br>
      企業分析、チャート分析、相場の先読みなど
      これらは昔の読み書きそろばんに匹敵するぐらい重要なリテラシーとなりつつあります。<br>
<br>
      今は広大なウェブの中である程度の知識を身につけることができる時代です。<br>
<br>
      株をやるのに特別な才能は必要ありません。<br>
<br>
      現在の日本の経済情勢を鑑みて、気付いているはずの危機意識と真剣に向き合えば
      やるべきことは一つです。<br>
<br><br>

      それは、投資の世界で少しでも多くの場数を踏んで
      知識や勘を一つ一つ身につけ、経験値を蓄積することです。<br>
<br>
      そうすればいずれ自分の身を助ける術となるでしょう。<br>
<br>

      先ほど、中国人が日本のモノやサービスを買っていくと書きましたが、
      それ自体は私は悪いことだと思いません。<br>
      外貨を稼ぐことは日本経済を浮揚させることにつながるからです。<br>
<br>
      そうなった時にもう一度バブルが来る可能性があります。<br>
      となりの中国が発展することで日本事態に恩恵があるとしたら
      その時にも金融リテラシーがご自身を更に助けるでしょう。<br>
<br><br>
      <div class="studytips"
        <strong>金融リテラシーとは</strong><br>
        ここでいう金融リテラシーとは読み書きそろばんと同様に、
        生活していく上で最低限必要で自らの生活を潤してくれるものです。<br>
        具体的には、BS/PLなどの財務諸表の見方や企業分析、チャートの動きを把握し、相場を先読みするなどです。<br>
        これらは初めての人には難しいように思いますが、このサイトの中で一つずつ解説していきます。<br>
      </div>

      <br>
      ここまで読んでまずは証券会社に口座を開こうと思えるかどうかは最初の一歩を踏み出せるか
      ひいてはあなたの人生がここで終わるのか始まるのか。。<br>
<br>
      投資を始めるのに遅いということはありません。<br>
<br>
      <%= link_to '思い立ったら吉日。即日口座開設可能な証券会社はこちら。',
      '/study_pages/intermediate/apply_rakuten' %>
      <br>
      ※当日開設を行うためにはネットで登録して、スマホをお持ちな方であれば
      スマホで本人確認書類を写真撮影してウェブの登録画面上で撮影した写真を添付して登録ボタンを押すだけで即日口座開設完了できます。
    </div>
  </div>
</div>
