<!-- 最終的には東証価格差、東証とAdrのそれぞれの前日比（％、円）なども表示 -->
◇NYSE □Nasdaq市場 上場全銘柄（16社）	　OTC(店頭)市場 主要銘柄
http://adr-stock.com/japan/

<br>
<h1>
  ADR銘柄
</h1>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <%= link_to "" "adrとは？→説明ページへGO!" %>
    <br>
    <h2>
      主な銘柄
    </h2>
    <% @adr_all.each do |adr| %>
      <% if @hash_adr[adr.ticker.to_sym] %>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= link_to "" do %>
            adr
            <!-- 90, 120 -->
            <%= image_tag("http://ichart.finance.yahoo.com/t?s=#{adr.ticker}",
             alt: adr.tcode, :width => '192', :height => '96') %>
            <br>
            <%= "#{adr.name}(#{adr.tcode}, #{adr.ticker})" %>
          <% end %>
        </div>
        <!-- 相対するADR銘柄 -->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= link_to "" do %>
            東証
            <!-- 90, 120 -->
            <%= image_tag("http://gchart.yahoo.co.jp/t?s=#{@hash_adr[adr.ticker.to_sym]}",
             alt: adr.tcode, :width => '192', :height => '96') %>
            <br>
            <%= "#{adr.name}(#{adr.tcode})" %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <br>

    <h2>
      その他の銘柄
    </h2>
    <% @adr_all.each do |adr| %>
      <% if !@hash_adr[adr.ticker.to_sym] %>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <%= link_to "" do %>
            adr
            <!-- 90, 120 -->
            <%= image_tag("http://ichart.finance.yahoo.com/t?s=#{adr.ticker}",
             alt: adr.tcode, :width => '192', :height => '96') %>
            <br>
            <%= "#{adr.name}(#{adr.tcode}, #{adr.ticker})" %>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <%= render 'layouts/sidebar' %>
  </div>
</div>
