<%= include_gon %>


<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>


<script>
$(function() {
      var historicals=gon.historical_btc
      var ohlc = [],
          volume = [];
      for (i = 0; i<historicals.length; i++) {
          var unixtime1 = historicals[i]["ymd"]*1000
          var open=historicals[i]["open"];
          var high=historicals[i]["high"];
          var low=historicals[i]["low"];
          var close=historicals[i]["close"];
          var volume1=historicals[i]["volume"];
          // console.log("ymd=",data[i][0]);
          // console.log("ymd2=", unixtime1);
          ohlc.push([unixtime1,open,high,low,close]);
          volume.push([unixtime1,volume1])
      }

      // set the allowed units for data grouping
      var groupingUnits = [[
          'week',                         // unit name
          [1]                             // allowed multiples
      ], [
          'month',
          [1, 2, 3, 4, 6]
      ]];

      // create the chart
      $('#btc_historical').highcharts('StockChart', {
          rangeSelector: {
              selected: 1
          },
          title: {
              text: historicals[0]["name"] + " Price(USD)"//gon.user_name//arrayData[0]//gon.user_name
              // text: array[0]["20151230"]//gon.@pseries.
          },
          yAxis: [{
              title: {
                  text: 'price(usd)'
              },
              height: 170,
              lineWidth: 2
          }, {
              title: {
                  text: 'Volume'
              },
              top: 250,
              height: 40,
              offset: 0,
              lineWidth: 2
          }],

          series: [{
              type:'candlestick', // dowはohlcデータ取得できなかったため折れ線
              name: historicals[0].name,
              data: ohlc,
              dataGrouping: {
                  units: groupingUnits
              }
          }, {
              type: 'column',
              name: 'Volume',
              data: volume,
              yAxis: 1,
              dataGrouping: {
                  units: groupingUnits
              }
          }]
      });
    // });
});

</script>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <div id = "deepredBack">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-md-offset-1 col-lg-offset-1">
              <br>
              ビットコインインデックス
              <div id="nikkeiValue">
                <%= number_with_delimiter(@valueBtc.to_d.floor(2), :delimiter => ',') %>

              </div>
              <% kigo = "+" %>
              <% if @diffBtc.to_f < 0 %>
                <% kigo = "▲" %>
              <% end %>

              <div class="right">

                <%= "前日比: " + kigo + @diffBtc.to_f.abs.to_s %>
                <%= "( " + kigo + @returnBtc.to_f.abs.to_s + " % )" %>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

<!-- グラフ -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
        <div id="btc_historical" style="width:100%; height:400px;"></div>
        <br>
      </div>
    </div>


    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
        <junre_title id="sample03"> 関連ニュース </junre_title>

        <% @bitcoinNews.each do |news| %>
          <% if news %>
            <%= link_to news.title, news.link %>
            <br>
          <% end %>

        <% end %>

      </div>
    </div>

    <br>
<!-- 基本情報 -->
    <% if @hash_fundamentals %>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
          <table>
            <tr>
              <% @hash_fundamentals.keys.each do |key| %>
                <th><%= key %></th>
              <% end %>
            </tr>
            <tr>
              <% @hash_fundamentals.values.each do |fundamental| %>
                <td><%= fundamental %></td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>
    <% end %>
    <br>
    <% arrGraphs = [
      "http://bitcoincharts.com/charts/coinbaseUSD/orderbook.png",
      "http://bitcoincharts.com/charts/coinbaseUSD/orderbook0.02.png",
      "http://bitcoincharts.com/charts/coinbaseUSD/accumulated_orderbook.png",
      "http://bitcoincharts.com/charts/coinbaseUSD/accumulated_orderbook0.02.png"
    ] %>
    <% arrGraphs2 = [
      "http://bitcoin.sipa.be/speed-lin-ever.png",
      "http://bitcoin.sipa.be/speed-lin.png",
      "http://bitcoin.sipa.be/speed-lin-10k.png",
      "http://bitcoin.sipa.be/speed-lin-2k.png",
      "http://bitcoin.sipa.be/speed-ever.png",
      "http://bitcoin.sipa.be/speed.png",
      "http://bitcoin.sipa.be/work.png",
      "http://bitcoin.sipa.be/growth.png",
      "http://bitcoin.sipa.be/growth-10k.png"
    ] %>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
        <junre_title id="sample03"> market depth </junre_title>
      </div>
    </div>
    <% arrGraphs.each do |graph_url| %>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
          <%= image_tag(graph_url,
           alt: "orderbook", :width => '100%', :height => '100%') %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <% arrGraphs2.each_slice(2) do |arr_graph_url2| %>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1">
          <%= image_tag(arr_graph_url2[0],
          alt: "analysis", :width=>'100%', :height => '100%') %>
        </div>
        <% if arr_graph_url2[1] %>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <%= image_tag(arr_graph_url2[1],
            alt: "analysis", :width=>'100%', :height => '100%') %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <%= render 'layouts/sidebar' %>
  </div>
</div>
