<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    fx
    <div id = "deepblueBack">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-md-offset-1 col-lg-offset-1">
              <br>
              <% if @usdjpy && @eurjpy %>
                <%= "為替(#{@usdjpy.datetrade})" %>
                <div id="nikkeiValue">
                  <%= "usd/jpy:#{@usdjpy.pricetrade.round(2)}" %>
                  <br>
                  <%= "eur/jpy:#{@eurjpy.pricetrade.round(2)}" %>

                  <BR>
                    <!-- TradingView Widget END -->
                </div>

                <div class="right">
                  <%= "#{@usdjpy.datetrade}, ask:#{@usdjpy.ask}, bid:#{@usdjpy.bid}" %>
                  <br>
                  <%= "#{@eurjpy.datetrade}, ask:#{@eurjpy.ask}, bid:#{@eurjpy.bid}" %>
                </div>
                <br>
              <% else %>
                <%= "nullです。" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <br>

    <!-- TradingView Widget BEGIN -->
    <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget({
      "width": '99%',
      "height": 610,
      "symbol": "FX:USDJPY",
      "interval": "D",
      "timezone": "Etc/UTC",
      "theme": "White",
      "style": "1",
      "locale": "ja",
      "toolbar_bg": "#f1f3f6",
      "allow_symbol_change": true,
      "hideideas": true,
      "show_popup_button": true,
      "popup_width": "1000",
      "popup_height": "650",
      "no_referral_id": true
    });
    </script>


    <br>
    <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget({
      "width": '99%',
      "height": 610,
      "symbol": "FX:EURJPY",
      "interval": "D",
      "timezone": "Etc/UTC",
      "theme": "White",
      "style": "1",
      "locale": "ja",
      "toolbar_bg": "#f1f3f6",
      "allow_symbol_change": true,
      "hideideas": true,
      "show_popup_button": true,
      "popup_width": "1000",
      "popup_height": "650",
      "no_referral_id": true
    });
    </script>





    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
        為替レート一覧
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table>
              <tr>
                <th>currency</th>
                <% @arr_keys.each do |code| %>
                  <th><%= code %></th>
                <% end %>
              </tr>

              <% (0..@arr_keys.count-1).each do |no_hash1| %>
                <tr>
                  <!-- 一番左のセル -->
                  <!-- <td style = "background-color: #bde9ba;"><%= @arr_keys[no_hash1] %></td> -->
                  <td style="background-color:#258;color:#fff;">
                    <%= @arr_keys[no_hash1] %></td>
                  <% (0..@arr_keys.count-1).each do |no_hash2| %>
                    <% ticker = String(@arr_keys[no_hash1].to_s+@arr_keys[no_hash2].to_s+"=X") %>
                    <td><%= @hash_fx[ticker] %></td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <%= render 'layouts/sidebar' %>
  </div>
</div>
