<meta name="google-site-verification" content="yBuxQOyFzy_ZC7uC3CctyZW8wxKEQjGFAiliYpPu5pY" />
<% set_meta_tags title: '日本株チャートと初心者講座' %>
<% set_meta_tags description:
'日経平均に代表される日本株インデックスとダウジョーンズ指数に代表されるアメリカ株式市場や
 ロンドン市場、ヨーロッパ市場、上海市場、商品価格などの海外市場における代表的な指数のリアルタイムチャートで分析する投資総合ポータルと株式投資初心者講座' %>


<%= include_gon %>
<div class="graybackground_withline">
  このサイトは管理人自身が日本株の売買をしていて必要な情報が手に入らなかったり、重要なニュースをスルーしてしまったという、
  株式売買における情報取得に対して不便に感じたことがきっかけとなり、
  それなら自分で作ろうと思って作成したサイトです。<br>
  このサイトは有料のホスティングサービスを使っており、一部広告も表示されておりますのでご了承ください。<br>
  <br>
  【このサイトで解消したいこと】<br>
  ・個別銘柄や先物の売買していた時、長期トレンドと短期トレンドを確認したかったがすぐに自由にチャートの表示期間等を動かしながら確認出来るリソースがなかったこと。<br>
  ・前日のダウや上海市場の引け値、その他海外の株式インデックス騰落率の状況<br>
  ・値動きをもたらすニュースの即時確認<br>
  ・値動きがあった時の出来高<br>
  ・なぜ今値動きが生じているのかというチャートとイベントの関連性の解説<br>
</div>
<!-- google chart -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77161139-1', 'auto');
  ga('send', 'pageview');

</script>



<!-- stock -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<!-- map -->
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<script>
$(function () {//３番目に表示される(TOYOTA)
    $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?a=e&filename=aapl-ohlc.json&callback=?', function (data) {
      //  console.log("data=" + data);

        // create data
        // var historicals = gon.historical_toyota
        var historicals = gon.historical["7203"]
        var ohlc = [],
            volume = [];
            // console.log("length=", dataLength)
            // dataLength = historicals.length;
        // alert(data[0][0]+","+data[1][0]+","+data[2][0]+","+data[3][0])
        // var unixtime=data[0][0]/1000
        // alert("original unix=" + unixtime)

        for (i = 0; i < historicals.length; i++) {
            var ymd=String(historicals[i]["ymd"])
            var year=ymd.substring(0, 4);
            var month=ymd.substring(4, 6);
            var day=ymd.substring(6, 8);
            var ts = year+"-"+month+"-"+day+" 00:00:00";//"2011-10-14 00:00:00";
            ts=String(ts)
            var unixtime1=Date.parse( ts.replace( /-/g, '/') )

            // alert(ymd)
            // alert(year)
            // alert(month)
            // alert(day)
            // alert(ts)
            // alert( Date.parse( ts.replace( /-/g, '/') ) / 1000 );
            // alert("unixtime="+unixtime1)

            var open=historicals[i]["open"];
            var high=historicals[i]["high"];
            var low=historicals[i]["low"];
            var close=historicals[i]["close"];
            var volume1=historicals[i]["volume"];
            // console.log("ymd=",data[i][0]);
            // console.log("ymd2=", unixtime1);
            ohlc.push([
              unixtime1,
              open,
              high,
              low,
              close
                // data[i][0], // the date : unixtime
                // data[i][1], // open
                // data[i][2], // high
                // data[i][3], // low
                // data[i][4] // close
            ]);

            volume.push([
              unixtime1,
              volume1
                // data[i][0], // the date
                // data[i][5] // the volume
            ])
        }

        // set the allowed units for data grouping
        var groupingUnits = [[
            'week',                         // unit name
            [1]                             // allowed multiples
        ], [
            'month',
            [1, 2, 3, 4, 6]
        ]];

        // 2位以降docomo9437done, ntt9432, jt2914, kddi9433, MUFG8306, softbank9984,日本郵政6178,ゆうちょ7282,honda7267

        //create the chart:docomo
        // $('#container_docomo').highcharts('StockChart', {
        //
        //
        //     rangeSelector : {
        //         selected : 1
        //     },
        //
        //     title : {
        //       // http://www.nikkei.com/markets/ranking/stock/caphigh.aspx
        //         text : 'NTTドコモ株(9437.T)'
        //     },
        //     yAxis: [{
        //         title: {
        //             text: 'price'
        //         },
        //         height: 170,
        //         lineWidth: 2
        //     }, {
        //         title: {
        //             text: 'Volume'
        //         },
        //         top: 250,
        //         height: 40,
        //         offset: 0,
        //         lineWidth: 2
        //     }],
        //
        //     series : [{
        //         type : 'candlestick',
        //         name : 'Toyota 7203.T',
        //         data : ohlc,
        //         dataGrouping: {
        //             units: groupingUnits
        //         }
        //     },{
        //       type: 'column',
        //       name: 'Volume',
        //       data: volume,
        //       yAxis: 1,
        //       dataGrouping: {
        //           units: groupingUnits
        //       }
        //     }
        //   ]
        // });

        // create the chart:toyota
        $('#container_toyota').highcharts('StockChart', {


            rangeSelector : {
                selected : 1
            },

            title : {
              // http://www.nikkei.com/markets/ranking/stock/caphigh.aspx
                text : 'トヨタ株(7203.T)'
            },
            yAxis: [{
                title: {
                    text: 'price'
                },
                height: 170,
                lineWidth: 2
            }, {
                title: {
                    text: 'Volume'
                },
                top: 250,
                height: 40,
                offset: 0,
                lineWidth: 2
            }],

            series : [{
                type : 'candlestick',
                name : 'Toyota 7203.T',
                data : ohlc,
                dataGrouping: {
                    units: groupingUnits
                }
              },{
                type: 'column',
                name: 'Volume',
                data: volume,
                yAxis: 1,
                dataGrouping: {
                    units: groupingUnits
                }
              }
            ]
        });
    });
});

// parameterを渡す設計にすれば一つのjqueryで複数のデータに対して実行できるが、、
// cssで呼び出すときにどうやってパラメータを渡すのであろうか。。
// appleみたいにjsonを返すapi経由でもらうとか？
$(function() {
    // $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-ohlcv.json&callback=?',
    //  function(data) {
      //model-db(active_record)からデータを取得してjsに渡す方法
      //http://qiita.com/s_nakamura/items/5d153f7d9db1b1190296
      // split the data set into ohlc and volume

      // 日経チャートを表示する
      // var historicals=gon.historical_nikkei
      var historicals = gon.historical["^N225"]
      // var historicals = gon.historical[ticker]
      // alert(historicals[0]["ymd"])
      // console.log('historicals=', historicals[0])
      // console.log('style=', style);
      var ohlc = [],
          volume = [];
          // dataLength = data.length;
          // console.log("length=", dataLength)
      // alert(historicals.length)
      // alert(data[0][0]+","+data[1][0]+","+data[2][0]+","+data[3][0])
      // var unixtime=data[0][0]/1000
      // alert("original unix=" + unixtime)

      for (i = 0; i<historicals.length; i++) {
          var ymd=String(historicals[i]["ymd"])
          var year=ymd.substring(0, 4);
          var month=ymd.substring(4, 6);
          var day=ymd.substring(6, 8);
          var ts = String(year+"-"+month+"-"+day+" 00:00:00");//"2011-10-14 00:00:00";
          // console.log(ts);
          var unixtime1=Date.parse( ts.replace( /-/g, '/') )
          // console.log("ymd:"+ymd+",unix="+unixtime1);
          // 1367247600000

          // alert(ymd)
          // alert(year)
          // alert(month)
          // alert(day)
          // alert(ts)
          // alert( Date.parse( ts.replace( /-/g, '/') ) / 1000 );
          // alert("unixtime="+unixtime1)

          // console.log("unixtime1=" + unixtime1)

          var open=historicals[i]["open"];
          var high=historicals[i]["high"];
          var low=historicals[i]["low"];
          var close=historicals[i]["close"];
          var volume1=historicals[i]["volume"];
          // console.log("ymd=",data[i][0]);
          // console.log("ymd2=", unixtime1);
          ohlc.push([
            unixtime1,
            open,
            high,
            low,
            close
              // data[i][0], // the date : unixtime
              // data[i][1], // open
              // data[i][2], // high
              // data[i][3], // low
              // data[i][4] // close
          ]);

          volume.push([
            unixtime1,
            volume1
              // data[i][0], // the date
              // data[i][5] // the volume
          ])


      }


      // set the allowed units for data grouping
      var groupingUnits = [[
          'week',                         // unit name
          [1]                             // allowed multiples
      ], [
          'month',
          [1, 2, 3, 4, 6]
      ]];

      // create the chart
      $('#nikkei_chart').highcharts('StockChart', {
          rangeSelector: {
              selected: 1
          },
          title: {
              text: "日経平均"
              //historicals[0]["name"]//gon.user_name//arrayData[0]//gon.user_name
              // text: array[0]["20151230"]//gon.@pseries.
          },
          yAxis: [{
              title: {
                  text: 'price'
              },
              height: 170,
              lineWidth: 2
          }, {
              title: {
                  text: 'Volume'
              },
              top: 250,
              height: 40,
              offset: 0,
              lineWidth: 2
          }],

          series: [{
              type:'candlestick',
              name: 'Nikkei225',
              data: ohlc,
              dataGrouping: {
                  units: groupingUnits
              }
          }, {
              type: 'column',
              name: 'Volume',
              data: volume,
              yAxis: 1,
              dataGrouping: {
                  units: groupingUnits
              }
          }]
      });
    // });
});


$(function () {

    $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=aapl-c.json&callback=?', function (data) {
        // Create the chart
        $('#container_apple').highcharts('StockChart', {


            rangeSelector : {
                selected : 1
            },

            title : {
                text : 'アップル株(AAPL)'
            },

            series : [{
                name : 'AAPL',
                data : data,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
    });

});

  $(function () {

    // $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=world-population.json&callback=?', function (data) {

        var mapData = Highcharts.geojson(Highcharts.maps['custom/world']);

        // Correct UK to GB in data
        // $.each(data, function () {
        //     if (this.code === 'UK') {
        //         this.code = 'GB';
        //     }
        // });
        $('#container_map').highcharts('Map', {

            chart : {
                borderWidth : 1
            },

            title: {
                text: 'World Return-Rate'
            },

            subtitle : {
                text : '各国の株式市場の騰落率(直近の引け値からの現値騰落率)'
            },

            legend: {
                enabled: false
            },
            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },
            mapNavigation: {
                enabled: true
            },
            series : [{
                name: 'Countries',
                mapData: mapData,
                // color: '#E0E0E0',
                enableMouseTracking: false
            }, {//こうやって連結すればバブルチャートと領域の色などを同時に描画できそう
                //リターン：色　＆　バブル：取引量
                type: 'mapbubble',
                mapData: mapData,
                name: 'change rate',
                joinBy: ['iso-a2', 'code'],
                data: gon.country_return_plus,
                dataLabels: {
                    enabled: true,
                    color: '#FFFFFF',
                    format: '{point.code}'
                },
                minSize: 20,
                maxSize: '30%',
                tooltip: {
                    pointFormat: '{point.code}: {point.z} %'
                },

                marker: {
                  fillColor: {
                      radialGradient: { cx: 0.4, cy: .3, r: .7 },
                      stops: [
                          [0, 'rgba(255,255,255,0.5)'],
                          [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.5).get('rgba')]
                      ]
                  },
                  lineColor:'#999999',
                  states:{
                    hover:{
                      lineWidth: 1,
                      lineColor: 'blue',
                      fillColor:'#0000ff'
                    }
                  }
                }
            },{
              type: 'mapbubble',
              mapData: mapData,
              name: 'change rate',
              joinBy: ['iso-a2', 'code'],
              data: gon.country_return_minus,
              dataLabels: {
                  enabled: true,
                  color: '#FFFFFF',
                  format: '{point.code}'
              },
              minSize: 20,
              maxSize: '30%',
              tooltip: {
                  pointFormat: '{point.code}: ▲{point.z} %'
              },

              marker: {
                fillColor: {
                    radialGradient: { cx: 0.4, cy: .3, r: .7 },
                    stops: [
                        [0, 'rgba(255,255,255,0.5)'],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[5]).setOpacity(0.5).get('rgba')]
                    ]
                },
                lineColor:'#999999',
                states:{
                  hover:{
                    lineWidth: 1,
                    lineColor: 'red',
                    fillColor:'#ff0000'
                  },
                }
              }
            }]
        });
    // });
});
</script>

<h1>世界経済と日本株チャート</h1>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  <div class = "row">
    <!-- candle stick nk225 -->
    <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
      <h2>世界経済の主要指標騰落率</h2>
      <br>
      <br>
      <div class="studytips">
        <h4>日経平均株価</h4><br><br>
        日経平均は日本国内の流動性の高い225銘柄の株価を単純平均した値。<br>
        日本の株式市場全体の動き、特に時価総額が大きな銘柄の値動きを見る時に用いられます。<br>
        一方で東証一部上場企業全体の株価を時価総額の変化として見るTOPIXなどの指標も合わせて見られます。<br>
        詳しくは<%= link_to 'こちら', '/study_pages/advanced/nikkei225sakimono' %>
        <br>
        <div id="nikkei_chart" style="width:100%; height:400px;"></div>
      </div>
    </div>
  </div>

  <div class = "row">
    <!-- global map -->
    <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
      <div class="studytips">
        <h4>世界経済の騰落率状況</h4><br><br>
        各国の主要指標の最新騰落状況をバブルチャートで表現しています。<br>
        <br>
        詳しくは<%= link_to 'こちら', '/study_pages/advanced/nikkei225sakimono' %>
        <br>
        <div id="container_map" style="width:100%; height:400px;"></div>
      </div>
    </div>
  </div>


  <div class = "row">
    <!-- candle stick @apple -->
    <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
      <div id="container_toyota" style="width:100%; height:400px;"></div>
    </div>
  </div>

  <div class = "row">
    <!-- line chart -->
    <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
      <div id="container_apple" style="width:100%; height:400px;"></div>
    </div>
  </div>


  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <br>
      <%= link_to "http://www.nikkei.com/markets/kabu/" do %>
        <!-- 90, 120 -->
        <%= image_tag("http://www.nikkei.co.jp/gifdata/nk_chart_L.gif",
        alt: "日経平均チャート", :width => '205', :height => '150') %>
        <br><br>
        <center>日経平均チャート</center>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <br>
      <%= link_to "http://www.nikkei.com/markets/kabu/" do %>
        <!-- 90, 120 -->
        <%= image_tag("http://quote.jpx.co.jp/jpx/chart/chart23.exe?template=ini/realindex&basequote=151&15%3A00",
         alt: "トピックスチャート", :width => '205', :height => '160') %>
        <br>
        <center>トピックスチャート</center>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

      <%= link_to "http://www.google.com" do %>
        <%= image_tag("http://www.jpx.co.jp/top/indices/charts/TseMothersIndexChart.gif",
        alt: "マザーズチャート", :width => '210', :height => '183') %>
        <br>
        <center>マザーズチャート</center>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <%= link_to "http://www.nikkei.com/markets/chart/#!/0101" do %>
        <%= image_tag("http://www.nikkei.co.jp/chart/nka_l.gif",
        alt: "日経平均とダウ平均", :width => '200', :height => '173') %>
        <br>
        <center>日経平均とダウ平均</center>
      <% end %>
    </div>
  </div>



<!--
<p>Click the buttons to create and delete row(s) for the table.</p>
<table id="myTable">
  <tr>
    <td>Row1 cell1</td>
    <td>Row1 cell2</td>
  </tr>
  <tr>
    <td>Row2 cell1</td>
    <td>Row2 cell2</td>
  </tr>
  <tr>
    <td>Row3 cell1</td>
    <td>Row3 cell2</td>
  </tr>
</table>
<br> -->

<!-- <button onclick="myCreateFunction()">Create row</button>
<button onclick="myDeleteFunction()">Delete row</button> -->


<!-- highstock チャート表示 -->


    <!-- candle chart -->
    <br><br><br>
    <h2>世界各国の最新株価指標の推移</h2>
    <br>
    <!-- <div id="historical_chart"></div> -->
    <!-- <div id="container1" style="height: 400px; min-width: 310px"></div> -->
    <!-- bar graph -->
    <% if @h then %>
    <%= high_chart("sample", @h) %>
    <% end if %>




    <!-- 世界チャート -->
    <!-- 一行目 -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 first-col">
        <%= link_to "http://google.com" do %>
          <!-- 90, 120 -->
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^NZ50",
          alt: "ニュージーランド", :width => '192', :height => '96') %>
          <br>
          ニュージーランド
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "" do %>
          <!-- 90, 120 -->
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^AXJO",
           alt: "オーストラリア", :width => '192', :height => '96') %>
          <br>
          オーストラリア
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "http://www.google.com" do %>
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^JKSE",
          alt: "インドネシア", :width => '192', :height => '96') %>
          <br>
          インドネシア
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "http://www.google.com" do %>
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^KS11",
          alt: "韓国", :width => '192', :height => '96') %>
          <br>
          韓国
        <% end %>
      </div>
    </div>
    <!-- 2行目 -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "http://www.google.com" do %>
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=000001.SS",
          alt: "中国", :width => '192', :height => '96') %>
          <br>
          中国
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 first-col">
        <%= link_to "http://google.com" do %>
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^TWII",
          alt: "台湾", :width => '192', :height => '96') %>
          <br>
          台湾
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "" do %>
          <!-- 90, 120 -->
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^STI",
           alt: "シンガポール", :width => '192', :height => '96') %>
          <br>
          シンガポール
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "上海" do %>
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=000001.SS",
          alt: "上海", :width => '192', :height => '96') %>
          <br>
          上海総合指数
        <% end %>
      </div>
    </div>
    http://stackoverflow.com/questions/20010080/how-to-change-the-colour-of-a-row-in-bootstrap-3
    https://www.psd2html.com/blog/customize-bootstrap-grid-with-sass.html
    <!-- 3行目 -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 first-col">
        <%= link_to "http://google.com" do %>
          <!-- 90, 120 -->
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^TWII",
          alt: "ハンセン", :width => '192', :height => '96') %>
          <br>
          ニュージーランド
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "" do %>
          <!-- 90, 120 -->
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^JKSE",
           alt: "ジャカルタ", :width => '192', :height => '96') %>
          <br>
          ジャカルタ
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "" do %>
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^BSESN",
          alt: "インド SENSEX", :width => '192', :height => '96') %>
          <br>
          インド SENSEX
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "" do %>
          <!-- 90, 120 -->
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=RTS.RS",
           alt: "ロシア", :width => '192', :height => '96') %>
          <br>
          ロシア
        <% end %>
      </div>
    </div>

    <!-- 4行目 -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 first-col">
        <%= link_to "http://google.com" do %>
          <!-- 90, 120 -->
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^FCHI",
          alt: "フランス", :width => '192', :height => '96') %>
          <br>
          フランス
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "" do %>
          <!-- 90, 120 -->
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^GDAXI",
           alt: "ドイツ", :width => '192', :height => '96') %>
          <br>
          ドイツ
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "" do %>
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^FTSE",
          alt: "イギリス", :width => '192', :height => '96') %>
          <br>
          イギリス
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 first-col">
        <%= link_to "http://google.com" do %>
          <!-- 90, 120 -->
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=FTSEMIB.MI",
          alt: "イタリア", :width => '192', :height => '96') %>
          <br>
          イタリア
        <% end %>
      </div>
    </div>

    <!-- 5行目 -->
    <div class="row">


      <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "" do %>
          <%= image_tag("",
          alt: "", :width => '192', :height => '96') %>
          <br>

        <% end %>
      </div> -->
    </div>

    <!-- 6行目:中南米 -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 first-col">
        <%= link_to "http://google.com" do %>
          <!-- 90, 120 -->
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^BVSP",
          alt: "ボベスパ（ブラジル）", :width => '192', :height => '96') %>
          <br>
          ボベスパ（ブラジル）
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "" do %>
          <!-- 90, 120 -->
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^MERV",
           alt: "メルバル", :width => '192', :height => '96') %>
          <br>
          メルバル（アルゼンチン）
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <%= link_to "" do %>
          <%= image_tag("http://ichart.finance.yahoo.com/t?s=^MXX",
          alt: "メキシコ", :width => '192', :height => '96') %>
          <br>
          IPC(メキシコ)
        <% end %>
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <%= render 'layouts/sidebar' %>
  </div>
</div>



<script>
function myCreateFunction() {
    var table = document.getElementById("myTable");
    var row = table.insertRow(0);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    cell1.innerHTML = "NEW CELL1";
    cell2.innerHTML = "NEW CELL2";
}

function myDeleteFunction() {
    document.getElementById("myTable").deleteRow(0);
}
</script>
