<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">


    <% @kessan_feeds.each do |kessan| %>
      <%= link_to kessan.link do %>
        <%= Time.at(kessan.feed_id.to_i).strftime('%Y-%m-%d') %>
        <br>
        <%= (kessan.feed_id.to_i) %>
        <br>
        <%= kessan.title %>
        <br>
        <br>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <%= render 'layouts/sidebar' %>
  </div>
</div>
