<%= include_gon %>
<!-- stock -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script>
$(function() {
    // $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-ohlcv.json&callback=?',
    //  function(data) {
      //model-db(active_record)からデータを取得してjsに渡す方法
      //http://qiita.com/s_nakamura/items/5d153f7d9db1b1190296
      // split the data set into ohlc and volume


      var historicals=gon.historical_data

      var ohlc = [],
          volume = [],
          // dataLength = data.length;
          // console.log("length=", dataLength)
          dataLength=historicals.length;
      // alert(data[0][0]+","+data[1][0]+","+data[2][0]+","+data[3][0])
      // var unixtime=data[0][0]/1000
      // alert("original unix=" + unixtime)

      for (i = 0; i < dataLength&&i<historicals.length; i++) {
          var ymd=String(historicals[i]["ymd"])
          var year=ymd.substring(0, 4);
          var month=ymd.substring(4, 6);
          var day=ymd.substring(6, 8);
          var ts = year+"-"+month+"-"+day+" 00:00:00";//"2011-10-14 00:00:00";
          ts=String(ts)
          var unixtime1=Date.parse( ts.replace( /-/g, '/') )

          // alert(ymd)
          // alert(year)
          // alert(month)
          // alert(day)
          // alert(ts)
          // alert( Date.parse( ts.replace( /-/g, '/') ) / 1000 );
          // alert("unixtime="+unixtime1)

          var open=historicals[i]["open"];
          var high=historicals[i]["high"];
          var low=historicals[i]["low"];
          var close=historicals[i]["close"];
          var volume1=historicals[i]["volume"];
          // console.log("ymd=",data[i][0]);
          // console.log("ymd2=", unixtime1);
          ohlc.push([
            unixtime1,
            open,
            high,
            low,
            close
              // data[i][0], // the date : unixtime
              // data[i][1], // open
              // data[i][2], // high
              // data[i][3], // low
              // data[i][4] // close
          ]);

          volume.push([
            unixtime1,
            volume1
              // data[i][0], // the date
              // data[i][5] // the volume
          ])
      }

      // set the allowed units for data grouping
      var groupingUnits = [[
          'week',                         // unit name
          [1]                             // allowed multiples
      ], [
          'month',
          [1, 2, 3, 4, 6]
      ]];


      // create the chart
      $('#container').highcharts('StockChart', {

          rangeSelector: {
              selected: 1
          },
          title: {
              text: historicals[0]["ticker"]//gon.user_name//arrayData[0]//gon.user_name
              // text: array[0]["20151230"]//gon.@pseries.
          },
          yAxis: [{
              title: {
                  text: 'price'
              },
              height: 170,
              lineWidth: 2
          }, {
              title: {
                  text: 'Volume'
              },
              top: 250,
              height: 40,
              offset: 0,
              lineWidth: 2
          }],

          series: [{
              type:'candlestick',
              name: 'Nikkei225',
              data: ohlc,
              dataGrouping: {
                  units: groupingUnits
              }
          }, {
              type: 'column',
              name: 'Volume',
              data: volume,
              yAxis: 1,
              dataGrouping: {
                  units: groupingUnits
              }
          }]
      });
      //console.log("chartsssss=",charts);
      //charts.new()
    // });
});

</script>




<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <!-- main contents field -->

    <div id = "deepblueBack">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-md-offset-1 col-lg-offset-1">
              <br>
              <!-- 最新のデータを取得する -->
              <%= "日経平均株価指数(#{@nikkei225_now2[0].ymd})" %>
              <div id="nikkeiValue">
                <%= number_with_delimiter(@valueNikkei225.to_d.floor(2), :delimiter => ',') %>
              </div>
              <% kigo = "+" %>
              <% if @diffNikkei225.to_f < 0 %>
                <% kigo = "▲" %>
              <% end %>

              <div class="right">

                <%= "前日比: " + kigo + @diffNikkei225.to_f.abs.to_s %>
                <%= "( " + kigo + @returnNikkei225.to_f.abs.to_s + " % )" %>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">


        <div id="container" style="width:100%; height:400px;"></div>
        <br>


        騰落率ランキング
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <% if @up_ranks.length > 0 %>
              <table class="ranking">
                <tr>
                  <th>順位</th>
                  <th>コード</th>
                  <th>上昇率ランキング</th>
                  <th>騰落率(%)</th>
                  <th>価格</th>
                  <th>前日比</th>
                </tr>
                <% @up_ranks.each do |rank_info| %>
                  <% if rank_info.kind_of?(Array) %>
                    <% stock_info = rank_info[1] %>

                    <!-- 10位までに限定：ボタンとかで50位まで表示するオプションをつけてもいいかも -->
                    <% if stock_info["rank"].to_i <= 10 %>
                      <tr>
                        <td><%= stock_info["rank"] %></td>
                        <td><%= stock_info["stock_code"] %></td>
                        <td><%= stock_info["name"] %></td>
                        <td><%= stock_info["return"] %></td>
                        <td><%= stock_info["price"] %></td>
                        <td><%= stock_info["vsYesterday"] %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>

                <tr>
                  <th>順位</th>
                  <th>コード</th>
                  <th>下落率ランキング</th>
                  <th>騰落率(%)</th>
                  <th>価格</th>
                  <th>前日比</th>
                </tr>
                <!-- カラム幅を揃えるため同一テーブルで表示 -->
                <% @down_ranks.each do |rank_info| %>
                  <% if rank_info.kind_of?(Array) %>
                    <% stock_info = rank_info[1] %>

                    <!-- 10位までに限定：ボタンとかで50位まで表示するオプションをつけてもいいかも -->
                    <% if stock_info["rank"].to_i <= 10 %>
                      <tr>
                        <td><%= stock_info["rank"] %></td>
                        <td><%= stock_info["stock_code"] %></td>
                        <td><%= stock_info["name"] %></td>
                        <td><%= stock_info["return"] %></td>
                        <td><%= stock_info["price"] %></td>
                        <td><%= stock_info["vsYesterday"] %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </table>
            <% end %><!-- if @up_ranks.length > 0 -->
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <%= render 'layouts/sidebar' %>
  </div>
</div>
