<%= include_gon %>
<!-- stock -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script>
$(function() {
    // $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-ohlcv.json&callback=?',
    //  function(data) {
      //model-db(active_record)からデータを取得してjsに渡す方法
      //http://qiita.com/s_nakamura/items/5d153f7d9db1b1190296
      // split the data set into ohlc and volume


      var historicals=gon.shanghai_historical
      // alert(historicals[0]["ymd"])
      console.log('historicals=', historicals[0])

      var ohlc = [],
          volume = [],
          // dataLength = data.length;
          // console.log("length=", dataLength)
          dataLength=historicals.length;
      // alert(data[0][0]+","+data[1][0]+","+data[2][0]+","+data[3][0])
      // var unixtime=data[0][0]/1000
      // alert("original unix=" + unixtime)

      for (i = 0; i < dataLength&&i<historicals.length; i++) {
          var ymd=String(historicals[i]["ymd"])
          var year=ymd.substring(0, 4);
          var month=ymd.substring(4, 6);
          var day=ymd.substring(6, 8);
          var ts = year+"-"+month+"-"+day+" 00:00:00";//"2011-10-14 00:00:00";
          ts=String(ts)
          var unixtime1=Date.parse( ts.replace( /-/g, '/') )

          // alert(ymd)
          // alert(year)
          // alert(month)
          // alert(day)
          // alert(ts)
          // alert( Date.parse( ts.replace( /-/g, '/') ) / 1000 );
          // alert("unixtime="+unixtime1)

          var open=historicals[i]["open"];
          var high=historicals[i]["high"];
          var low=historicals[i]["low"];
          var close=historicals[i]["close"];
          var volume1=historicals[i]["volume"];
          // console.log("ymd=",data[i][0]);
          // console.log("ymd2=", unixtime1);
          ohlc.push([
            unixtime1,
            open,
            high,
            low,
            close
              // data[i][0], // the date : unixtime
              // data[i][1], // open
              // data[i][2], // high
              // data[i][3], // low
              // data[i][4] // close
          ]);

          volume.push([
            unixtime1,
            volume1
              // data[i][0], // the date
              // data[i][5] // the volume
          ])


      }

      // set the allowed units for data grouping
      var groupingUnits = [[
          'week',                         // unit name
          [1]                             // allowed multiples
      ], [
          'month',
          [1, 2, 3, 4, 6]
      ]];

      // create the chart
      $('#shanghai_graph').highcharts('StockChart', {
          rangeSelector: {
              selected: 1
          },
          title: {
              text: historicals[0]["ticker"]//gon.user_name//arrayData[0]//gon.user_name
              // text: array[0]["20151230"]//gon.@pseries.
          },
          yAxis: [{
              title: {
                  text: 'price'
              },
              height: 170,
              lineWidth: 2
          }, {
              title: {
                  text: 'Volume'
              },
              top: 250,
              height: 40,
              offset: 0,
              lineWidth: 2
          }],

          series: [{
              // type:'candlestick', // shanghaiはyahoo-financeの時系列データでohlc形式が取得できなかったため折れ線
              name: historicals[0].ticker,
              data: ohlc,
              dataGrouping: {
                  units: groupingUnits
              }
          }, {
              type: 'column',
              name: 'Volume',
              data: volume,
              yAxis: 1,
              dataGrouping: {
                  units: groupingUnits
              }
          }]
      });
    // });
});

</script>



<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <!-- main contents field -->

    <div id = "deepredBack">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-md-offset-1 col-lg-offset-1">
              <br>
              上海市場平均
              <div id="nikkeiValue">
                <%= number_with_delimiter(@valueShanghai.to_d.floor(2), :delimiter => ',') %>
              </div>
              <% kigo = "+" %>
              <% if @diffShanghai.to_f < 0 %>
                <% kigo = "▲" %>
              <% end %>

              <div class="right">

                <%= "前日比: " + kigo + @diffShanghai.to_f.abs.to_s %>
                <%= "( " + kigo + @returnShanghai.to_f.abs.to_s + " % )" %>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">


        <div id="shanghai_graph" style="width:100%; height:400px;"></div>
        <br>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
        騰落率
        <% if @asia_newest_data.length > 0 %>
          <% cnt = 0 %>
          <table class="ranking">
            <tr>
              <th>アジア主要インデックス</th>
              <th>ticker</th>
              <th>最新</th>
              <th>前日比</th>
              <th>騰落率(%)</th>
              <th>取得日</th>
            </tr>
            <% @asia_newest_data.each do |asia| %>
              <tr>
                <td><%= @hash_key_name_asia[asia.ticker] %></td>
                <td><%= asia.ticker %></td>
                <td><%= asia.pricetrade %></td>
                <td><%= (asia.pricetrade - asia.previoustrade).round(2) %></td>
                <td><%= ((asia.pricetrade / asia.previoustrade - 1 ) * 100).round(2) %></td>
                <td><%= asia.datetrade %></td>
              </tr>
              <% cnt = cnt + 1 %>
            <% end %>
          </table>
        <% end %><!-- if @up_ranks.length > 0 -->
        <br>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 first-col">
            <%= link_to "http://google.com" do %>
              <!-- 90, 120 -->
              <%= image_tag("http://ichart.finance.yahoo.com/t?s=399108.SZ",
              alt: "上海総合指数", :width => '192', :height => '96') %>
              <br>
              上海総合指数
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <%= link_to "" do %>
              <!-- 90, 120 -->
              <%= image_tag("http://ichart.finance.yahoo.com/t?s=399107.SZ",
               alt: "CSI300", :width => '192', :height => '96') %>
              <br>
              CSI300
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <%= link_to "http://www.google.com" do %>
              <%= image_tag("http://ichart.finance.yahoo.com/t?s=^HSCE",
              alt: "上海B株", :width => '192', :height => '96') %>
              <br>
              上海B株
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <%= link_to "http://www.google.com" do %>
              <%= image_tag("http://ichart.finance.yahoo.com/t?s=^HSCC",
              alt: "深センB株", :width => '192', :height => '96') %>
              <br>
              深センB株
            <% end %>
          </div>
        </div>
        <!-- 2行目 -->
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 first-col">
            <%= link_to "http://www.google.com" do %>
              <%= image_tag("http://ichart.finance.yahoo.com/t?s=^HSCC",
              alt: "深センB株", :width => '192', :height => '96') %>
              <br>
              深センB株
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <%= link_to "http://www.google.com" do %>
              <%= image_tag("http://ichart.finance.yahoo.com/t?s=^HSCC",
              alt: "深センB株", :width => '192', :height => '96') %>
              <br>
              深センB株
            <% end %>
          </div>
        </div>

      </div>
    </div>

    <br>
    <p>上海A株は、代表的な中国株式の一つで、中華人民共和国（中国本土）の上海市場（上海証券取引所）のA株市場に上場している中国企業の株式のことをいいます。これは、人民元によって売買されており、中国本土投資家と適格外国人機関投資家（QFII）が直接取引が可能なほか、2014年11月から「上海・香港株式市場相互乗り入れプログラム」を利用して、香港経由で一般投資家も取引が可能となっています。（香港では非居住者である香港以外に住んでいる外国人でも株式取引が可能なため、事実上、香港を経由して海外から上海A株を取引が可能）。現在、中国本土には、上海と深センの２つの株式市場があり、これらは「A株市場」と「B株市場」に分けられています。元々、中国には、本土の投資家しか取引できない人民元建てのA株市場しかありませんでしたが、1991年に人民元を自由化しない状態で外貨を獲得することを目的に、外国人でも取引できる株式市場としてB株市場が設けられました。なお、A株とB株とは全く同じ権利を持ち、同じ額面で、証券としての中身に差はありませんが、株式を売買する通貨については、上海B株が米ドル建て、深センB株が香港ドル建てとなっています。</p>
    <p>上海B株は、代表的な中国株式の一つで、中華人民共和国（中国本土）の上海市場（上海証券取引所）のB株市場に上場している中国企業の株式のことをいいます。これは、外国人だけでなく、中国本土の投資家も取引可能で、米ドルによって売買されています（日本でも身近な中国株の一つ）。現在、中国本土には、上海と深センの２つの株式市場があり、これらは「A株市場」と「B株市場」に分けられています。元々、中国には、本土の投資家しか取引できない人民元建てのA株市場しかありませんでしたが、1991年に人民元を自由化しない状態で外貨を獲得することを目的に、外国人でも取引できる株式市場としてB株市場が設けられました。（A株とB株とは全く同じ権利を持ち、同じ額面で、証券としての中身に差はないが、株式を売買する通貨については、上海B株が米ドル建て、深センB株が香港ドル建てとなっている）一般に上海B株は、A株市場に上場している企業の中でも、収益力や財務基盤などがしっかりとしている厳選された企業しか上場できないため、上海A株に比べて上場している企業の数は格段に少ないですが、世界的に有名な中国の大手企業などが数多く含まれています。なお、上海B株市場には、指標となる「上海B株指数」というものがあり、これは1990年12月21日を基準値（100）として算出される、上場している全銘柄の時価総額加重平均指数となっています。</p>
    <p>深センA株は、代表的な中国株式の一つで、中華人民共和国（中国本土）の深セン市場（深セン証券取引所）のA株市場に上場している中国企業の株式のことをいいます。これは、中国本土投資家と適格外国人機関投資家（QFII）のみが取引可能で、人民元によって売買されています。現在、中国本土には、上海と深センの２つの株式市場があり、これらは「A株市場」と「B株市場」に分けられています。元々、中国には、本土の投資家しか取引できない人民元建てのA株市場しかありませんでしたが、1991年に人民元を自由化しない状態で外貨を獲得することを目的に、外国人でも取引できる株式市場としてB株市場が設けられました。一般にA株とB株とは全く同じ権利を持ち、同じ額面で、証券としての中身に差はありませんが、株式を売買する通貨については、上海B株が米ドル建て、深センB株が香港ドル建てとなっています。なお、銘柄数は、A株の方が断然に多く、またB株の銘柄がA株を同時に発行している場合、A株の方がB株よりも高い価格で取引されていることが多いです。</p>
    <p>深センB株は、代表的な中国株式の一つで、中華人民共和国（中国本土）の深セン市場（深セン証券取引所）のB株市場に上場している中国企業の株式のことをいいます。これは、中国本土投資家以外の投資家も取引可能で、香港ドルによって売買されています。現在、中国本土には、上海と深センの２つの株式市場があり、これらは「A株市場」と「B株市場」に分けられています。元々、中国には、本土の投資家しか取引できない人民元建てのA株市場しかありませんでしたが、1991年に人民元を自由化しない状態で外貨を獲得することを目的に、外国人でも取引できる株式市場としてB株市場が設けられました。一般にA株とB株とは全く同じ権利を持ち、同じ額面で、証券としての中身に差はありませんが、株式を売買する通貨については、上海B株が米ドル建て、深センB株が香港ドル建てとなっています。なお、銘柄数は、A株の方が断然に多く、またB株の銘柄がA株を同時に発行している場合、A株の方がB株よりも高い価格で取引されていることが多いです。※B株市場は、2001年に中国本土の投資家も取引できるように規制が緩和された。</p>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <%= render 'layouts/sidebar' %>
  </div>
</div>
