<!-- seo -->
<%= set_meta_tags title: 'アナリストレポート' %>
<%= breadcrumb :analyst_report %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         アナリストレポート
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <br>
      <h4>アナリストレポート</h4>
      前節でアナリストについて説明しましたが、私たち個人投資家が彼らと話すことは滅多にありません。<br>
      彼らと関わる唯一の接点はアナリストレポートです。<br>
      <br>
      アナリストレポートとは、アナリストが書いた特定の銘柄や業種、政策や為替について
      国内外の情勢を踏まえて出力したレポートです。<br>
<br><br>
      <h4>アナリストレポートを閲覧する</h4>
      アナリストレポートを閲覧するにはアナリストが発行しているレポートを閲覧できる場所を探します。<br>
      いかに閲覧場所を示します。<br>
<br>
      <strong>証券取引所</strong><br>
      証券取引所は売買時における手数料で成り立っています。<br>
      アナリストレポートなどによって売買が多くなるほど手数料収入が多くなるので、
      レポートを公表することで売買を誘発させる意図があります。<br>
      したがって、個別銘柄に関する情報が多く、内容は市場シェアから事業内容、提携情報まで幅広くカバーされていますが、
      株価の動きを予測できる内容には少し及ばないかもしれません。<br>
      http://www.jpx.co.jp/listing/reports/analyst-report/<br>

      <strong>証券会社</strong><br>
      一般的に証券会社で口座を作ると、その証券会社に所属するアナリストや場合によっては他の証券会社のレポートを閲覧することができます。<br>
      レポートが充実している証券会社は以下の通りです。<br><br>

      <table class="securities_table">
        <tbody>
          <tr>
            <th>順位</th>
            <th>証券会社</th>
            <th>備考</th>
          </tr>
          <tr>
            <th>１位</th>
            <td><%= link_to '楽天証券', 'https://www.rakuten-sec.co.jp/ITS/rakuten_g/flow/' %></td>
            <td>楽天証券経済研究所のアナリストによるアナリストレポート</td>
          </tr>
          <tr>
            <th>２位</th>
            <td><%= link_to 'SBI証券', 'https://www.sbisec.co.jp/ETGate/WPLETmgR001Control?OutSide=on&getFlg=on&burl=search_home&cat1=home&cat2=seminar&dir=seminar&file=home_seminar_online_01.html' %></td>
            <td>モーニングスター社のアナリストによるアナリストレポート</td>
          </tr>
          <tr>
            <th>３位</th>
            <td><%= link_to 'マネックス証券', 'https://www.monex.co.jp/Etc/topbn/guest/G800/new2015/news1512_32.htm' %></td>
            <td>JPモルガン社のアナリストによるアナリストレポートと投資のバイブルである「バロンズ拾い読み」</td>
          </tr>
        </tbody>
      </table>
      <br>
      楽天の場合は口座を持っていなくても株式、投資信託、先物取引、FXなどに関するアナリストレポートが見られるのでお得です。<br>
      <br><br><br>
      <strong>リサーチ会社</strong><br>
      どの証券会社にも属さないリサーチ会社によるレポートも見逃せません。<br>
      証券会社などの運用系の会社に属していない独立しているアナリストレポート発行機関は以下の２社になります。<br>
      <table class="securities_table">
        <tbody>
          <tr>
            <th>発行元</th>
            <th>一般社団法人 証券リサーチセンター</th>
            <th>JASDAQアナリストレポート・プラットフォーム</th>
          </tr>
          <tr>
            <th>対象市場</th>
            <td>マザーズ</td>
            <td>ジャスダック</td>
          </tr>
          <tr>
            <th>レポート作成団体</th>
            <td>早稲田大学 知的資本研究会</td>
            <td>４社公募(アドバンスト・リサーチ・ジャパン＆QBR＆TIW＆モーニングスター)</td>
          </tr>
          <tr>
            <th>カバレッジ</th>
            <td>35%</td>
            <td>10%</td>
          </tr>
        </tbody>
      </table>
      <br>
      カバレッジとはアナリストレポートで評価された銘柄数の上場企業数に対する割合になります。<br>
      <br>

      <strong>投資情報サイト</strong><br>
      有名どころでは以下の４種類程度でしょうか。<br>
<br>
      <%= link_to 'IFIS株予報', 'http://kabuyoho.ifis.co.jp' %><br>
      決算スケジュールや著名アナリストによる株式コラム、投信ランキングやチャート分析、ニュースと
      幅広い情報が掲載されています。<br>
      銘柄ごとに決算予想に対する足元の進捗状況やコンセンサスなどの情報もあり、銘柄選定に非常に役立つ内容となっております。<br>
      <br>
      <%= link_to 'InfoComニューズレター', 'http://www.icr.co.jp/newsletter/' %><br>
      情報通信総合研究所という研究機関がつくったサイトで、金融という枠に捉われず、主にITに関するニュースやトレンドを開設するサイトになります。

      <%= link_to '経済レポート専門ニュース', 'http://www3.keizaireport.com/' %><br>
      官公庁や研究機関、シンクタンクが公表している経済データ、ニュースなどのキュレーションサイトです。<br>
      経済構造やイノベーションなどマクロ的な視点で景況感を判断したり、業界全体を調べたいという時に役立つでしょう。<br>
<br><br>

      基本的に<strong>誰でも閲覧可能な状態の状態にあるレポートは情報の質が低い</strong>傾向がありますが、
      上記のサイトであれば質が担保されるので問題ないでしょう。<br>
      有料であれば<%= link_to 'ロイター社', 'https://commerce.jp.reuters.com/purchase/advancedSearch.do?providerList=24336' %>
      のレポートもありますのでご興味あればどうぞ。


    </div>
  </div>
</div>
