<!-- seo -->
<%= set_meta_tags title: 'ミニ株とは' %>
<%= set_meta_tags description:
'IPOに関する初心者としての解説と新規公開株に応募するための方法を紹介するため、
応募に対する抽選方法や、証券会社別の特色と応募証券会社の選び方、最後にSBI証券における応募手順を解説します。' %>
<%= breadcrumb :apply_ipo %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         IPOに応募する
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <h4>新規公開(IPO)とは何か</h4>
      IPOとは<%= link_to 'こちら', '/study_pages/elementary/ipo' %>に書きました通り
      発行した株式を東京証券取引所などの取引所で売買できるようにすることだとご説明しました。<br>
<br>
      株式会社にとっては株式上場は一つの目標でもあるわけですが、このイベントは株主にとっては金銭的においしい場面でもあります。<br>
      その場面が上場後しばらくは株価が上昇するという局面です。<br>
      これは様々な理由が挙げられますが、一つは公募価格が抑えられているということがあげられます。<br>
      そもそも公募とは上場する株を投資家に買ってもらうよう公に募集をかけることで、<br>
      公募価格とはその募集に対して応募した投資家が購入するときの値段になります。<br>
      この公募制度は一つ、もしくはそれ以上の証券会社が最初に企業から株を買い取ってから、投資家に対して募集するという手順になっているので
      証券会社が買い取った株全てに対して、買いたいと言う投資家の応募が足りなかった場合、公募割れといって証券会社がその株を保有し続けてしまうことになります。<br>
      ちなみに買取株数と応募株数は公開しなくてはならず、公募割れの場合はその企業の株は人気がないということが知られ渡り、
      その後の取引所でも需要も伸びず株価が下落するという傾向があります。<br>
      公募価格の算出自体は、形式上、証券会社が理論的に導きだしたということになっていますが、導きだす途中のプロセスの計算には柔軟に調整できる数字もあるので
      恣意的な数字も含まれており、市場の状況や景気などを勘案し、いくら位にしたいという証券会社側の思惑を大きく反映した価格になっています。<br>
      そうした背景もあって、IPOを担当する証券会社は公募割れにならないように公募価格を引き下げて投資家の需要を高める傾向にあるのです。<br>
      当然、こうした原理もわかっている投資家は公募価格が安いので購入したいという心理が働きますし、
      公募に応募して購入した投資家は公募価格以上で売り抜けたいという心理が働き、上場後の取引所ではその銘柄が買われるというという事態が起こります。<br>
<br><br>
      この時、理論的には安い価格の株価を買ってもその企業の(収益から算出される)潜在的価値以上にはならないはずですが、
      モメンタム効果と言って上昇する銘柄をさらに買い続けるという投資家心理が働き、上場後の株価が暫くは上がり続けるという事象が起こりえます。<br>
      <br><br>
      上がり続けた株価が明らかにその企業の実態を表していないということがわかった時点で下落に転じることもありますので深追いは禁物です。<br>
<br>
      <strong>IPO銘柄の応募方法</strong><br>
      ここまでのストーリーの中で、公募に応募した投資家、上場後に購入する投資家のどちらが得をしているかというと、
      私は公募に応募した投資家だと思います。<br>
      上場後は公募価格より上昇するとはいえ、上昇している途中から参加する投資家よりも最初から安い価格で購入している公募に応募した投資家の方が収益率が高いからです。<br>
      ではこのIPO銘柄の公募に応じるにはどうしたら良いでしょうか。<br>
<br>
      IPOは担当する証券会社が買い取って公募するので、その株が割り振られた証券会社に口座を持っていることが最低限、必要な条件になります。<br>
      さらに公募期間中に、その口座を持っている投資家が応募して、その中で抽選という形が多いケースです。<br>
<br>
      ちなみに、証券会社の中で最も多くの株数を買い取って、主担当として上場業務を受け持つ証券会社のことを主幹事証券と言います。
      主幹事証券の実績が多いのは、野村、SMBC日興証券、大和証券、みずほ証券など大手の証券会社になりますが、
      中にはネット証券でもIPOに応募できる証券会社が存在します。<br>
<BR>
      応募方法は証券会社ごとに異なります。
      例えば、マネックス証券などは抽選権が一人一票なので資金が少ない方にもチャンスがあります。
      マネックス証券の場合は、<%= link_to 'こちら', 'http://kabukiso.com/monex/ipo.html' %>に方法を示されています。（後日ページを作成します。）

      <br>ここではネット証券の中でもIPOの幹事になる確率が大きいSBI証券について説明します。<br>
<br>
      SBI証券には<%= link_to 'IPOチャレンジ', '/study_pages/advanced/sbi_ipo_challenge' %>という制度があります。<br>
      この制度はIPOの抽選に漏れてもチャレンジポイントが貰え、ポイントが溜まると当選確率がアップするというものです。<br>
      抽選に外れてもポイントは消費されず、当選するとポイントが消費されるという制度なので
      応募した人全員に平等に当選するチャンスが付与される仕組みです。<br>
<br>
      <br>
      それでは申込方法の説明を行います。<br>
      まずSBI証券にログインして、画面上の青いメニューバーの中の国内株式というメニューを選択してください。<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_01.gif' %>
      <br>
      メニューを押すと下に出現する「新規上場、公募売出」という項目を選択してください。<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_02.gif' %><br>
      <br>
      すると、ページ中段に表示される黄色いボタン「新規上場株式ブックビルディング/購入意思表示」を選択してください。<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_03.gif' %><br><br>

      申込可能なIPO銘柄の一覧が表示されるので、興味のある銘柄に申込を行ってください。<br>
      申し込むためには右側にある黄色いボタンを選択してください。<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_04.gif' %><br>

      続いて、「新規上場株式ブックビルディング申込み」画面が表示されるので、
      申込株数、価格、取引パスワードを入力します。<br>
      ここで注意すべきなのは、価格は仮条件に記載のある範囲の上限金額を入力してください。<br>
      申込価格が高い申込から優先的に割り振られるので、よほど申込が低迷しないない限り、
      上限金額以外で申し込んんだ投資家に割り振られることがないからです。<br>
      入力が終わったら、「申込確認画面へ」ボタンをクリックします。<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_05.gif' %><br>
      <br>
      <br>
      最後に申込内容の確認画面が表示されるので、誤りなどがなければ申込ボタンをクリックします。<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_06.gif' %><br>
<br>
      <br>
      これでIPOの申込は完了しましたので抽選結果が送られるのを待つのみです。<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_07.gif' %><br>
<br><br><br>
      後日、抽選日になったら、当選したかどうか確認しましょう。
      ログインしたら上記と同じ手順で「新規上場株式ブックビルディング/購入意思表示」ページを開いてください。<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_03.gif' %><br>
<br><br>
      下画面のように、「当選/xxx株」となっているとその株数だけ当選したという意味です。<br>
      おめでとうございます！<br>
      その他にも「補欠当選」というのがあって、他の当選者が辞退したときに繰り上げ当選されます。<br>
　     当選したら、抽選結果のすぐ下にある【購入意思表示】欄に書いてある日まで待ちます。<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_08.gif' %><br>
      <br><br><br>
      購入意志表示日になったら下のように「当選株購入」というボタンが表示されるようになるので、
      こちらをクリックしてください。<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_09.gif' %><br>
      <br>

      すると「契約締結前交付書面を閲覧する」というボタンをクリックして、後は指示通りに進みます。<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_10.gif' %><br>↓<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_11.gif' %><br>↓<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_12.gif' %><br>↓<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_13.gif' %><br>↓<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_14.gif' %><br>↓<br>
      <%= image_tag 'http://www.ipokiso.com/report/sbi/images/sbi_buy_15.gif' %><br>

    </div>
  </div>
</div>
