<!-- seo -->
<%= set_meta_tags title: '公募に応募する' %>
<%= breadcrumb :apply_po %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         公募に応募する
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <h4>公募増資に応募する</h4>
      前節で公募増資の事を新規に株式を発行し、株主を増やして資金調達することだと説明しました。<br>
      これを海外ではpublic offeringと言います。<br>
      一方で、新規上場することをinitial public offeringと言います。<br>
      なので、新規上場することは海外では最初の公募増資という認識であることがわかります。<br>
      新規上場とは、最初に新しく株式を取引所に公開して、広く投資家から株式を買ってもらうことを募集することであるから、
      最初の公募増資と同じ意味ですよね。<br>
      つまり、新規上場とは、公募の一番最初という意味になります。<br>
<br>
      なぜ最初にそんな話をしたかというと、応募方法が新規上場銘柄購入の応募と大きく変わらないからです。<br>
      基本的に公募に応募する方法はIPOに応募する方法と大きく変わりません。<br>
<br>
      新規上場銘柄に応募したときの方法を思い出してもらえるとわかり易いのですが、
      「新規上場株式ブックビルディング/購入意志表示」というボタンを選択して押したと思います。<br>

      この<%= link_to 'ブックビルディング', '/study_pages/advanced/bookbuilding' %>とは、
      上場している/しようとしている新規に株式を発行して、
      公募して増資を行う際に、発行しようとしている株式の単価を決める方法の一つです。<br>
<br>
      http://www3.stockweather.co.jp/t_konno/2010/01/post_13.html<br>
      http://manabow.com/qa/bookbuilding.html<br>
<br><br>
      このように、<%= link_to '公募増資(PO)も新規上場(IPO)も申込方法は同じ', '/study_pages/advanced/apply_ipo' %>です。<br>
      <
      IPOの場合、SBI証券であれば応募して落選してしまっても、<%= link_to '落選した場合にのみポイントが付与', '/study_pages/advanced/sbi_ipo_challenge' %>されるので次回以降の応募の当選確率が上がるという制度がありましたが、
      公募増資の場合はこうした制度はありませんのでご注意を。<br>
      ただ、新規上場も公募も基本的に割安価格で買うこと同じなのでほぼ確実に収益になりますから、
      通常の株式を購入するよりもお得感があります。<br>
      通常の株式を購入するのであれば同じ資金をこうしたイベントに使ったほうが賢いと言えるかもしれません。<br>
      <div class="studytips">
        <strong>IPOやPOに応募するリスク</strong><br>
        IPOは投資家の興味関心を事前に調査しますし、公募増資や売出の場合もすでに取引所で取引されている株価に対して割安になるよう公募価格を決定しますので、
        通常であればこれらのイベントに応募したほうが割安に株式を手に入れることができます。<br>
        抽選制にしているのは、ただで割安株を取得できるからに他なりません。<br>
        しかし、こうした調査やディスカウントをしても、公募価格を決定した後に株価が下落するケースもあります。<br>
        公募価格を決定した後に不正が発覚したり、業績下方修正するケースもあり、どんなことがトリガーになるかはわかりません。<br>
        応募して当選した結果、市場価格が公募価格やIPO価格を下回った場合、市場価格より高値で買い取らなければならないケースがあることは想定しておくべきです。<br>
        こうしたケースは稀ですし、幹事となる証券会社がこうしたことにならないように徹底すべきなのですが
        残念ながらどんなことにもリスクがあるということです。<br>
      </div>

      <%= link_to '気になる方はこちらから', 'https://www.sbisec.co.jp/ETGate/WPLETmgR001Control?getFlg=on&burl=search_domestic&cat1=domestic&cat2=ipo&dir=ipo&file=stock_ipo_flow_02.html' %>どうぞ。

      <br>




      <div class="studytips">
        公募, 増資, 新規上場, public offering, ブックビルディング
      </div>
    </div>
  </div>
</div>
