<!-- seo -->
<%= set_meta_tags title: 'ブックビルディング' %>
<%= breadcrumb :bookbuilding %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         ブックビルディングとは
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
<br><br>
      <h4>ブックビルデイングとは</h4>
      <br>
      <%= link_to '公募のページ', '/study_pages/advanced/apply_po' %>
      でも説明しましたが、ブックビルディングとは
      新規上場銘柄や公募増資する銘柄の応募価格を決める方法の一つです。<br>
      その意味が転じて、公募や新規上場に応募することをビックビルティングに応募する意味で使われることもあります。<br>
http://manabow.com/qa/bookbuilding.html<br>
      <br>
      上場するにあたり、引き受け主幹事となった証券会社は上場企業の財務体質、利益やコスト構造、株主の状況、組織体制などを踏まえて、
      有価証券報告書や新規公開目論見書を作成しながら、複数の機関投資家に対して事前のヒアリングをし、需要を推定して公募価格のプレヒアリング（価格査定）を行います。<br>
      この価格査定を基準に、一定のレンジで公募価格の仮決めを行います。<br>
<br>
      このレンジをもとに主幹事証券を始め、全幹事証券会社で口座を持っている投資家に対して<%= link_to 'いくらで買いたいかというヒアリング', '/study_pages/advanced/apply_ipo' %>を行います。<br>
      この作業をブックビルディングと呼び、この期間(大体5日間程度)をブックビルディングと呼びます。<br>
      このヒアリングをもとに複数の幹事証券が実際にIPOの公募に応じる投資家と株数、価格が決定されるのです。<br>
    </div>
  </div>
</div>
