<!-- seo -->
<%= set_meta_tags title: '信用取引' %>
<%= set_meta_tags description:
'信用取引とは、お金がないけど証券会社からお金を借りて株式を買う信用買いと、株券を持っていないけど証券会社から株を借りて株を売る信用売り（空売り）を意味する。信用買いは一定期間で購入資金を返す必要があり、信用売りは一定期間で借りた株式を返す必要がある。' %>
<!-- keyword:投資　最初　お手軽 株　自分　見合う　探す　方法　銘柄 -->
<!-- 目的：投資の初心者が最初に見て、何に投資すべきかを探すページ -->

<%= breadcrumb :credit_deal %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">
     <div id="studytitle">
       <h1>
         信用取引とは
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <br>
      <h3>信用取引とは</h3>
        信用取引とは、一言で簡単に言ってしまえば証券会社に自分を信じてもらって株やお金を貸してもらい、それを使って株を買ったり売ったりすることです。<br>
        自分のことを信じて株や資金を貸してもらうことを信用と言いますが、無条件に信じてもらうことはできないので株や資金などを担保にして初めて信用してもらえるのです。<br>
        信用取引には、お金がないけど証券会社からお金を借りて株式を買う信用買いと、
        株券を持っていないけど証券会社から株を借りて株を売る信用売り（空売り）があります。<br>
        信用買いは一定期間で購入資金を返す必要があり、信用売りは一定期間で借りた株式を返す必要があります。<br><br>



      <h4>信用買いとは</h4>
        信用買いとは、資金がない状態で株式を買うことです。<br>
        もっと正確にいうと、保有しているお金以上の金額の株を購入することができます。<br>
        どのくらいの金額を購入できるかというと、株式の信用買いの場合は３倍分になります。<br>
        今100万の手持ちがあるとしたら、300万円分の株式を信用買いで購入できることになります。<br>
        <br><br>
        小学生の時のテコの原理を覚えているでしょうか。<br>
        より少ない力で大きなものを動かせるという原理です。<br>
        信用買いもこのテコの原理に似ているので、レバレッジを掛けると言い、信用買いのことをレバレッジ買いとも言います。<br>
        ただし、上記の例では100万円は他の用途に使えず、<strong>証拠金</strong>として証券会社に提示します。<br>
<br>
        この証拠金は後ほどこの購入した銘柄を売り戻す時に戻ってきます。<br>
        ただし、上がると思ってレバレッジ買いしたものの、想定に反して値下がりしてしまった場合、
        売り戻す際はその証拠金の中から差額が引かれます。<br>
        なおかつ、証拠金の中でその損失が補填できない場合、追証と言って追加の資金を証券会社に提出しなくてはなりません。<br>
        これは売り戻すタイミング以外でも、信用買いしたまま保有し続けて値下がりした場合、
        評価損失が証拠金を超えた場合でも発生しますのでご注意ください。<br><br><br>

      <h4>信用売りとは</h4>
      こちらも繰り返しになりますが、信用売りとは最初に株を持っていない状態で
      これから下落すると思った場合に、今の株価で売ってから後で買い戻すことを言います。<br>
      信用買いと全く逆の動きになります。<br>
      信用売りの場合は買いよりも更に注意です。
      信用買いの場合は株価が上昇すると思って買っても最悪、上場廃止などになって株価がほぼゼロになるリスクがありますが、
      これは株価がゼロ以下にはなりませんので損失額は限定されます。<br>
      <br>
      一方で、信用売りの場合は下がると思って売って、想定と逆に上昇してしまったケースは要注意です。<br>
      この場合、損失額は青天井です。<br>
      現実には株価の上昇値幅が制限されているので青天井にはなりませんが、
      差し入れている証拠金でまかないきれないほどの損失になってしまった場合、
      実質的には借入金となり、日ごとに利息が付いて返済するまで負債額が増えていきます。<br>
      信用取引は注意が必要ですが、特に信用売りの場合にはご自身の資産を考慮して
      投資対象の銘柄の値幅から最悪のケースを想定した証拠金をもとに信用売りの額を決めてください。<br>
<br>
      こうした困ったケースにならないように、逆指値という制度があって損失を限定させてくれます。<br>
<br>

      信用売りのことを、空売り、売建て、ショートするとも言います。<br>
      信用売りした株式のことを売り建玉と呼んだりもします。<br>


      <div class="studytips">
        ドル円の場合だと解りやすいです。<br>
        ドル円を売るとはドルを売って円を買うという意味になります。<br>
        すなわち、ないものを売るということは別の何かを買っているわけです。<br>
        ドル円の場合は円を買うことになります。<br>
<br>
        一方で、株式の信用売りとは株を売るということは実は裏で株を買っていることになります。<br>
        これはあくまでわかりやすく説明しているので実際に買っているわけではないのですが、
        現実問題、この購入するという行為をいつか実行しなくてはいけません。<br>
        それが後ほどで買い戻しを入れなければならない理由です。<br>
      </div>
      <br><br><br>

      <h4>証拠金と追証について</h4>
      証拠金は現金ではなくても、保有している金融資産でも提出が可能です。<br>
      その場合は資産の種類に応じて評価額が変わります。<br>
      保有している株式をそのまま証券会社に証拠金として提出する場合には、
      ７掛け(ナナガケ)と言って７割の評価額として提出されたことになります。<br>
      例えば時価100万円の株式を証拠金として提出した場合は70万円分として評価されます。<br>
      なお、この評価額は毎日終値で計算され直されます。これを洗い替えと呼びます。<br>
      信用取引で損失がなくても、証拠金として差し入れている株式の価値が値下がりした場合、
      評価額が必要証拠金額を下回った時、追証が発生することにも注意です。<br>
<br><br>
      <h4>逆日歩</h4>
      信用売りの場合、株式を証券会社から(買い戻すまでの一時的に)借りることになるのですが、
      値下がりする可能性が高いと思った投資家が大勢いた場合、信用売りの量が一時的に多くなるケースがあります。<br>
      企業の不祥事や突然の上場廃止などがそのケースです。<br>
      通常はそうした場合に信用売りができなくなるストッパーがかかりますが、そうでないケースもあります。<br>
      このように信用売りが多くなった場合、証券会社がその銘柄を貸し出すことが難しくなります。<br>
      この難しさに応じて、信用売りをする投資家は証券会社に手数料を払わなくてはなりません。<br>
      この手数料のことを「逆日歩（ぎゃくひぶ）」と呼びます。<br>
      <%= link_to '詳細はこちらをご覧ください。', '/study_pages/advanced/gyakuhibu' %>


<br><br>
    </div>
  </div>
</div>
