<!-- seo -->
<% set_meta_tags title: '逆日歩とは' %>
<% set_meta_tags description:
'信用取引において売り方が買い方を上回った時に発生する逆日歩は証券会社、機関投資家、証券金融会社、信用売りをしている投資家などの登場人物が複雑に関係しており、
誰が誰に何をどのくらい払うのかという全体像と仕組みを具体的に説明するとともに初心者が投資する際に抑えておくべき預株と貸株について解説します。' %>
<!-- keyword:投資　最初　お手軽 株　自分　見合う　探す　方法　銘柄 -->
<!-- 目的：投資の初心者が最初に見て、何に投資すべきかを探すページ -->

<% breadcrumb :gyakuhibu %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">
     <div id="studytitle">
       <h1>
         逆日歩とは
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <br>
      <h3>逆日歩とは</h3>
      逆日歩とは、信用取引において売り方が買い方を上回った時に発生します。<br>
<br><br>
      <strong>仕組み</strong><br>
      まずその仕組みについて説明します。<br>
      取引には以前説明したように信用取引という方法があり、この中には信用売りという方法があります。<br>
      これは通常買ってから売るという順番を逆にして、売りから入って後ほど買い戻すという方法です。<br>
      持ってないのにどうやって売るんだという疑問を持つ方もいらっしゃると思いますが、<br>
      実際は、最初に借りてから後で返します、という単なる契約(お約束)上の話になります。<br>
      具体的には信用売りをしたい人は証券会社が既に持っている株の中から契約上借りることになります。<br>
      当然ですが借りる以上、ただで借りることはできず、金利分を(信用売りをする投資家が株券を持っていた証券会社に)払う必要があります。<br>
      金利が発生する理由は、仮に証券会社がその銘柄を貸さずに保有していた場合に売却して現金を保有することになり、その現金を法人口座などに入れて金利運用できたかもしれないですし、
      値上がりしていればキャピタルゲインを得ることができたかもしれないからです。<br>
      何れにしても信用取引の売り方は証券会社に金利を支払う義務が生じます。<br>
      しかし、信用売りをしたい投資家が多くなると、証券会社はこの銘柄を貸すことができなくなるので、
      証券会社はこの不足分を、証券業務に特化してお金や株を貸し出す証券金融会社に借ります。<br>
      <br>
      信用売りが激しくなり、この証券金融会社でもこの株を貸せなくなると今度は銀行や保険会社などの機関投資家から調達することになりますが、
      この時に証券金融会社から機関投資家に対して支払う手数料のことを貸株料と呼ばれます。<br>
      この貸株料は最終的には信用売りをしている投資家に転嫁され、この費用のことを逆日歩と呼びます。<br>
<br>
      <div class="studytips">
        <strong>機関投資家にとってなくてはならないレンディング手数料</strong><br>
        パッシブファンドなどのTOPIXに連動するファンドは
        東証一部銘柄をあまり売買せずに幅広く保有しているので、ファンド側からしたら
        (連動させるために下手に売買できないので)ただ寝かせておくよりは、
        証券金融会社に貸すことで手数料(貸株料)を手に入れることができます。<br>
        この機関投資家(正確には機関投資家の資産管理会社)から証券金融会社に貸すことを<strong>レンディング</strong>と呼びます。<br>
        通常、パッシブファンドは年に４回発生するTOPIXの入れ替えや資本異動と呼ばれる様々な証券イベントに対して様々な売買コストがかかり、
        売買コストの分だけTOPIXの収益率に対して(下落する方向の)乖離が生じてしまいます。<br>
        135兆円を保有しているGPIFから資金を預かるパッシブファンドは機関投資家の貴重な安定収入につながり、
        機関投資家の間ではこうした大口の顧客からの受託ビジネスにおいて熾烈な手数料の値下げ競争が起きていますが、
        パッシブファンドは売買手数料の最小化などのファンド運用効率の最大化により
        資産価値を最大化することでこうした手数料競争から回避しようとしています。<br>
        その一環としてレンディングによる貸株料の最大化は機関投資家にとって非常にメリットがある、なくてはならない取引になりつつあります。<br>
      </div>

<br><br><br>


      逆日歩について理解が深まったところで、証券会社、機関投資家、証券金融会社の間での取引という初心者にとってほとんど関係のない出来事をわざわざ説明したのには理由があります。<br>
<br>
      それは、この逆日歩の根拠となるレンディングという制度は個人投資家でも可能であるからです。<br>
      正確にはレンディングではなく、口座を保有している証券会社によって預株(よかぶ)や貸株(かしかぶ)と呼ばれております。<br><br><br>

      <strong>預株及び貸株に対応している証券会社一覧リスト</strong>
      <table class="securities_table">
        <tbody>
          <tr>
            <th>対応証券会社</th>
            <th>呼び名</th>
          </tr>
          <tr>
            <td>楽天証券</td>
            <td>貸株</td>
          </tr>
          <tr>
            <td>マネックス証券</td>
            <td>貸株</td>
          </tr>
          <tr>
            <td>カブドットコム証券</td>
            <td>貸株</td>
          </tr>
          <tr>
            <td>SBI証券</td>
            <td>貸株</td>
          </tr>
          <tr>
            <td>松井証券</td>
            <td>預株</td>
          </tr>
        </tbody>
      </table>

      <br><br><br>

      <strong>逆日歩の整理</strong><br>
      以下に逆日歩の全体像とフローを示します。<br>
      <%= image_tag 'https://www.rakuten-sec.co.jp/web/market/opinion/stock/debut_margin/images/0012-img-01.jpg' %><br>
      <br>
      逆日歩の現在の状況については<%= link_to 'こちら', 'http://www.opticast.co.jp/cgi-bin/hibu.cgi' %>をご覧ください。
<br><br>
      <strong>預株・貸株のデメリット</strong><br>
      場合によっては税制上不利になったり、配当がもらえないというデメリットがあります。これについては別の機会で説明します。<br>
      <%= link_to 'https://shisanunyo.net/stock/kashikabu-yokabu-in-details' %><br>
      ただし、上記の記事にあるように松井証券とマネックス証券ではこうしたデメリットはないようです。<br>

      <br>
    </div>
  </div>
</div>
