<!-- seo -->
<% set_meta_tags title: '投資信託とは' %>
<% set_meta_tags description:
'投資信託とは何かという概要の説明、メリット、デメリットからETFとの違い、証券会社で買える投資信託や投資信託を購入する場合の証券会社、投資信託にマッチする人、過去の運用成果の確認方法まで解説します。' %>
<!-- keyword:投資　最初　お手軽 株　自分　見合う　探す　方法　銘柄 -->
<!-- 目的：投資の初心者が最初に見て、何に投資すべきかを探すページ -->

<% breadcrumb :mutual_fund %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">
     <div id="studytitle">
       <h1>
         投資信託とは
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <br>
      <h3>投資信託概要・仕組み</h3>
      投資信託は多くの投資家からお金を集め、集めたお金を運用の専門家によって
      株式、債券、海外通貨などの様々な投資商品で運用され、運用成果を投資家に還元する仕組みです。<br>
      略して投信と呼んだりもします。<br>

      株式の個別銘柄投資と違うのは、<br>
      ・株式は取引所が開いている間はいつでも売買できるが、投資信託は１日に一回だけしか売買できない<br>
      ・株式は取引所で売買されている価格で変動するが、価格は売買した当日のファンド価値によって決定される<br>
      という点です。
<br>
      またメリットは以下の点です。<br>
      ・株式投資のように個別の銘柄を投資家が選ぶのではなく、ファンドマネージャーという専門家に託される<br>
      ・上記に関連して投資家はどの投信を選択するかだけを選ぶだけで、投資信託の中でどの銘柄を買うかなどの観点を持つ必要がない
      ・多くの投資家による資金を集めて運用されるので、個別投資家では実現できない分散効果が発揮しやすい<br>
      ということが挙げられ、<br>
<br>
      逆にデメリットとしては
      ・投資家はアナリストやファンドマネージャーという専門的な人件費の分、証券会社で個別銘柄の売買手数料よりも高い
      ことなどがあります。<br>

      通常、最大でも売買金額の数パーセントというケースがほとんどですので利回り2,3％の投信でも1年で回収できるものですが、
      それが嫌だという方は<%= link_to 'ノーロード投信という売買手数料が不要な投信をご参照', '/study_pages/advanced/noload_fund' %>下さい。


      世の中には投信はやめとけという声もあるようですが、
      中長期の運用を考えていて、あらかじめ運用成果と運用手数料さえ押さえておけば
      手当たり次第に株式投資をするよりも健全だと思います。<br>
<br><br>
      <h4>どの投信を購入すべきか</h4>
      投信にたくさんの種類があります。<br>
      2012年にファンド総数が4,000本で投資(純資産)総額60兆円規模だったのが2016年3月時点では50％増加して6,000本に上り、
      投資総額は100兆円になりました。<br>
      投資総額が年々増加の一途を辿る中、投資信託の組成数も徐々に増えており、どの投信を選ぶべきか悩ましい状況だと思います。<br>
      <%= link_to 'こちらのページでそこで幾つかのパターンに分けてオススメの投資信託を公開', '/study_pages/advanced/recommend_mmf' %>します。<br>


      <div class="studytips">
        <strong><%= link_to 'ETFとは', '/study_pages/advanced/etf' %></strong><br>
        上場投資信託(Exchange Traded Fund)と言って、投資信託が東証などに上場したものを言います。<br>
        主にTOPIXや日経平均などの指数に連動するように運用されていて、
        一般的な投信よりも少額で投資でき、更に手数料が安いです。
      </div>

      <h4>どの証券会社で投信を購入すべきか</h4>
      投信の運用に力を入れている証券会社はSBI証券、マネックス証券、フィデリティ証券、セゾン投信の４社です。<br>
      手数料面や投信運用本数、投信残高(購入金額)、手数料の安さなどの観点で評価しました。<br>
      ここら辺はもう少し調査してから解説したいと思います。<br>
<br><br>


      <h4>過去の運用成果の確認方法</h4>
      どの証券会社でも口座を開設すると、投信を購入する意思決定をする画面には運用目論見書というものがあります。<br>
      この目論見書の中には、ファンド価値の時系列グラフが表示されていて、投信を売る場合にはこの価格で売却されることになります。<br>
      また投信は種類によっては株式の配当金のようなものが支払われれますが、これを分配金と呼びます。<br>
      この分配金も過去の時系列として目論見書の中に公表されます。<br>


      <h4>どんな人に最適か</h4>
      個別株を自分で調べて優良そうな銘柄を探し出し、自分でタイミングを見計らって売買するのが面倒だったり、
      初めての運用なので多少高い手数料払ってでも長期的にプロにお任せしたいという方にはマッチすると思います。<br>


      <%= link_to 'http://www.toushikiso.com/shoken/' %>
    </div>
  </div>
</div>
