<!-- seo -->
<%= set_meta_tags title: 'IPOで成功する秘訣' %>
<%= breadcrumb :success_ipo %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         IPOで成功する秘訣
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <h4>IPO銘柄で損する？</h4>
      2000年代中盤から後半にかけて一時的にどのIPO銘柄でも成功する時代がありました。<br>
      どの銘柄に応募（後に当選）しても成功するパターンです。<br>
      <br><br>

      しかし、最近になるとIPO銘柄が最初に市場で売買された時の値段(初値)が
      公募価格を下回ることも事例も増えてきました。<br>
      IPO銘柄で公募に応じた投資家のほとんどはディスカウント価格で購入した株式を
      初値で売ることが多いので、初値が公募価格は下回るとIPO投資で損することになります。<br>
<br>
      なぜこうした事態が生じるのでしょうか。<br>
      またそうした銘柄に応募しないよう、事前に判定することはできるのでしょうか。<br>
      今回はIPO銘柄で損しないよう、初値が公募価格を上回るかどうかを事前に判定する方法について解説していきます。<br><br>

      <br>
      <h4>IPOで成功する秘訣</h4>
      まず、こちらのサイトを見てください。<br>
      <%= link_to 'http://96ut.com/ipo/list.php' %><br>
      多くの銘柄の初値が公募価格を上回っていますが、中には下回るケースもあります。<br>
      こうしたケースの理由としていくつか挙げられます。<br><br><br>

      <strong>上場市場による違い</strong><br>
      <%= link_to 'こちら', '/study_pages/advanced/policy' %>
      で説明しましたが、市場参加者の中には機関投資家という多額の資金を運用している投資家もおり、
      彼らの運用方針を二分すると、パッシブファンドとアクティブファンドに分けられます。<br>
      これらの二つのファンドの資金規模はパッシブファンドの方が断然に多くその額は20〜30兆円にもなります。<br>
      そのパッシブファンドの全てが東証一部に上場している銘柄をほぼすべて持っていることを考えると
      東証一部に新規に上場する銘柄を数十兆円のファンドが買いに来るということになります。<br>
      これは上場する銘柄の企業価値がある程度大きければ、ものすごい買い圧力につながるので
      東証一部への上場銘柄でかつ推定時価総額が大きければ(※)、初値が公募価格を上回ると言えます。<br>
      これはIPOだけでなく、公募増資に対しても同様のことが言えます。<br>
      ※時価総額が全上場銘柄の中で上位200位以内であれば大型であると言えます。<br>

      <div class="studytips">
        <strong>パッシブファンドの運用金額</strong><br>
        日本には日本全国のサラリーマンの厚生年金を運用するGPIFという世界最大規模のファンドが存在しています。<br>
        そのファンド規模は135兆円（平成27年9月末時点)と言われており、他のファンドを圧倒しております。<br>
        GPIFは主に国内債券、海外債券、国内株式、海外株式という４つの資産で運用しており、
        そのうち、国内株式のシェアはアベノミクスによって以前の1割程度から現在は2割程度に上げられました。<br>
        GPIFは公共的な色合いの強い資金ですが、巨大な資金を通じて国内株式を底上げすることで、国内企業の中長期的な成長を促進しようという狙いがあるように思います。<br>
        またGPIFが国内株式に投資することで、公務員や大学関係者らが加入する共済年金(約50兆円以上)などによる他のパッシブファンドも追随するため、
        GPIFと他の年金組合のパッシブファンドだけでも20兆円以上存在することになります。<br>
      </div>
      <br><br>

      <div class="studytips">
        <strong><%= link_to 'そもそもパッシブファンドって？', '/study_pages/advanced/policy' %></strong><br>
        軽くおさらいすると、パッシブファンドはその運用方針をTOPIXに追随する運用です。<br>
        追随するというのは全くと言っていいほど同じ収益率になるようにします。<br>
        これは(完全法と最適化法という)複数の運用方法によって実現できるのですが、
        基本的にはTOPIXと同じ方法でファンドを組成しています。<br>
        ※最適化法パッシブファンドについては長くなるので別の機会で説明します。<br>
        TOPIXと同じ構成とは、TOPIXの構成銘柄と同じ量をファンドで持つということです。<br>
        少し専門的になりますが、TOPIXは東証一部上場銘柄を、
        その時価総額の規模に応じてポートフォリオを保有した場合の資産価格を指数化したものです。<br>
        従って、TOPIXと同じ収益率にすることとは、この時価総額の比率に応じて東証一部上場銘柄をすべて保有すればいいのです。<br>
        これが東証一部への新規上場銘柄であれば、パッシブファンドの買いによって初値が酵母価格を上回ることの根拠です。
      </div>



      <strong>吸収額の規模</strong><br>
      <strong></strong><br>
      <strong></strong><br>



      また当然ですが、いくら銘柄を分析して慎重に応募しても
      当選しなければ意味がありません。<br>
      最後に当選するための秘訣についてもご紹介します。<br>

      <br>
      <h4>抽選に当選するための秘訣</h4>





    </div>
  </div>
</div>
