<!-- seo -->
<%= set_meta_tags title: 'IPOで成功する秘訣' %>
<%= set_meta_tags description:
'IPOで損しない見分け方について、上場市場、吸収額、業界、ユニークネス、上場理由、株主構成、市場の強さという視点とIPOに投資する際のお勧め証券会社の比較一覧リストで解説する。' %>
<%= breadcrumb :success_ipo %>


<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         IPOで成功する秘訣
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <h4>IPO銘柄で損する？</h4>
      2000年代中盤から後半にかけて一時的にどのIPO銘柄でも成功する時代がありました。<br>
      どの銘柄に応募（後に当選）しても成功するパターンです。<br>
      <br><br>

      しかし、最近になるとIPO銘柄が最初に市場で売買された時の値段(初値)が
      公募価格を下回ることも事例も増えてきました。<br>
      IPO銘柄で公募に応じた投資家のほとんどはディスカウント価格で購入した株式を
      初値で売ることが多いので、初値が公募価格は下回るとIPO投資で損することになります。<br>
<br>
      なぜこうした事態が生じるのでしょうか。<br>
      またそうした銘柄に応募しないよう、事前に判定することはできるのでしょうか。<br>
      今回はIPO銘柄で損しないよう、初値が公募価格を上回るかどうかを事前に判定する方法について解説していきます。<br><br>

      <br>
      <h4>IPOで成功する秘訣</h4>
      まず、こちらのサイトを見てください。<br>
      <%= link_to 'http://96ut.com/ipo/list.php' %><br>
      多くの銘柄の初値が公募価格を上回っていますが、中には下回るケースもあります。<br>
      こうしたケースの理由としていくつか挙げられます。<br><br><br>

      <strong>＜上場市場で見分ける＞</strong><br>
      <%= link_to 'こちら', '/study_pages/advanced/policy' %>
      で説明しましたが、市場参加者の中には機関投資家という多額の資金を運用している投資家もおり、
      彼らの運用方針を二分すると、パッシブファンドとアクティブファンドに分けられます。<br>
      これらの二つのファンドの資金規模はパッシブファンドの方が断然に多くその額は20〜30兆円にもなります。<br>
      そのパッシブファンドの全てが東証一部に上場している銘柄をほぼすべて持っていることを考えると
      東証一部に新規に上場する銘柄を数十兆円のファンドが買いに来るということになります。<br>
      これは上場する銘柄の企業価値がある程度大きければ、ものすごい買い圧力につながるので
      東証一部への上場銘柄でかつ推定時価総額が大きければ(※)、初値が公募価格を上回ると言えます。<br>
      これはIPOだけでなく、公募増資に対しても同様のことが言えます。<br>
      ※時価総額が全上場銘柄の中で上位200位以内であれば大型であると言えます。<br><br>

      一方で、マザーズや二部に上場する場合はパッシブファンドの買いは期待できず、投資家による売り圧力の方が強くなるので下がる傾向が強いです。<br>
<br>
      <div class="studytips">
        <strong>パッシブファンドの運用金額</strong><br>
        日本には日本全国のサラリーマンの厚生年金を運用するGPIFという世界最大規模のファンドが存在しています。<br>
        そのファンド規模は135兆円（平成27年9月末時点)と言われており、他のファンドを圧倒しております。<br>
        GPIFは主に国内債券、海外債券、国内株式、海外株式という４つの資産で運用しており、
        そのうち、国内株式のシェアはアベノミクスによって以前の1割程度から現在は2割程度に上げられました。<br>
        GPIFは公共的な色合いの強い資金ですが、巨大な資金を通じて国内株式を底上げすることで、国内企業の中長期的な成長を促進しようという狙いがあるように思います。<br>
        またGPIFが国内株式に投資することで、公務員や大学関係者らが加入する共済年金(約50兆円以上)などによる他のパッシブファンドも追随するため、
        GPIFと他の年金組合のパッシブファンドだけでも20兆円以上存在することになります。<br>
      </div>
      <br><br>

      <div class="studytips">
        <strong><%= link_to 'そもそもパッシブファンドって？', '/study_pages/advanced/policy' %></strong><br>
        軽くおさらいすると、パッシブファンドはその運用方針をTOPIXに追随する運用です。<br>
        追随するというのは全くと言っていいほど同じ収益率になるようにします。<br>
        これは(完全法と最適化法という)複数の運用方法によって実現できるのですが、
        基本的にはTOPIXと同じ方法でファンドを組成しています。<br>
        ※最適化法パッシブファンドについては長くなるので別の機会で説明します。<br>
        TOPIXと同じ構成とは、TOPIXの構成銘柄と同じ量をファンドで持つということです。<br>
        少し専門的になりますが、TOPIXは東証一部上場銘柄を、
        その時価総額の規模に応じてポートフォリオを保有した場合の資産価格を指数化したものです。<br>
        従って、TOPIXと同じ収益率にすることとは、この時価総額の比率に応じて東証一部上場銘柄をすべて保有すればいいのです。<br>
        これが東証一部への新規上場銘柄であれば、パッシブファンドの買いによって初値が公募価格を上回ることの根拠です。
      </div>
      <br><br><br>

      <strong>＜吸収額の規模で見分ける＞</strong><br>
      次に、経営者や(上場前からの)株主が上場によって利益をあげようとしているのか、もしくは会社として成長しようとしているのかどうかを見ます。<br>
      通常、起業家が上場を目指す理由として上場によって自分の会社の株式を売却して利益を出そうとするので、発行株数を増やそうとします。<br>
      一方で、中には自分個人の利益よりも会社の利益を優先して、発行株数を極力抑えようとする会社もあります。<br>
      投資家が引き受ける発行株数のことを、引き受け株数と呼びます。<br>
      後者の銘柄は上場後も経営陣の持分の株式を売却しにくいと考えられるので、株価は下がりにくいです。<br>
      一般的に、引き受け株数と公募価格(公開価格)を掛けた値を吸収金額と呼び、この吸収金額が少ないほど株価は下がりにくいです。<br>
      逆に吸収金額が多いIPO銘柄への投資には慎重になりましょう。<br>

<br><br>
      <strong>＜業界で見分ける＞</strong><br>
      その業界についてもチェックしてみましょう。<br>
      <br>
      上場時の初値が公開価格を上回るかどうかは業種にも依存するというデータがあります。
      特にIOT、クラウドやビックデータを用いたBtoB系のソリューションサービス、
      スマホアプリ(ゲーム、ECプラットフォーム)、人工知能などのいわゆるIT系は人気が高く、
      初値が公開価格を上回るケースが多いです。<br>

      <br><br>
      <strong>＜ユニークさで見分ける＞</strong><br>
      またどの業界に所属するかどうかという点に付随して、
      その業界の中でのユニークさも重要です。<br>
      すなわち、同じような会社が既に上場している場合は二番目に上場する会社の人気は若干落ちます。<br>
      <br><br>

      <strong>＜上場理由で見分ける＞</strong><br>
      引き受け株数に関する項目に似ていますが、上場によって調達する資金を何に使うかも重要です。<br>
      既存株主の私腹を肥やすためなのは言語道断ですし、単なる借金の返済でも投資家は嫌がるので初値が下がる傾向にあります。<br>
      好まれるのは上場による資金を使って、工場を建てて人気商品の量産体制を構築したり、新しい製品を開発するケースなどです。<br>
      要は資金によってそれまでにない新しい価値を生み出そうとするかどうかです。<br>

      <br><br>
      <strong>＜株主構成で見分ける＞</strong><br>
      初値は上場日の<%= link_to '寄り付き前に行われる板寄せ方式', '/study_pages/elementary/tradeMechanism' %>で決定されるので、
      創業者や既存株主の株数が多い場合はそれを売ることで初値が下がる可能性があります。<br>
      そうしたリスクを少しでも軽減するために、株主の構成を見て大株主にロックアップがかかっているかどうかを確認しましょう。<br>
      ロックアップとは、大株主が不当に利益を上げないように新規上場してから一定期間、自分の保有分を売却できないようにする規制です。<br>
      株主構成とロックアップとその（売却できない）期間に関する記述は上場予定の銘柄の新規上場目論見書に記載があるのでチェックすることをお勧めします。<br>

      <br><br>
      ロックアップ規制がかかっていた場合、その期間中は大株主の売りがないことになりますが、
      逆にロックアップ期間が明けた後に大きな売りが発生する可能性があるので、
      もしIPO銘柄を保有し続けるのであれば注意が必要です。<br>
<br><br>
      <strong>＜市況で見分ける＞</strong><br>
      今まではその銘柄や業種などに関する条件面を解説しましたが、
      次に着目すべきは市況です。<br>
      つまり、上場日前後におけるマーケット全体の強さです。<br>
      具体的には上場日までの数ヶ月間の日経平均の騰落率を見ることになります。<br>
      日経平均が下がっていて騰落率がマイナスの状況で上場するのと
      逆にプラスの状況で上場するのとでは、明らかに後者の方が初値が高くなる傾向があります。<br>
      <br><br>
      上場を申請してから取引所による審査を経て承認するまでには通常数ヶ月以上かかりますが、
      既存株主にとって上場日における市況はほぼ運と言えるでしょう。<br>
      投資家は市況によっても応募するかしないか判断すべきなのです。<br><br>

      <br><br><br>
      また当然ですが、いくら銘柄を分析して慎重に応募しても
      当選しなければ意味がありません。<br>
      最後に当選するための秘訣についてもご紹介します。<br>

      <br>
      <h4>抽選に当選するための秘訣</h4>
      IPOに携わる証券会社は割り当てられる株数の多さによって主幹事、副幹事、平幹事の３つの種類に分類されます。<br>
      当然、抽選に当たりやすいかどうかは証券会社に割り当てられた株数によっても決まるので、
      割り当てられた株数が多い主幹事証券でIPOに応募すれば当選確率も大きくなります。<br>

      全ての証券会社で口座を解説しておけばどこが幹事証券であろうが全てのIPO銘柄に応募できますが現実的ではありませんので、
      ここではIPOに応募するために口座を解説しておくべき証券会社をあげていきます。<br>

      <table class="securities_table">
        <tbody>
          <tr>
            <th>証券会社</th>
            <th>割り当て枚数</th>
            <th>幹事経験数</th>
            <th>オススメ度</th>
            <th>申込スタイル</th>
            <th>ワンポイント</th>
          </tr>
          <tr>
            <td>SBI証券</td>
            <td>45％</td><!-- 割り当て方法 -->
            <td>高</td><!-- 幹事経験数 -->
            <td>高</td><!-- オススメ度 -->
            <td>前期型</td>
            <td>ネット証券ではダントツの幹事経験数と<%= link_to 'IPOチャレンジ制度',
            '/study_pages/advanced/sbi_ipo_challenge' %></td><!-- ポイント -->
          </tr>
          <tr>
            <td>SMBC日興証券</td>
            <td>10%</td><!-- 割り当て方法 -->
            <td>高</td><!-- 幹事経験数 -->
            <td>高</td><!-- オススメ度 -->
            <td>前期型</td>
            <td>口座残高によらず一人一票制の抽選権なので平等</td><!-- ポイント -->
          </tr>
          <tr>
            <td>マネックス証券</td>
            <td>100%</td><!-- 割り当て方法 -->
            <td>中</td><!-- 幹事経験数 -->
            <td>高</td><!-- オススメ度 -->
            <td>前期型</td>
            <td>割り当て率がダントツに多い100%!一人一票制の平等抽選</td><!-- ポイント -->
          </tr>
          <tr>
            <td>岩井コスモ証券</td>
            <td>10%</td><!-- 割り当て方法 -->
            <td>中</td><!-- 幹事経験数 -->
            <td>中</td><!-- オススメ度 -->
            <td>後期型</td>
            <td>幹事数は比較的中の上だが、割り当て率は並。</td><!-- ポイント -->
          </tr>
          <tr>

            <td>カブドットコム証券
            <td>100%</td><!-- 割り当て方法 -->
            <td>中</td><!-- 幹事経験数 -->
            <td>中</td><!-- オススメ度 -->
            <td>後期型</td>
            <td>割り当て率が100％。資金量によらず完全平等抽選方式</td><!-- ポイント -->
          </tr>
          <tr>
            <td>丸三証券</td>
            <td>10%</td><!-- 割り当て方法 -->
            <td>低</td><!-- 幹事経験数 -->
            <td>低</td><!-- オススメ度 -->
            <td>前期型</td>
            <td>資金量によらない完全平等抽選方式だが、幹事経験が少ない</td><!-- ポイント -->
          </tr>
          <tr>
            <td>むさし証券</td>
            <td>10%</td><!-- 割り当て方法 -->
            <td>低</td><!-- 幹事経験数 -->
            <td>低</td><!-- オススメ度 -->
            <td>前期型</td>
            <td>口座数が少ないため穴場だが、幹事経験が少ない</td><!-- ポイント -->
          </tr>
          <tr>

            <td>松井証券</td>
            <td>70%</td><!-- 割り当て方法 -->
            <td>低</td><!-- 幹事経験数 -->
            <td>低</td><!-- オススメ度 -->
            <td>後期型</td>
            <td>完全平等抽選スタイルだが、幹事経験が少ない</td><!-- ポイント -->
          </tr>
          <tr>
            <td>岡三オンライン証券
            <td>10%＋手数料比例</td><!-- 割り当て方法 -->
            <td>低</td><!-- 幹事経験数 -->
            <td>低</td><!-- オススメ度 -->
            <td>前期型</td>
            <td>10%の平等抽選に加えて取引手数料合計金額や有料プランの投資家に重点的に配分される</td><!-- ポイント -->
          </tr>
          <tr>
            <td>楽天証券
            <td>100%+</td><!-- 割り当て方法 -->
            <td>低</td><!-- 幹事経験数 -->
            <td>低</td><!-- オススメ度 -->
            <td>前期型</td>
            <td>完全平等抽選方式だが幹事経験が少ない</td><!-- ポイント -->
          </tr>
          <tr>
            <td>GMOクリック証券
            <td>100%</td><!-- 割り当て方法 -->
            <td>低</td><!-- 幹事経験数 -->
            <td>低</td><!-- オススメ度 -->
            <td>後期型</td>
            <td>幹事経験は少ないがGMO関連の上場時には割り当てが他証券より多い</td><!-- ポイント -->
          </tr>
        </tbody>
      </table>
      上記表における割り当て率とは、証券会社に割り当てられた株数のうち、
      何パーセントを抽選に応募した投資家に割り当てるのかというものです。<br>
      また、前期型と後期型の違いは以下の通りです。
      <br><br>
      <div class="studytips">
        <strong>前期型と後期型の違い</strong><br>
        前期型：ブックビルディング→抽選結果→購入申し込み<br>
        後期型：ブックビルディング→購入申し込み→抽選結果<br>
        前期型は申込が一回で済むのに対して、後期型は申込が二回必要である点も注意が必要です。<br>
        後期型は前期型よりも一回多いので、その分、二回目の申込を忘れてしまい、当選確率が高く可能性があるので
        マメな人には有利に働くかもしれません。
      </div>

      <br>

      <strong>まとめ</strong><br>
      IPOで損しない見分け方について
      上場市場、吸収額、業界、ユニークネス、上場理由、株主構成、市場の強さという視点と
      IPO投資する際のお勧め証券会社一覧を解説しました。<br>
      IPOと一口に言っても様々な切り口があることがお分かりいただけたでしょうか。<br>
<br>
      特に証券会社各社IPOに対する取り組みは異なってきますので、これらを適宜使い分けることをお勧めします。<br>
      証券会社を使い分けるためには、各社の口座を持っておくべきなので
      IPOで勝っている人ほどIPOに対応している証券会社の口座は保有しているので、
      もしIPO投資をやりたいという方がいたら、上記の通り資金量によらず平等で抽選している証券会社も多いので、
      なるべくこれらの複数の証券会社で口座を開くことで抽選確率を確実に上げることをお勧めします。<br>





    </div>
  </div>
</div>
