<!-- seo -->
<%= set_meta_tags title: '人気株を探す方法' %>
<%= set_meta_tags description:
'' %>
<%= breadcrumb :methodology_find %>


<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">
     <div id="studytitle">
       <h1>
         人気株を探す方法
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <h4>世間の他の人はどんな銘柄を選んでいるのか</h4>



一般の銘柄を調査する方法ではなく、他の人が人気の銘柄を探す方法
時々刻々と好みの銘柄のトレンドが変わるので、探し方を提案する
