<!-- seo -->
<%= set_meta_tags title: 'テクニカルチャート分析' %>
<%= set_meta_tags description:'テクニカルチャート分析として、ボリンジャーバンド、一目均衡表、指数平滑移動平均、多重移動平均、オシレーター系テクニカルチャート、MACD、RSI、ストキャスティクス、移動平均乖離率などの株価分析方法を解説します。' %>
<!-- keyword:株　自分　見合う　探す　方法　銘柄 -->
<%= breadcrumb :technical_chart %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">
     <div id="studytitle">
       <h1>
         テクニカルチャート分析
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <br>
      <h4>定量的にチャートを分析する</h4>

      <strong>テクニカルチャート分析</strong><br>
      テクニカルチャートには大きく指数を使った方法とチャートの形状を使った方法の二つに分けられます。<br>
      今回は指数を使った方法について解説します。<br>
      指数型の分析には移動平均を使った分析系と振れ幅を使った分析系二つの系統があります。<br>
      移動平均系とは過去の株価の時系列データが今後続くという前提で、どの方向にどのくらい上昇・下落したかという情報を分析して将来予測をする方法です。<br>
      振れ幅系とは過去の時系列データの傾向に対する特定の時刻の価格の乖離度合いから、流れが変わる、すなわち相場が下がったり、上がったりすることを予測します。<br>
<br><br>
      チャートの形状を使った分析方法には、エリオット波動理論などフィボナッチ数列を元にした分析などが有名です。
<br>

      <div class="studytips">
        テクニカル分析は定量的な判断をするため、若干数学の知識が必要になります。<br>
        例えば、平均や標準偏差といった概念です。<br>
        平均の中でも移動平均といった場合、過去の数日間から数週間の日次終値の株価を単純に平均したものになります。<br>
        指数平均や重み付け平均といった場合は、単純な平均ではなく、分子の足し合わせる項に対して何かしらの値を掛ける方法が取られます。<br>
        例えば、直近重み付けの場合は、直近の日付に大きな1以下の小数を掛け、昔の日付には更に小さな値を掛け合わせるという方法です。<br>
        標準偏差は一定期間の上げ幅と下げ幅の合計を期間の日数で割る方法です。<br>
      </div>
      <br><br>
      <table class="securities_table">
        <tbody>
          <tr>
            <th>分析手法</th>
            <th>スタイル</th>
            <th>説明</th>
            <th>使い方</th>
          </tr>
          <tr>
            <td>ボリンジャーバンド</td>
            <td>移動平均</td>
            <td>過去の平均値というトレンドと標準偏差から算出した上下2本の領域で構成されるバンドを作って、
              将来の株価が平均値に近いバンドの領域に収まる確率は69%、
              外のバンドも含めた全体の領域に収まる確率は95%という考え方です。</td>
            <td>株価が2本ある外のバンドより更に外に出た場合、95％の確率でバンドの中に収まるので株価の行き過ぎを調べることができます。<br>
            一方で、株価がバンドの外に出続ける場合もあり、過去の傾向とは異なる別のトレンドが作られたと判断するサインにもなります。</td>
          </td>
        </tr>
        <tr>
          <td>一目均衡表</td>
          <td>移動平均</td>
          <td>雲と呼ばれる2本の先行指標で作られる領域を株価のサポート線として活用したり、トレンドの判断をします。</td>
          <td>雲が株価より上にあれば上値抵抗線として、下にあれば下値抵抗線として、この付近に近づくと株価が反転する傾向にあります。<br>
            逆に株価が雲を突き抜ける場合(ゴールデンクロス、デッドクロス)では、力強い動きとして相場反転のポイントとして認識し、その後のトレンドの変化を予測します。</td>
        </tr>
        <tr>
          <td>指数平滑移動平均</td>
          <td>移動平均</td>
          <td>直近の株価に重み付けをして過去の株価には軽くする方法で(時系列重み付け)平均値を算出して、直近の株価を重視したトレンドを予測する方法です。</td>
          <td>長期と短期の期間を用いて平均線を算出し、短期線が長期戦を上抜ける時点(ゴールデンクロス)を上昇シグナルと捉え、逆に下抜ける場面(デットクロス)を下降シグナルと捉えます。</td>
        </tr>
        <tr>
          <td>MACD</td>
          <td>振れ幅</td>
          <td>期間の異なる指数平滑平均値の差額をMACDと呼びます。MACDの時系列線と更にその平均線のシグナルの相対的な位置関係からサイクルやトレンド、売買のサインを読み取ります。</td>
          <td>MACDの傾きとシグナルの傾きが逆になった場合に売買のサインと捉えます。特に上昇局面はMACDがシグナルを上抜けた場合、下抜いたら下落サインと判断します。</td>
        </tr>
        <tr>
          <td>RSI</td>
          <td>振れ幅</td>
          <td>特に一定値幅の範囲内で長く推移(ボックス圏で推移)している時に、過去の比較的長期間の株価の標準偏差(振れ幅)に対する直近株価の上昇幅(下落した時は考慮しない)の比率で買われ過ぎ、売られ過ぎのサインを読み取ります。</td>
          <td>RSIが数十パーセント以下の場合は売られすぎ、70以上で買われ過ぎと判断します。RSIの時系列の方向性と実際の株価の方向性が逆の場合は逆行現象と言ってトレンドの変化と捉えます。</td>
        </tr>
        <tr>
          <td>ストキャスティクス</td>
          <td>振れ幅</td>
          <td>過去の一定期間での最も高い株価と最も低い株価に対して、今の株価がどの水準にあるかを表した「％K」線と遅れて推移する「％D」線と％D線の過去平均の「％SD」線の3本で形成されます。</td>
          <td>%K線と％D線が数十パーセント以下の場合は売られ過ぎ、70％以上の時は買われ過ぎと判断します。ただし、頻繁に変化する傾向があるので他の指標との併用をオススメします。</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
