<!-- seo -->
<% set_meta_tags title: '楽天証券の口座開設方法' %>
<% breadcrumb :foreign_investment %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>楽天証券の口座開設方法</h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <h3>1.資料請求</h3>
      <!-- affiliateに審査通過したら以下のリンク先を変更する -->
      <% rakuten_af_link = 'https://account.rakuten-sec.co.jp/ApplicationTop/applicationInit.do' %>
      <% rakuten_login_link = 'https://www.rakuten-sec.co.jp/ITS/V_ACT_Login.html' %>
      まず最初に下記画面で資料請求を行うためにご自身の情報を入力して口座申込を行います。<br>
      ページ上で口座申込書という記載があるのは
      申込申請をしただけでは実際には申込完了せず、申込の資料が請求されるだけだからです。<br>
      資料請求を経ずに申込を行いたいという方も面倒ですが一度この資料請求を行う必要がありますので
      以下の手順に従って資料請求をして頂ければと思います。<br>
      逆に、資料請求を行わないと申込の申請も完了もできませんのでご注意ください。<br><br>

      それでは以下のリンクをクリックして資料請求ページを開いてください。<br>
      <%= link_to rakuten_af_link, :target=>["_blank"] do %>
        資料請求画面<br>
        <%= image_tag 'http://www.nefpi-ranking.com/wp-content/uploads/2013/10/rakuten01-1.jpg' %>
      <% end %>
<br><br>
      上記、画面上で口座開設ボタンを押した後、楽天IDをお持ちの方とそうでない方で対応が少し異なります。<br>
      <br>
      ・既に楽天のIDを持っている方は
      <%= link_to 'こちら', 'https://grp01.id.rakuten.co.jp/rms/nid/login', :target=>["_blank"] %>からログインすれば入力を省略できます。<br>
      <strong><%= link_to '資料請求(ログイン)', 'https://grp01.id.rakuten.co.jp/rms/nid/login', :target=>["_blank"]%></strong><br>
<br><br>
      ・楽天IDをお持ちでない方は
      <%= link_to 'こちら', 'https://account.rakuten-sec.co.jp/ApplicationTop/applicationInit.do' %>からご覧ください。<br>
      <strong><%= link_to '資料請求(情報入力)', 'https://account.rakuten-sec.co.jp/ApplicationTop/applicationInit.do' %></strong>

      <br><br><br><br>
      楽天アカウントを保有している方は情報が省けるのでログインすることをお勧めしますが、
      多くの方は楽天アカウントを持っていないと思いますので、ここではログインせずに資料請求をする方法について解説します。<br>
      上記資料請求リンクからページ遷移すると、情報入力ページに遷移します。<br><br><br>
      まず、遷移先のページで「個人情報保護方針に同意の上、口座開設申込書を請求します」というチェックボックにチェックを入れます。<br>
      <%= link_to rakuten_af_link , :target=>["_blank"] do %>
        <%= image_tag 'http://www.nefpi-ranking.com/wp-content/uploads/2013/10/WS000176.jpg' %><br><br>
      <% end %>
      <br><br><br>
      入力し終わったら一番下の方にある「入力内容を確認する」ボタンを押してください。<br>
      <%= link_to rakuten_af_link , :target=>["_blank"] do %>
      <%= image_tag 'https://account.rakuten-sec.co.jp/ApplicationTop/image/btn_confirm_entries_hover.png' %>
      <% end %><br><br><br><br>

      次に資料請求画面が表示されますので、「同意して申込む」ボタンを押してください。<br>
      <%= link_to rakuten_af_link , :target=>["_blank"] do %>
        <%= image_tag 'http://www.nefpi-ranking.com/wp-content/uploads/2013/10/WS000177.jpg' %>
      <% end %>
      <br><br><br>
      最後に確認画面で申込ボタンを押したら完了です。<br>
      <%= link_to rakuten_af_link , :target=>["_blank"] do %>
        <%= image_tag 'http://www.nefpi-ranking.com/wp-content/uploads/2013/10/WS000178.jpg' %>
      <% end %>
      <br><br><br><br>
      <h3>2.口座開設する</h3>
      資料請求をすると1週間以内に口座開設の書類と返信用封筒が届きます。<br>
      書類に必要事項を記入して、本人確認書類を同封して返信用封筒でそのまま郵便ポストに送ります。<br>
      必要事項と言っても資料請求する際にウェブ上で入力した内容は既に記入されているので<br>
      書類上で必要なことは、<strong>印鑑を押して自分の名前を記入するだけ</strong>です。<br>
      一つ一つ説明します。<br>

      かなり丁寧に開設していますが、①30秒、②1分、③2分の合計数分程度で終わります。<br><br>

      ①書類へのサインと押印<br>
      <br>
      以下の書類に名前を書いて印鑑を押します。<br>
      <br>
      <%= link_to rakuten_af_link, :target=>"_blank" do %>
        <%= image_tag 'http://kabukiso.com/rakuten/mousikomi2.jpg' %><br>
      <% end %>
      <br><br>
      ②本人確認書類の準備<br>
      <br>
      本人確認書類は<strong>運転免許証があれば運転免許証</strong>が好ましいです。<br>
      <%= image_tag 'https://account.rakuten-sec.co.jp/ITS/images/acc_identification_img_01.gif' %><br>
      <br>上記準備ができたらコンビニでコピーしてください（ご自宅にスキャナー付きのプリンターがあれば勿論それで結構です）。
<br><br>
      免許証がなければ以下のものでも構いません。<br>
      <br><br>
      <strong>住民基本台帳カード</strong><br>
      <%= image_tag 'https://account.rakuten-sec.co.jp/ITS/images/acc_identification_img_02.gif' %><br><br>
      <strong>健康保険証(裏面も)</strong><br>
      <%= image_tag 'https://account.rakuten-sec.co.jp/ITS/images/acc_identification_img_03.gif' %><br><br>
      <strong>住民票の写し</strong><br>
      <%= image_tag 'https://account.rakuten-sec.co.jp/ITS/images/acc_identification_img_04.gif' %><br><br>
      <strong>在留カード、特別永住者証明書など(外国人の方のみ)</strong><br>
      <%= image_tag 'https://account.rakuten-sec.co.jp/ITS/images/acc_identification_img_07.gif' %><br><br>
      <strong>パスポート</strong><br>
      <%= image_tag 'https://account.rakuten-sec.co.jp/ITS/images/acc_identification_img_08.gif' %><br><br>
      <strong>個人番号カード</strong><br>
      <%= image_tag 'https://account.rakuten-sec.co.jp/ITS/images/acc_identification_img_09.gif' %><br><br>
      他にも印鑑登録証明書でも可能です。<br>
      <br><br>
      ③返信用封筒に同封して郵便ポストに入れる<br>
      <%= image_tag 'http://pictkan.com/uploads/cache/710423336/mailbox-22161_1920-400x270-MM-100.jpg' %>
      <br><br>
      上記①サイン＆押印した書類と②本人確認書類を返信用封筒に同封して送り返すだけです。<br>
      書類返送後、1週間ほどで口座開設完了の通知がご自宅に届きます。<br>
      <strong>これで楽天証券の口座開設のために必要な全ての作業が完了したことになります。</strong><br>
      口座開設通知書類に楽天証券にログインするためのアカウント情報(IDやパスワード)が記載されておりますので、
      これで<%= link_to 'そのIDとパスワードを使ってログイン', rakuten_login_link %>できるようになります。<br>
      <br><br><br><br>
      <h3>3.証券口座への入金</h3>
      <h4>リアルタイム入金</h4><br>
      次に楽天証券で入金する方法について説明します。<br>
      楽天証券には<strong>リアルタイム入金</strong>という制度があります。<br>
      リアルタイム入金とは振込手数料が無料で、振込後すぐに株式などの投資に使うための証券口座に入金がされます。<br>
      <br>
      楽天のすごいところは<strong>証券口座に入金後、株式などに投資せずに放置しておいても利息がつく</strong>という点です。<br>
      楽天という会社には証券会社以外にも銀行もあるので、インターネット上での入金以外にも、<strong>ATMや銀行窓口を使った入金も可能で
        非常に便利です。</strong>
      ただし、インターネットでの入金は無料ですが、ATMでは他銀行同様振込手数料がかかるので注意が必要です。<br>
<br>
      <h4>楽天証券に入金可能な金融機関</h4>
      <table class="securities_table">
        <tbody>
          <tr><th>金融機関</th><th>利用可能時間</th><th>メンテナンス時間</th><th>振込限度額</th></tr>
          <tr><td>楽天銀行</td><td>0:05-23:55</td><td>ー</td><td>1000万円/日</td></tr>
          <tr><td>三井住友銀行</td><td>24時間</td><td>毎日17:00-17:30、毎週日曜21:00-翌7:00</td><td>1,000万円/日</td></tr>
          <tr><td>三菱東京UFJ銀行</td><td>24時間</td><td>毎月第2土曜21:00～翌7:00</td><td>1,000万円/日</td></tr>
          <tr><td>みずほ銀行</td><td>24時間</td><td>毎週土曜22:00～翌8:00、毎月第1・4土曜3:00～5:00</td><td>2,000万円/日</td></tr>
          <tr><td>ゆうちょ銀行</td><td>0:05-23:55</td><td>毎月第1・3月曜0:00～6:30、毎日23:55～翌0:05</td><td>1,000万円/日</td></tr>
          <tr><td>ジャパンネット銀行</td><td>24時間</td><td>毎月第3日曜0:00～6:00</td><td>9,999万円/日</td></tr>
          <tr><td>セブン銀行</td><td>24時間</td><td>毎月第3日曜23:30-翌5:30</td><td>1,000万円/日</td></tr>
          <tr><td>りそな銀行</td><td>24時間</td><td>毎月第1・第3月曜2:00～翌6:00、毎週土曜21：00～翌8：00、毎週日曜23:00～翌7：00</td><td>1,000万円/日</td></tr>
          <tr><td>埼玉りそな銀行</td><td>24時間</td><td>毎月第1・第3月曜2:00～翌6:00、毎週土曜21：00～翌8：00、毎週日曜23:00～翌7：00</td><td>1,000万円/日</td></tr>
          <tr><td>近畿大阪銀行</td><td>24時間</td><td>毎月第1・第3月曜2:00～翌6:00、毎週土曜21：00～翌8：00、毎週日曜23:00～翌7：00</td><td>1,000万円/日</td></tr>
          <tr><td>住信SBIネット銀行</td><td>24時間</td><td>不定期</td><td>9,999万円/日</td></tr>
          <tr><td>イオン銀行</td><td>24時間</td><td>毎月第2月曜2:00～7:00</td><td>1,000万円/日</td></tr>
        </tbody>
      </table>

      <br><br><br>
      <h4>楽天銀行に入金する方法(リアルタイム入金)</h4>
      それでは実際にリアルタイム入金を使って実際に入金する方法に入ります。<br><br>

      ログインIDには上記2.口座を開設した際に郵送で届いた口座開設通知書に記載されているIDとパスワードを入力してください。<br>
      このアイパス(IDとパスワード)は証券口座で入金、株価動向を把握したり、株式売買をする際に必ず必要になりますので忘れないようにしてください。<br>
      パソコンやスマホをご自身以外が触れないのであればアイパスを保存しておけば次回以降スムーズにログイン出来ます。<br>
      <br>
      <%= image_tag 'http://kabukiso.com/rakuten/nyuukin2.gif' %><br>
      <br><br>

      ログインするとこのようなホーム画面が表示されます。
      この画面上部にあるホーム、資産状況、注文、投資情報、ヴィレッジ、口座情報などの項目が各種メニューを表示するタブになります。
      この中の資産状況のタブをクリックしてください。

      http://kabukiso.com/rakuten/nyuukin3.gif


      資産状況をクリックすると、左側にメニューが表示されますので、その中の少し下の方にあるリアルタイム入金という項目を探してください。
      http://kabukiso.com/rakuten/nyuukin4.gif


      リアルタイム入金というページが表示されると、その中に上でご紹介した振込可能な金融機関のリストが表示されますので、
      その左の列にあるボタンの中からご自身の銀行口座を選択してください。
      http://kabukiso.com/rakuten/nyuukin5.gif


      すると、その金融機関のページが立ち上がりますので、そのページの指示通りログインして入金額などを入力すれば
      楽天証券の口座に入金が完了します。




      <br>

      <h3>4.株の購入</h3>
      ここまでで、楽天証券に口座を開設するために申し込みを行い、手続きを完了し、入金するところまで行いました。<br>
      残るはいよいよ実際に株を売買するだけです。<br>
      株で成功するためにはとにかく場数を踏むしかないです。<br>
      理論はたくさんあるし、勉強しなくてはいけない知識は株、相場、経済、投資理論、一つ一つとっても学問領域として成り立つほど奥が深く、一朝一夕で学べるものではありません。<br>
      でも株で稼いでいる人が全員それらを完璧にマスターしてるかというと実際、そんなことはありません。<br>
      むしろ逆です。学問的な知識や教科書に出てくるような理論のような類を全く知らない人で稼いでる人の方が多いと思います。<br>
<br>
      株で損する人と得する人を二分する要因は何か。<br>
      これは一言で言うのは難しいと思いますが、個人的には場数だけだと思います。<br>
      とにかく売買の回数を繰り返すしかありません。<br>
      もっと正確に言うとたくさん失敗して経験から学ぶしかないと思ってます。<br>
      何も考えずにやみくもに売買することは考えものですが、失敗から得られる教訓ほど自分を守ることはないからです。<br>
      デイトレーダーで生活が成り立っている人は相場の動きの規則性から自分の中で運用ルールを作り出して
      そのルールに対して冷徹なまでに自分の感情を取り除いて実行しています。<br>
      自分の感情が損益にいかに影響するかを知っているからです。<br>
      ここで細かい法則論を書くことはしませんが、私自身も10年以上も月足、日足、分足など長短さまざまな期間でチャートを見て動きを予測していますが、
      今後の動きがなんとなくわかっていても恐怖の感情に流されて自分が買った銘柄の反転を待てずに損切りすることがあります。<br>
      こうした感情を制御して運用ルールを徹底することはチャートや財務分析をするだけでは鍛えることはできず、
      場数を踏むことによってのみ鍛えられます。<br>
<br><br>
      少し前置きが長くなりましたが、楽天の証券口座を使って株を購入してみましょう。<br>
      まず最初にこちらから証券証券の口座にログインします。<br>
<br>
      次に画面上部にあるタブの中から「注文」を選択します。<br>
      <%= image_tag 'http://kabukiso.com/rakuten/buy.gif' %>

      するとタブの下が投資先のジャンルが表示されるので、「日本株式」が選択されていることを確認して、
      左のメニューリストの最上部の買い注文をクリックして、注文情報入力画面を開きます。
      そしてページ中央の銘柄コードを入力するか、業種を選択して、「検索」ボタンを押します。<br>
      <br>
      <%= image_tag 'http://kabukiso.com/rakuten/buy2.gif' %><br>
      <br>
      検索ボタンを押した後、該当銘柄が表形式で表示されます。<br>
      該当する銘柄の左の列の注文の「買い」というリンクをクリックしてください。<br>
      <%= image_tag 'http://kabukiso.com/rakuten/buy3.gif' %><br>
      <br>
      <br>
      すると注文詳細入力（買い注文/受付）ページが表示されますので、
      まずは売買する証券取引所を選んでください。<br>
      複数の証券取引所で売買されている場合は銘柄名の隣の証券取引所が選択できるようになっているはずなので選択してください。<br>
      基本的には出来高の多い市場を選択してください。<br>
      購入したい注文の詳細（株数、注文方法、口座種別）を決めていきます。
      ①購入したい株数を入力してください。<br>
      ②指値か成行かを選択してください。<br>
      ③特定口座か一般口座を選択してください。特に何もなければ特定口座を選択してください。<br>
      ④確認ボタンを選択してください。<br><br>

      <%= image_tag 'http://kabukiso.com/rakuten/buy5.gif' %> <br>
      <br>
      <br>
      最後に入力情報の確認画面が表示されます。<br>
      問題なければ<strong>取引暗証番号</strong>を入力して「注文」ボタンを押してください。<br>
      <br>
      <%= image_tag 'http://kabukiso.com/rakuten/buy6.gif' %><br>
      <br>
      次はこの買った銘柄を売ります。<br>
      <br><br><br>
      <h3>5.株の売却</h3>
      購入方法がわかったところで、購入した銘柄を実際に売ってみましょう。<br>
      購入時同様、楽天証券の口座にログインしてください。<br>
      注文タグを選択し、<br>
      <%= image_tag 'http://kabukiso.com/rakuten/buy.gif' %><br>
      <br>
      左のメニューリストの中から売り注文を選択してください。<br>
      <%= image_tag 'http://kabukiso.com/rakuten/sell.gif' %><br>
      <br>
      買い注文時と異なり、売り注文を押すと自分が買った銘柄リストが表示されます。<br>
      <%= image_tag 'http://kabukiso.com/rakuten/sell2.gif' %><br>
      <br><br>
      すると、選択した銘柄の売り注文情報が表示されます。<br>
      購入時同様、注文(売却)数量、注文方法を入力し、確認ボタンを押してください。<br>
      <br>
      <%= image_tag 'http://kabukiso.com/rakuten/sell3.gif' %><br>
      <br><br>

      <br>
      最後に注文情報を確認し、取引暗証番号を入力して、注文ボタンを押すと注文が完了します。
      <br><br>

      <%= image_tag 'http://kabukiso.com/rakuten/sell4.gif' %><br>
      <br><br><br><br>

      <h3>6.証券口座から出金する</h3>
      ここでは上記の5.売買によって利益が出たと想定し、獲得した利益の一部を指定した金融機関の預金口座などに移転します。<br>
      売買した時と同様にまず楽天証券の口座にログインします。<br>
      次にページ上部の「資産状況」を選択します。<br>
      <%= image_tag 'http://kabukiso.com/rakuten/shukkin.gif' %><br>
      <br>
      左メニューの「出金」リンクをクリックします。<br>
      <%= image_tag 'http://kabukiso.com/rakuten/shukkin2.gif' %><br>
      <br>
      出金金額をクリックします。<br>
      またこの時、デフォルトで設定されている出金先指定金融機関が正しいか念のため確認してください。<br>
      なお、出金手数料は無料です。<br>
      <%= image_tag 'http://kabukiso.com/rakuten/shukkin3.gif' %><br>
      <br>
      <br>
      最後に(楽天証券の)取引暗証番号を入力して「出金」ボタンを押してください。<br>
      <%= image_tag 'http://kabukiso.com/rakuten/shukkin4.gif' %>

<br><br><br>
      以上で、楽天証券の証券口座の書類申請、口座申込、入金、株の売買、出金までの一通りのプロセスが終わりました。<br>
<br>
      途中で書きましたが、株で損しないためには逆説的ですが、小さな取引をたくさん行って小さな失敗を重ねることだと思います。<br>
      いきなり大きな売買をすると一度の失敗の影響が大きいので立ち直れなくなる可能性もありますし、
      勉強がてら致命傷にならないレベルの失敗を繰り返し、自分の中の相場観と運用ルールを固めてください。<br>
      <strong>画像は一部楽天証券HPおよびkabukiso様から抜粋したものを使用しております。</strong><br>
      http://kabukiso.com/rakuten/r-nyuukin.html
    </div>
  </div>
</div>
