<!-- seo -->
<%= set_meta_tags title: 'SBI証券で口座を開く' %>
<%= breadcrumb :study_securities_sbi %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         SBI証券の口座を開く
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      SBI証券の証券口座を開設するにはウェブアップロード方式が便利です。
      <br>作成中<br>
https://www.sbisec.co.jp/ETGate/WPLETmgR001Control?OutSide=on&getFlg=on&burl=search_home&cat1=home&cat2=service&dir=service&file=home_sogoaccountflow_express.html
      <br><br><br>
<br><br>

      <a href="http://h.accesstrade.net/sp/cc?rk=010016ct00ft8k"
         rel="nofollow"
         target="_blank">
          証券会社に口座を開く
          <img src="http://h.accesstrade.net/sp/rr?rk=010016ct00ft8k" width="1" height="1" border="0" alt="" />
      </a>
      <br><br>
      <a href="http://h.accesstrade.net/sp/cc?rk=010016ct00ft8k"
      rel="nofollow"
      target="_blank">
      <%= image_tag 'https://a248.e.akamai.net/f/248/29350/7d/pict.sbisec.co.jp/sbisec/images/base/g_home_sogoaccountflow_express_151229_09.gif' %>
          <img src="http://h.accesstrade.net/sp/rr?rk=010016ct00ft8k" width="1" height="1" border="0" alt="" />
      </a>
      <br><br><br>
      <%= image_tag 'https://a248.e.akamai.net/f/248/29350/7d/pict.sbisec.co.jp/sbisec/images/base/g_home_sogoaccountflow_express_151229_09_02.jpg' %>
    </div>
  </div>
</div>
