<!-- seo -->
<%= set_meta_tags title: '初めて株を買ってみる' %>
<%= breadcrumb :buy_matsui %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         初めて株を買ってみる
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <h4>初めて買う</h4>
      それでは実際に特定の銘柄を購入してみましょう。

      1.管理ページへのログイン
      松井証券の場合、ネットストックというシステムの中で銘柄選定や売買を行うことができます。
      <%= link_to 'こちらからログイン', 'https://www.deal.matsui.co.jp/ITS/login/MemberLogin.jsp' %>してください。
      ログインIDや会員パスワードは松井証券から郵送されてきた、申込手続完了のお知らせとして紙面で郵送されているはずですので
      無くさずに保管してください。


      2.入金ページ
      ログインすると、確認事項の了承ページに遷移するかもしれませんが、大体チェックを入れて抜けます。
      ※ブラウザにポップアップブロッカーがインストールされていると正常に読み込みできない場合があるので解除してください。
      次に銀行の預金口座から松井証券の証券口座に投資資金を移します。


      この資金移動をするためには、ページ上部に幾つかのメニューバーがあると思いますが、その中で右から二番目の「口座管理」と言うメニューを選択して下さい。
      すると下のページが変わって、左のメニューリストに「ネットリンク入金」という項目がありますので、そちらを押すと、
      ページの中心に銀行名が表示されます。
      これらの銀行の中からご自身の普段使用している銀行口座を選択すると、その銀行の専用ページが表示されるので
      そのページの指示通り(大体確認事項の了解が求められるので、同意するというボタンなどを選択して)進んで下さい。

      無事、資金の口座移動ができたら次の売買のページに遷移します。




      3.売買ページ

      売買するためにはページ上部にあるメニューバーの中の株式取引を選択します。
      すると右側のメニューリストに現物買というメニューが見えます。
      この現物という表現は先物やデリバティブに対して、特定の銘柄などの株式全般を指す場合に使います。
      現物買というメニューを選択するとページ中央部に銘柄コードの入力フィールドが表示されますので、
      そちらに買いたい銘柄の銘柄コードを入力して検索ボタンを押します。

      すると、その銘柄の購入内容の詳細入力画面に遷移します。

      ここでは、口座区分、市場、株数、値段(成行)、執行条件、有効期限の入力・選択を行います。

      順に説明していきます。

      口座区分とは、特定口座か一般口座かNISAかの選択です。
      特定口座では主に購入した銘柄で得た利益の確定申告を行わなくていい口座だと思って下さい。
      反対に一般口座では確定申告を行わなくてはなりません。
      両者で売買手数料はかかります(松井証券の場合は売買金額10万円までは手数料がかかりません)。
      NISAでは上限金額までは売買手数料もかかりませんし、確定申告もしなくていいです。

      次に市場区分についてですが、例えばトヨタ株(7203)では東証と名証の二つが選択できるようになっているはずです。
      つまりその銘柄が上場している市場が表示されていて、どちらで購入するかを示しています。
      通常、出来高が多い銘柄では特に市場間の価格に差異はありませんので、出来高の多い市場を選択しましょう。

      株数は購入したい株数を選択します。
      このとき単位株に注意してください。単位株を誤るとチェックに引っかかって購入できません。

      値段は指値の場合に入力してください。
      買いの場合は買い気配値や板の情報を見ながら決めてください。
      買いの気配値が1000円なのに500円で指値買いしようとしてもすぐには買えません。
      板の情報を見ながら、自分が妥当だと思う金額で指値を入れる必要があります。
      逆にいくらでもいいからすぐに買いたい場合は成行のチェックボックスにチェックを入れてください。

      執行条件は何も考えずに「なし」で大丈夫です。
      その他の選択肢としては、引け値近くで買いたい場合は「引け」という項目を、
      寄り付きで買いたい場合は「寄付」を選択します。

      IOCという項目はあまり使いませんが、注文を出してすぐに約定するか、約定できなければキャンセル扱いとなる注文です。
      通常は指値で注文をした場合、注文を出した日中指値注文が入ったままですが、
      現状の相場つきなら、安定しているからこの価格で買っても将来少し高く売れそうだけど、
      万が一相場が崩れ(急落し)た場合は未約定文の注文はすぐにキャンセルしたいというときに使う方法です。

      最後に有効期限は注文を出した場合、その日中に売買成立しなかったら取り消しする「当日」注文か、
      その日中に売買成立しなくてもその週（金曜）まで注文を残す「週末まで」の注文かの選択をして
      注文確認ボタンを押します。

      

    </div>
  </div>
</div>
