<!-- seo -->
<%= set_meta_tags title: '最初に買う銘柄の選び方' %>
<%= breadcrumb :study_first_buy %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         最初に買う銘柄の選び方
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <strong>【個別銘柄の選び方】</strong><br>
    口座を開設したら次はどの銘柄を買うか選びます。<br>
    すでに買いたい銘柄が決まっている方は読み飛ばしてしまっても問題ないですが、
    最初にどの銘柄を買うか迷っている方の参考になればと思っています。<br>
<br>
<br>
    ただ、ここではあくまで銘柄の選び方を紹介しているだけに留まり、特定の銘柄を推奨しているものではありませんのでご了承ください。<br>
    <br>
<br>
    <strong>【市場の選定】</strong><br>
    まず最初にやるべきことはどの市場をターゲットにすべきかです。<br>
    海外の銘柄をターゲットにするのか、国内なのか。<br>
    国内であれば東京(東証)なのか札幌なのか、福岡なのかなどです。<br>
    しかし、例えば札幌証券取引所の有望な単独上場銘柄(東証に上場せずに札幌にだけ上場している銘柄)はほぼ皆無ですので東京市場(東証)にすることをお勧めします。<br>
    東証であれば、新興市場をターゲットにするのか、二部市場をターゲットにするのか、一部市場をターゲットにするのか。<br>
    特にこだわりがなければ東証一部市場をターゲットにすることをお勧めします。<br>
    国内の証券市場で最も出来高が多く、最も厳しい審査に通過している比較的安全な銘柄が揃っているからです。<br>
<br><br><br>
    <strong>【銘柄を選ぶ】</strong><br>
    ターゲット市場が決まったら、その中で有望な銘柄を探します。<br>
    探し方はネットや雑誌・新聞などの株式特集などのページで優良な銘柄を探します。<br>
    とは言っても、ここですぐに優良銘柄を探すのは難しいと思いますので、
    よくある失敗と幾つか参考になりそうな探しかたをご提案します。<br>
<br>
    最初にやりがちな失敗として、トヨタやMUFG(傘下に三菱東京UFJ銀行)など大型銘柄を選ぶことが挙げられます。<br>
    大型銘柄は有名な大企業であることで安全性が高い一方、値動きが小さく、
    配当目的や長期保有目的で数か月から数年保有している方ににとっては良いでしょうが、
    頻繁に売買したい方にとっては物足りないと思います。<br>
    また、もし大きな値動きがあったとしても市場全体が動いている時か何かしらのニュースがあった時なので、
    何も考えずに購入してしまうと予想もつかない方向に動いてしまい、思わぬ損をしてしまうこともあります。<br>
<br>
    <strong>1.テーマで選ぶ</strong><br>
    そこでお勧めするのがテーマ株という考え方です。<br>
    要は何かしら世の中の動きやニュースがあった時、関連する銘柄を探すという方法です。<br>
    例えば、最近話題のマイナンバーというテーマに対して、関連銘柄を探します。<br>
    マイナンバーという政府主導の新制度に対して、民間企業がどのような取り組みをしているのかを調べます。<br>
    仮に「マイナンバー　新経済連盟」というアプローチで調べてみると、由利孝氏というキーパースンを知ることができます。<br>
    次に「マイナンバー　由利 孝」で検索すると<%= link_to 'このような記事', 'http://www.projectdesign.jp/201505/mynumber/002077.php' %>が見つかります。<br>
<br>
    そうすると、この「テクマトリックス」という企業の社長がキーマンとなって医療情報との連携を政府と一緒にやっているんだなという事が分かります。<br>
    さらにこの銘柄(3762)の市場を調べてみると東証一部に上場しているので、一部上場基準は満たしていることも分かります。<br>
    株価を見ると以下のグラフの通り、若干値動きがあるものの、550円から750円の間で堅調に推移している事が分かります。<br>
<br>
    <%= image_tag("http://kabusapo.com/chart/graph_kikan.php?co=3762&f_time=14-5-1&t_time=15-5-1",
    alt: "mixi", :width => '700', :height => '400') %><br>
<br><br>
    <br><br>そこで記事が発刊された5月にこの銘柄を買っていたらどうなるか、、以下のグラフ（2015年5月以降の株価の推移）です。<br><br>

    <%= image_tag("http://kabusapo.com/chart/graph_kikan.php?co=3762&f_time=15-5-1&t_time=16-5-9",
    alt: "mixi", :width => '700', :height => '400') %><br><br>
    パッと見ただけで、購入後一年以上も上昇し続けている事がわかるでしょう。<br>
    仮にこの記事が出た2015年5月に購入していれば、その後の一年間で３倍近い値段になっていたことになります。<br>
<br>
    これは極端な成功例ですが、日々こうして情報収集をしていればその後値上がりする銘柄を探しだすこともできると思います。<br>
    少し前は3Dプリントというテーマがありましたが、
    このようにテーマには流行性があるので、マイナンバーが終わったら民泊、人工知能による車の自動運転なども出てくると思いますので
    日々流行に目を光らせることが大事です。<br>
    <br>
<br>
    <strong>2.値動きで選ぶ</strong><br>
    テーマの情報をトリガーに調べる方法以外には、過去の値動きから探す方法です。<br>
    値動きから探すと言っても多種多様な観点があります。<br>
    例えば、過去の上昇率から探す方法、下落しすぎている銘柄を探す方法、出来高が急に多くなっている銘柄、
    株価を変動は様々なサイトで紹介されており、
    幾つかの参考サイトをあげますのでご参考にしてください。<br>
    <br>
    <%= link_to '・みんなの株式', 'http://minkabu.jp/screening/technical' %>
    <%= link_to '・株マップ.com', 'https://jp.kabumap.com/servlets/kabumap/Action?SRC=focusRanking/base&type=2' %>
    <%= link_to '・Yahoo!ファイナンス', 'http://finance.yahoo.co.jp' %><br>
    <%= link_to '・東証証券取引所', 'http://www.jpx.co.jp' %><br>
    <%= link_to '・ダイヤモンドオンライン', 'http://diamond.jp/subcategory/株式' %><br>
    <%= link_to '・東洋経済オンライン', 'https://www.google.co.jp' %><br>
    <%= link_to '・事業構想', 'http://www.projectdesign.jp/' %><br>
<br>
    多少ギャンブル性が強くなりますが、短期の変動は多少大きいが、長期間の変動は低い場合、その変動の範囲内で一時的に安くなった価格帯で購入して
    高いところで売り抜けるというスイングトレードがあります。<br>
    また、長期的に見て上昇し続けてる銘柄も、短期的には山と谷を繰り返していることがわかりますので、その谷の部分で買うという方法も考えられます(押し目書い)。<br>
    <br>最初はここまでやればある程度買いたい銘柄が見つかると思います。<br>
<br>
    もう少し熟練してくると、専門的になりますが、財務指標やテクニカル指標を見て、成長性や信用リスクについて調べます。<br>
    こちらについては上級編で記載しますが、財務指標はその会社の成長性、保有資産の効率性、財務の健全性という三つの観点でみます。<br>
<br><br>
    <strong>3.テクニカル指標で選ぶ＜上級編＞</strong><br>
    テクニカル指標の代表例として、流動性とボラティリティという考え方があります。。<br>
    流動性とは、いわばその銘柄がどれだけ売買されているかということです。<br>
    具体的には、出来高と言って一定期間でどれだけの株数が売買されているかということです。<br>
    株式会社ごとに発行している株数は異なりますので、通常は発行済み株数に対してどれだけ出来高があるかを示します。<br>
    値動きが全くなければせっかく購入しても高く売ることができないので利益が出ませんし、
    流動性がなければ買いたくても買えないですし、どれだけ精緻な分析して目標株価を算出しても売買されていなければ適正価格に達しませんので
    流動性がいかに重要か分かるかと思います。<br><br><br>

    <strong>4.倒産リスクをチェック＜上級編＞</strong><br>
    最後に信用リスクのチェックです。<br>
    例え、一部市場に上場していても倒産する銘柄はあります。<br>
    大きくは、上記のテクニカル指標に分類されますが、上昇するかどうかと倒産するかどうかという視点の違い上、どうしても別の観点で見ざるをえません。<br>
<br>
    信用リスクで見る場合、定性的観点と定量的観点で見る必要があります。<br>
    定性的観点では、
    <%= link_to '監理銘柄と整理銘柄というリスト', 'http://www.jpx.co.jp/listing/stocks/supervision/index.html' %>
    をみます。<br>
    昔は監理ポストや整理ポストと呼ばれておりました。<br>
    <br>
<br>
    定量的には、財務データから得られる指標を見る必要があります。<br>
    例えば、自己資本比率や、短期借入比率、長短借入比率などがあります。<br>
<br>
    さらに専門的に見るなら、IR情報などから四半期報告書や有価証券報告書で銀行や他者からの借入状況や返済期限、財務制限条項※などを確認します。<br>
    ※財務制限条項とは、最終利益が２年連続で赤字になるなど一定の財務条件に抵触すると、強制的に借金を返さないといけなくなるというものです。<br>
    主に銀行からの借入金に対して課され、コベナンツと呼ばれたりします。<br>
<br><br>
    その他参考材料<br>
    ・<%= link_to 'バイサイドレポート', 'http://www.nomura.co.jp/market/report/' %><br>
    ・<%= link_to '予想家さんという職業', 'http://info.finance.yahoo.co.jp/kabuyoso/' %><br>
  </div>
</div>
