<!-- seo -->
<% title_article = '投資額で選ぶ証券会社' %>
<%= set_meta_tags title: title_article %>
<%= breadcrumb :study_securities_fee %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         <%= title_article %>
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <h3>投資額によって選ぶべき証券会社は異なる</h3>
      もし、今あなたがすでに株式投資をしていたら、もしくはまだ投資の経験がなくてもこれから始めようとしている場合、
      一回の取引でどの程度の金額を売買するでしょうか。<br>
      実はこの一回あたりの取引金額によって選ぶべき証券会社は異なります。<br>
<br>
      その際に選ぶポイントとしては取引手数料となります。<br>
      一般に株式を売買する場合には全ての方が証券会社を通じて行いますが、
      ほぼ全ての証券会社では株式手数料がかかります。<br>
      株式で売買するときにこの手数料は最初に考えなければいけません。<br>
      売却価額が購入価額を上回っても手数料を差し引くとマイナスになってしまうことも考えられるからです。<br>
      <br>
      例えば、投資初心者でまずは少額で売買したいとお考えの場合、
      <%= link_to '松井証券', '/study_pages/intermediate/apply_matsui' %>をお勧めします。<br>
<br>
      松井証券の場合、10万円以下の手数料は無料だからです。<br>
      全ての証券会社で手数料が無料になるのは松井証券の一社のみです。<br>
      <br>
<br>
      ただし、それ以上の金額を売買する場合には別の証券会社に口座を開設することをお勧めします。
      <%= link_to 'こちらのページ', '/study_pages/intermediate/securites_fee' %>
      をご覧になると分かるように、取引金額によって手数料が異なるからです。<br>

      ご自身がその時々に売買したい銘柄に応じて証券会社の口座を使い分けるべきです。<br>
      具体的には売買したい銘柄の株価に対して最小売買単位(単位株)をかけた取引金額が以下の表のどのレンジに相当するかでお選びください。<br>

      <table class="securities_table">
        <tbody>
          <tr>
            <th>順位</th>
            <th>10万円以下</th>
            <th>20万円以下</th>
            <th>30万円以下</th>
            <th>40万円以下</th>
            <th>50万円以下</th>
            <th>60万円以下</th>
            <th>70万円以下</th>
            <th>80万円以下</th>
            <th>90万円以下</th>
            <th>100万円以下</th>
            <th>100万円〜</th>
          </tr>
          <tr>
            <td>1</td>
            <td>松井証券</td><!-- 10万円 -->
            <td>ライブスター証券</td><!-- 20万円 -->
            <td>ライブスター証券</td><!-- 30万円 -->
            <td>ライブスター証券</td><!-- 40万円 -->
            <td>ライブスター証券</td><!-- 50万円 -->
            <td>ライブスター証券</td><!-- 60万円 -->
            <td>ライブスター証券</td><!-- 70万円 -->
            <td>ライブスター証券</td><!-- 80万円 -->
            <td>ライブスター証券</td><!-- 90万円 -->
            <td>ライブスター証券</td><!-- 100万円 -->
            <td>ライブスター証券</td><!-- 1000万円〜 -->
          </tr>
          <tr>
            <td>2</td>
            <td>ライブスター証券</td><!-- 10万円 -->
            <td>GMOクリック証券</td><!-- 20万円 -->
            <td>GMOクリック証券</td><!-- 30万円 -->
            <td>GMOクリック証券</td><!-- 40万円 -->
            <td>GMOクリック証券</td><!-- 50万円 -->
            <td>GMOクリック証券</td><!-- 60万円 -->
            <td>GMOクリック証券</td><!-- 70万円 -->
            <td>GMOクリック証券</td><!-- 80万円 -->
            <td>GMOクリック証券</td><!-- 90万円 -->
            <td>GMOクリック証券</td><!-- 100万円 -->
            <td>GMOクリック証券</td><!-- 1000万円〜 -->
          </tr>
          <tr>
            <td>3</td>
            <td>カブコム証券</td><!-- 10万円 -->
            <td>カブコム証券</td><!-- 20万円 -->
            <td>カブコム証券</td><!-- 30万円 -->
            <td>カブコム証券</td><!-- 40万円 -->
            <td>カブコム証券</td><!-- 50万円 -->
            <td>カブコム証券</td><!-- 60万円 -->
            <td>カブコム証券</td><!-- 70万円 -->
            <td>カブコム証券</td><!-- 80万円 -->
            <td>カブコム証券</td><!-- 90万円 -->
            <td>カブコム証券</td><!-- 100万円 -->
            <td>カブコム証券</td><!-- 1000万円〜 -->
          </tr>
          <tr>
            <td>4</td>
            <td>SBI証券</td><!-- 10万円 -->
            <td>マネックス証券</td><!-- 20万円 -->
            <td>マネックス証券</td><!-- 30万円 -->
            <td>SBI証券</td><!-- 40万円 -->
            <td>SBI証券</td><!-- 50万円 -->
            <td>SBI証券</td><!-- 60万円 -->
            <td>SBI証券</td><!-- 70万円 -->
            <td>SBI証券</td><!-- 80万円 -->
            <td>SBI証券</td><!-- 90万円 -->
            <td>SBI証券</td><!-- 100万円 -->
            <td>SBI証券</td><!-- 1000万円〜 -->
          </tr>
          <tr>
            <td>5</td>
            <td>マネックス証券</td><!-- 10万円 -->
            <td>エイチエス証券</td><!-- 20万円 -->
            <td>楽天証券</td><!-- 30万円 -->
            <td>マネックス証券</td><!-- 40万円 -->
            <td>マネックス証券</td><!-- 50万円 -->
            ⬇️なんか違うかも
            <td>証券</td><!-- 60万円 -->
            <td>証券</td><!-- 70万円 -->
            <td>証券</td><!-- 80万円 -->
            <td>証券</td><!-- 90万円 -->
            <td>証券</td><!-- 100万円 -->
            <td>証券</td><!-- 1000万円〜 -->
          </tr>

        </tbody>
      </table>

      <br>

      ちなみに、上記に当てはまらないケースが年間120万円までが非課税※となるNISA(少額投資非課税制度)です。<br>
      何れにしてもこの金額を超えた場合は上記のことを考えなければなりませんし、
      2023年以降に売買する場合にもNISAの制度がなくなるので同様に注意が必要です。<br>
      <br>
      <div class="studytips">
        <strong>※NISAとは</strong><br>
        NISAとは年間120万円までの取引金額で得た利益に対して税金が課されないということです。<br>
        利益額の120万円までが非課税になるということでもありません。<br>
        このNISAを使えば利益に対して非課税となるだけではなく、一部の証券会社では下で示すように売買手数料も一部無料になります。<br>
        またNISA口座は2023年までであれば毎年非課税枠が追加されますので、いつ開始しても遅すぎるということはありません。<br>
        <br>
        ただ一点注意しなくてはならないのは、損失を出した場合には一般口座もしくは特定口座の方がお得になる場合があります。<br>
        詳しくは別のページで説明します。<br>
      </div>

      NISAを使えば、一部の証券会社の売買手数料がほぼ無料となることがあります。<br>
      以下の表のように一部の証券会社で往復(売りと買い)の売買手数料が無料になりますし、
      その他でも片道（買いのみ）の手数料が無料になります。<br>

      http://www.kabuyutai.com/security/nisa.html
    </div>
  </div>
</div>
