<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

    <%= render 'layouts/studyIndex' %>
    <div id="studytitle">
      <h3>
        手数料で選ぶ
      </h3>
    </div>
    <div id="studycontents">
      証券会社を選ぶときに売買手数料を調べておくことは非常に重要です。
      保有していた銘柄が購入時より300円値上がりしたから利益確定しようとして、
      売買手数料が500円の証券会社で売却してしまったら200円の損失になってしまうからです。

      一口に売買手数料と言っても、売買金額によって各社の手数料が異なります。
      以下の表をご覧ください。

      SBI,DMM,ライブスター、楽天、GMO、カブコム、マネックス、松井、岡三
      <br>
      <table class="securities_table">
        <tbody>
          <tr>
            <th>順位</th>
            <th>証券会社</th>
            <th>10万円以下</th>
            <th>20万円以下</th>
            <th>30万円以下</th>
            <th>40万円以下</th>
            <th>50万円以下</th>
            <th>70万円以下</th>
            <th>100万円以下</th>
            <th>100万円〜</th>
            <th>説明</th>
          </tr>
          <tr>
            <th>１位</th>
            <td><%= link_to '松井証券', 'http://www.matsui.co.jp/service/fee/list.html' %></td>
            <td><font color="#f00"><strong>無料</strong></font></td><!-- 10万円以下 -->
            <td>300円</td><!-- 20万円以下 -->
            <td>300円</td><!-- 30万円以下 -->
            <td>500円</td><!-- 40万円以下 -->
            <td>1000円</td><!-- 50万円以下 -->
            <td>1000円</td><!-- 70万円以下 -->
            <td>1000円</td><!-- 100万円以下 -->
            <td>1000円〜</td><!-- 100万円〜-->
            <td>業界で唯一、売買金額10万円以下で無料です。<br>
            初心者の方で、まずは少額投資から開始したいという方にオススメです。</td><!-- 10万円以下 -->
          </tr>
          <tr>
            <th>２位</th>
            <td><%= link_to 'ライブスター証券', 'http://www.live-sec.co.jp/stock/fee/' %></td>
            <td>80円</td><!-- 10万円以下 -->
            <td>100円</td><!-- 20万円以下 -->
            <td>180円</td><!-- 30万円以下 -->
            <td>180円</td><!-- 40万円以下 -->
            <td>180円</td><!-- 50万円以下 -->
            <td>ー</td><!-- 70万円以下 -->
            <td>ー</td><!-- 100万円以下 -->
            <td>ー</td><!-- 100万円〜-->
            <td>どの売買金額でも平均的に最もやすい証券会社です。<br>
            まだどのくらい売買するか決まっていないけど手数料だけは抑えたい方にオススメです。</td><!-- 10万円以下 -->
          </tr>
          <tr>
            <th>３位</th>
            <td><%= link_to 'カブドットコム証券', 'http://kabu.com/cost/' %></td>
            <td>90円</td><!-- 10万円以下 -->
            <td>180円</td><!-- 20万円以下 -->
            <td>250円</td><!-- 30万円以下 -->
            <td>250円</td><!-- 40万円以下 -->
            <td>250円</td><!-- 50万円以下 -->
            <td>990円</td><!-- 70万円以下 -->
            <td>990円</td><!-- 100万円以下 -->
            <td>1890円〜</td><!-- 100万円〜-->
            <td>ライブスタート遜色ないほど低水準です。<br>
            株以外にも先物・オプションやETFなど多様な商品を売買できることも特色です。</td>
          </tr>
          <tr>
            <th>４位</th>
            <td><%= link_to 'GMOクリック証券', 'https://www.click-sec.com/corp/guide/commission_list/' %></td>
            <td>88円</td><!-- 10万円以下 -->
            <td>98円</td><!-- 20万円以下 -->
            <td>241円</td><!-- 30万円以下 -->
            <td>241円</td><!-- 40万円以下 -->
            <td>241円</td><!-- 50万円以下 -->
            <td>ー円</td><!-- 70万円以下 -->
            <td>ー円</td><!-- 100万円以下 -->
            <td>ー円〜</td><!-- 100万円〜-->
            <td>取引の際に参考となる分析系ツールや、企業の業績データを基にしたアナリストレポートなどの投資情報も充実していとが特色です。</td>
          </tr>
          <tr>
            <th>５位</th>
            <td><%= link_to 'SBI証券', 'https://www.sbisec.co.jp/ETGate/WPLETmgR001Control?OutSide=on&getFlg=on&burl=search_home&cat1=home&cat2=price&dir=price&file=home_price.html' %></td>
            <td>96円</td><!-- 10万円以下 -->
            <td>191円</td><!-- 20万円以下 -->
            <td>286円</td><!-- 30万円以下 -->
            <td>286円</td><!-- 40万円以下 -->
            <td>429円</td><!-- 50万円以下 -->
            <td>762円</td><!-- 70万円以下 -->
            <td>762円</td><!-- 100万円以下 -->
            <td>1162円〜</td><!-- 100万円〜-->
            <td>取引頻度の多い投資家向けの低価格帯が安いプランです。逆に売買頻度が少ない方向けの高価格帯が安いプランも用意されています。<br>
              IPOやPO(公募)が無料であることに加え、海外の投資銘柄が多様であることもメリットです。
            </td>
          </tr>
          <tr>
            <th>６位</th>
            <td><%= link_to 'エイチ・エス証券', 'http://www.hs-sec.co.jp/bluesky_net/course_1.htm' %></td>
            <td>134円</td><!-- 10万円以下 -->
            <td>171円</td><!-- 20万円以下 -->
            <td>339円</td><!-- 30万円以下 -->
            <td>572円</td><!-- 40万円以下 -->
            <td>572円</td><!-- 50万円以下 -->
            <td>1000円</td><!-- 70万円以下 -->
            <td>1000円</td><!-- 100万円以下 -->
            <td>1143円〜</td><!-- 100万円〜-->
            <td>口座開設してから３ヶ月間は取引手数料がタダです。<br>
              とりあえず初めてみてから検討したいという方に最適です。</td>
          </tr>
          <tr>
            <th>７位</th>
            <td><%= link_to 'マネックス証券', 'http://www.monex.co.jp/ServiceInformation/00000000/guest/G100/srv/srv05.htm' %></td>
            <td>100円</td><!-- 10万円以下 -->
            <td>180円</td><!-- 20万円以下 -->
            <td>250円</td><!-- 30万円以下 -->
            <td>350円</td><!-- 40万円以下 -->
            <td>450円</td><!-- 50万円以下 -->
            <td>1000円<br>(成行)<br>,1500円<br>(指値)</td><!-- 70万円以下 -->
            <td>1000円<br>(成行)<br>,1500円<br>(指値)</td><!-- 100万円以下 -->
            <td>約定金額の0.1%〜</td><!-- 100万円〜-->
            <td>低価格帯の取引手数料が安いことに加え、無料の分析ツールが充実しています。<br>
              1日に何度取引しても売買手数料が定額のプランもあり、中級以上のデイトレーダーに最適です。</td>
          </tr>
          <tr>
            <th>８位</th>
            <td><%= link_to '楽天証券', 'https://www.rakuten-sec.co.jp/web/commission/' %></td>
            <td>139円</td><!-- 10万円以下 -->
            <td>185円</td><!-- 20万円以下 -->
            <td>272円</td><!-- 30万円以下 -->
            <td>272円</td><!-- 40万円以下 -->
            <td>272円</td><!-- 50万円以下 -->
            <td>487円</td><!-- 70万円以下 -->
            <td>487円</td><!-- 100万円以下 -->
            <td>582円〜</td><!-- 100万円〜-->
            <td>macユーザーにも便利なマーケットスピードというリアルタイムに確認できる株価チェックツールも便利です。<br>
              売買することで、113,000円の楽天ポイントがもらえるキャンペーンも実施中です。<br>
            </td>
          </tr>
          <tr>
            <th>８位</th>
            <td><%= link_to 'むさし証券', 'http://www.treasurenet.jp/serviceinformation/stock/commision.php' %></td>
            <td>220円</td><!-- 10万円以下 -->
            <td>220円</td><!-- 20万円以下 -->
            <td>220円</td><!-- 30万円以下 -->
            <td>220円</td><!-- 40万円以下 -->
            <td>220円</td><!-- 50万円以下 -->
            <td>440円</td><!-- 70万円以下 -->
            <td>440円</td><!-- 100万円以下 -->
            <td>440円〜</td><!-- 100万円〜-->
            <td>50万円以下の売買は手数料が無料なのでわかりやすいです。<br>
              取引ごとではなく、1日の売買金額で手数料が決まるプランもあります。</td>
          </tr>
          <tr>
            <th>９位</th>
            <td><%= link_to '東海東京証券', 'http://www.tokaitokyo.co.jp/kantan/service/charge/stock.html?_ga=1.67069358.1000499655.1460268318' %></td>
            <td>1.242%</td><!-- 10万円以下 -->
            <td>1.242%</td><!-- 20万円以下 -->
            <td>1.242%</td><!-- 30万円以下 -->
            <td>1.242%</td><!-- 40万円以下 -->
            <td>1.242%</td><!-- 50万円以下 -->
            <td>1.242%</td><!-- 70万円以下 -->
            <td>1.242%</td><!-- 100万円以下 -->
            <td>0.918%＋3240円〜</td><!-- 100万円〜-->
            <td>金額ではなく、料率換算で且つ最低手数料が2700円なので計算が若干わかりにくいです。</td>
          </tr>
          <tr>
            <th>10位</th>
            <td><%= link_to '丸三証券', 'http://www.marusan-sec.co.jp/torihiki/fee/' %></td>
            <td>1.242%</td><!-- 10万円以下 -->
            <td>1.242%</td><!-- 20万円以下 -->
            <td>1.242%</td><!-- 30万円以下 -->
            <td>1.242%</td><!-- 40万円以下 -->
            <td>1.242%</td><!-- 50万円以下 -->
            <td>1.242%</td><!-- 70万円以下 -->
            <td>1.048%+1361円</td><!-- 100万円以下 -->
            <td>0.853%＋3305円〜</td><!-- 100万円〜-->
            <td>東海東京証券同様、金額ではなく、料率換算で且つ最低手数料が2700円です。<br>
              他のネット証券に比べると見劣りするかもしれません。</td>
          </tr>
        </tbody>
      </table>

      <br>
      注意しなければならないのは松井証券のように10万円まではタダで売買できるけど、
      50万円〜100万円の売買の場合は1000円もするというように、
      一見やすそうに見えても一定金額を超えてしまうと他の証券会社よりも何倍も高くなってしまうということです。

    </div>
  </div>
</div>
