<!-- seo -->
<% title = '証券会社の選び方' %>
<%= set_meta_tags title: title %>
<% breadcrumb :study_securities %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         <%= title %>
       </h1>
     </div>
    <%= render 'layouts/study_intermediate_securities_fee' %>
    <div id="studycontents">
      <h2><%= title %></h2>
      株を購入するためには、証券会社の口座(証券口座)を開設して、その口座に投資額を入金することが必要になります。<br>
      投資家は入金して初めて、その金額の範囲内で売買することができるようになるのです。<br>
      この証券口座はさまざまな違いがあるので、ご自身の投資に見合った証券会社を選ぶ必要があります。<br>
<br>
      そこで、ここでは証券会社を選びポイントを説明します。<br>
      一口に証券会社を選ぶと言っても、様々なポイントがあります。<br>
      すぐに思いつくのは証券会社に支払う手数料でしょう。<br>
<br>
      <h4>【売買手数料】</h4>
      多くの証券会社では口座を開設するだけでは手数料はかかりません。<br>
      ではどこで手数料がかかるかというと、売買時に発生する売買手数料になります。<br>
      売買手数料は証券会社によって変わってきますし、
      一部の証券会社では投資金額によっては手数料がかからないようにすることも可能ですので、
      ご自身がどのくらいの額を投資しようとしているのか、また投資頻度はどの程度かによって
      売買金額を決め、その結果として証券会社をどこにするのかを選択します。<br>
      例えば、少額で頻繁に売買しようと思っているのであれば、一定金額以下の取引に売買手数料が無料となる松井証券を選ぶべきですし、
      それを上回るのであれば手数料率が松井証券よりも低い他の証券会社で売買するという感じです。<br>
      またSBI証券のように、取引の頻度に応じて手数料のプランが変更できる証券会社もあります。<br>
      このように、売買手数料は取引金額によって証券会社によって変わってくるので証券会社の選択の大きな判断ポイントになります。<br>
      手数料で比較する証券会社選びのポイントは次のページで詳しく説明します。<br>
<br>
      <div class="studytips">
        <strong>投資額から決める証券会社の選び方</strong><br>
        株を取引するためには売買単位について知らなくてはなりません。<br>
        売買単位とはある銘柄を売買するのに最低限度の取引株数の単位です。<br>
        売買単位100株であれば、その銘柄を購入するためには100株、200株、...という100の倍数で売買しなければなりません。<br>
<br>
        特に東証一部に代表されるような主要な銘柄では、現在100株単位で売買できることが多いので、
        株価200円の銘柄を売買するには２万円程度あれば投資できることになります。<br>
        通常の安全な銘柄であれば株価が100円を切ることは滅多にないので、
        最低限の株式投資するのに必要な資金は大体数万円程度ということになります。<br>
<br>
        昔は安定的な銀行株などを購入するには1000株単位が必要ということが多かったので、
        株価が500円でも最低50万円は必要であったことに比べると、最近は個人投資家も取引がしやすい環境になったと思います。<br>
        最近では少額でも投資できるようにするため、売買単位を100株にする銘柄が多くなっていますが、
        東証は2018年10月1日までに売買単位を100株に統一すると公表していますので、今後さらに利便性が向上していきますね。<br>
<br>
        どの銘柄に投資するか迷ってしまう方は、まずはご自身の資産のうち、生活に困らない金額で少しずつ取引していくことをお勧めします。
      </div>
<br>
      <h4>【売買手法】</h4>
      また、取引手法が異なる点については注意が必要です。ここは非常に重要なポイントになります。<br>
      例えば、値動きを見ていない時に株価が急落して売り損ねてしまったということにならないように、ある値以下になったら自動的に売却する、
      逆に、ある値以上になったら自動的に購入するというようなこともできるところとできないところがあります。<br>
      ここら辺は普段の生活の中でどこまで取引を綿密に行うかを決めながら、適切な証券会社を選ぶことが重要です。<br>
<br>
      <h4>【ツール、情報提供】</h4>
      その他、株式投資に必要な企業情報、財務データを分析するツール、提供される情報の充実度なども異なってきますし、
      株価データがリアルタイムに反映されるスピードや、前節で説明したIPO銘柄の募集状況も異なります。<br>
      前節で説明したIPOであれば主幹事証券を務めることが多い証券会社を選べば、応募時の当選確率を高めることも可能になります。<br>
      また、証券会社によっては株以外にもドル円などの為替取引や、
      先物やオプションと言われるようなデリバティブ商品も行うことができるところもあります。<br>
      ここら辺についても後ほど詳しくご説明します。<br>
<br>
      少額の取引の場合はA証券、高額取引の場合はB証券、IPOに応募する時にはC証券というように賢く使い分けることが重要で、
      冒頭で説明したように、口座開設は無料ですので複数の口座を開設して、
      口座間の資金を移動しながら用途やタイミングにおうじて適切な取引を行えるようにすべきです。<br>
<br>
<br>
      <div align="right">
        <%= link_to '手数料比較は次のページ', '/study_pages/intermediate/securities_fee' %>
      </div><br>
    </div>
  </div>
</div>
