<!-- seo -->
<%= set_meta_tags title: '証券会社別の手数料比較' %>
<%= breadcrumb :study_securities_fee %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         手数料で選ぶ
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <h4>証券会社の選び方</h4>

      証券会社には大きく分けると総合証券とネット証券があります。<br>
      総合証券は野村證券や大和証券など、どちらかというと機関投資家や大口顧客などを専門顧客とする証券会社です。<br>
      大きい金額を扱える反面、売買手数料はかなり高いです。
      一方で、ネット証券は手数料も安く、売買金額に対するレートで計算するので無駄な手数料を省くことができます。<br>
      総合証券が窓口業務などを行い、顧客からの注文も電話口での対応をすることになるので管理コストが高くなる一方で、
      ネット証券であれば、インターネットで売買注文が出せるので人件費がかからない分、手数料が安くなるだけではなく
      自分の好きな時に売買できるのでタイミングを逃すことはありません。<br>

      ただ、安いとは言え、この手数料は証券会社によって異なるので証券会社を選ぶ時に売買手数料もチェックしておかなければなりません。<br>

      <h4>株を売買する時の手数料</h4>
      上記の通り、証券会社を選ぶときに売買手数料を調べておくことは非常に重要です。<br>
      売買手数料とは特定の銘柄を購入する時や売却する時に発生する証券会社に支払う手数料です。<br>
      保有していた銘柄が購入時より300円値上がりしたから利益確定しようとしても、
      売買手数料が500円の証券会社で売却してしまったら200円の損になってしまいます。<br>

<br>
      また一口に売買手数料と言っても、売買金額によって各社の手数料が異なります。<br>
      以下の表をご覧ください。<br>
<br>
      <br>
      <h4>手数料 一覧</h4>
      <table class="securities_table">
        <tbody>
          <tr>
            <th>順位</th>
            <th>証券会社</th>
            <th>10万円以下</th>
            <th>20万円以下</th>
            <th>30万円以下</th>
            <th>40万円以下</th>
            <th>50万円以下</th>
            <th>70万円以下</th>
            <th>100万円以下</th>
            <th>100万円〜</th>
            <th>説明</th>
          </tr>
          <tr>
            <th>１位</th>
            <td><%= link_to '松井証券', 'http://www.matsui.co.jp/service/fee/list.html' %></td>
            <td><font color="#f00"><strong>無料</strong></font></td><!-- 10万円以下 -->
            <td>300円</td><!-- 20万円以下 -->
            <td>300円</td><!-- 30万円以下 -->
            <td>500円</td><!-- 40万円以下 -->
            <td>1000円</td><!-- 50万円以下 -->
            <td>1000円</td><!-- 70万円以下 -->
            <td>1000円</td><!-- 100万円以下 -->
            <td>1000円〜</td><!-- 100万円〜-->
            <td>業界で唯一、売買金額10万円以下で無料です。<br>
            初心者の方で、まずは少額投資から開始したいという方にオススメです。</td><!-- 10万円以下 -->
          </tr>
          <tr>
            <th>２位</th>
            <td><%= link_to 'ライブスター証券', 'http://www.live-sec.co.jp/stock/fee/' %></td>
            <td>80円</td><!-- 10万円以下 -->
            <td>97円</td><!-- 20万円以下 -->
            <td>180円</td><!-- 30万円以下 -->
            <td>180円</td><!-- 40万円以下 -->
            <td>180円</td><!-- 50万円以下 -->
            <td>340円</td><!-- 70万円以下 -->
            <td>340円</td><!-- 100万円以下 -->
            <td>400円〜</td><!-- 100万円〜-->
            <td>どの売買金額でも平均的に最もやすい証券会社です。<br>
            まだどのくらい売買するか決まっていないけど手数料だけは抑えたい方にオススメです。</td><!-- 10万円以下 -->
          </tr>
          <tr>
            <th>３位</th>
            <td><%= link_to 'カブドットコム証券', 'http://kabu.com/cost/' %></td>
            <td>90円</td><!-- 10万円以下 -->
            <td>180円</td><!-- 20万円以下 -->
            <td>250円</td><!-- 30万円以下 -->
            <td>250円</td><!-- 40万円以下 -->
            <td>250円</td><!-- 50万円以下 -->
            <td>990円</td><!-- 70万円以下 -->
            <td>990円</td><!-- 100万円以下 -->
            <td>1890円〜</td><!-- 100万円〜-->
            <td>ライブスタート遜色ないほど低水準です。<br>
            株以外にも先物・オプションやETFなど多様な商品を売買できることも特色です。</td>
          </tr>
          <tr>
            <th>４位</th>
            <td><%= link_to 'GMOクリック証券', 'https://www.click-sec.com/corp/guide/commission_list/' %></td>
            <td>88円</td><!-- 10万円以下 -->
            <td>98円</td><!-- 20万円以下 -->
            <td>241円</td><!-- 30万円以下 -->
            <td>241円</td><!-- 40万円以下 -->
            <td>241円</td><!-- 50万円以下 -->
            <td>435円</td><!-- 70万円以下 -->
            <td>435円</td><!-- 100万円以下 -->
            <td>527円〜</td><!-- 100万円〜-->
            <td>取引の際に参考となる分析系ツールや、企業の業績データを基にしたアナリストレポートなどの投資情報も充実していることが特色です。</td>
          </tr>
          <tr>
            <th>５位</th>
            <td><%= link_to 'SBI証券', 'https://www.sbisec.co.jp/ETGate/WPLETmgR001Control?OutSide=on&getFlg=on&burl=search_home&cat1=home&cat2=price&dir=price&file=home_price.html' %></td>
            <td>96円</td><!-- 10万円以下 -->
            <td>191円</td><!-- 20万円以下 -->
            <td>286円</td><!-- 30万円以下 -->
            <td>286円</td><!-- 40万円以下 -->
            <td>429円</td><!-- 50万円以下 -->
            <td>762円</td><!-- 70万円以下 -->
            <td>762円</td><!-- 100万円以下 -->
            <td>1162円〜</td><!-- 100万円〜-->
            <td>取引頻度の多い投資家向けの低価格帯が安いプランです。逆に売買頻度が少ない方向けの高価格帯が安いプランも用意されています。<br>
              IPOやPO(公募)が無料であることに加え、海外の投資銘柄が多様であることもメリットです。
            </td>
          </tr>
          <tr>
            <th>６位</th>
            <td><%= link_to 'エイチ・エス証券', 'http://www.hs-sec.co.jp/bluesky_net/course_1.htm' %></td>
            <td>134円</td><!-- 10万円以下 -->
            <td>171円</td><!-- 20万円以下 -->
            <td>339円</td><!-- 30万円以下 -->
            <td>572円</td><!-- 40万円以下 -->
            <td>572円</td><!-- 50万円以下 -->
            <td>1000円</td><!-- 70万円以下 -->
            <td>1000円</td><!-- 100万円以下 -->
            <td>1143円〜</td><!-- 100万円〜-->
            <td>口座開設してから３ヶ月間は取引手数料がタダです。<br>
              とりあえず初めてみてから検討したいという方に最適です。</td>
          </tr>
          <tr>
            <th>７位</th>
            <td><%= link_to 'マネックス証券', 'http://www.monex.co.jp/ServiceInformation/00000000/guest/G100/srv/srv05.htm' %></td>
            <td>100円</td><!-- 10万円以下 -->
            <td>180円</td><!-- 20万円以下 -->
            <td>250円</td><!-- 30万円以下 -->
            <td>350円</td><!-- 40万円以下 -->
            <td>450円</td><!-- 50万円以下 -->
            <td>1000円<br>(成行)<br>,1500円<br>(指値)</td><!-- 70万円以下 -->
            <td>1000円<br>(成行)<br>,1500円<br>(指値)</td><!-- 100万円以下 -->
            <td>約定金額の0.1%〜</td><!-- 100万円〜-->
            <td>低価格帯の取引手数料が安いことに加え、無料の分析ツールが充実しています。<br>
              1日に何度取引しても売買手数料が定額のプランもあり、中級以上のデイトレーダーに最適です。</td>
          </tr>
          <tr>
            <th>８位</th>
            <td><%= link_to '楽天証券', 'https://www.rakuten-sec.co.jp/web/commission/' %></td>
            <td>139円</td><!-- 10万円以下 -->
            <td>185円</td><!-- 20万円以下 -->
            <td>272円</td><!-- 30万円以下 -->
            <td>272円</td><!-- 40万円以下 -->
            <td>272円</td><!-- 50万円以下 -->
            <td>487円</td><!-- 70万円以下 -->
            <td>487円</td><!-- 100万円以下 -->
            <td>582円〜</td><!-- 100万円〜-->
            <td>macユーザーにも便利なマーケットスピードというリアルタイムに確認できる株価チェックツールも便利です。<br>
              売買することで、113,000円の楽天ポイントがもらえるキャンペーンも実施中です。<br>
            </td>
          </tr>
          <tr>
            <th>８位</th>
            <td><%= link_to 'むさし証券', 'http://www.treasurenet.jp/serviceinformation/stock/commision.php' %></td>
            <td>220円</td><!-- 10万円以下 -->
            <td>220円</td><!-- 20万円以下 -->
            <td>220円</td><!-- 30万円以下 -->
            <td>220円</td><!-- 40万円以下 -->
            <td>220円</td><!-- 50万円以下 -->
            <td>440円</td><!-- 70万円以下 -->
            <td>440円</td><!-- 100万円以下 -->
            <td>440円〜</td><!-- 100万円〜-->
            <td>50万円以下の売買は手数料が無料なのでわかりやすいです。<br>
              取引ごとではなく、1日の売買金額で手数料が決まるプランもあります。</td>
          </tr>
          <tr>
            <th>９位</th>
            <td><%= link_to '東海東京証券', 'http://www.tokaitokyo.co.jp/kantan/service/charge/stock.html?_ga=1.67069358.1000499655.1460268318' %></td>
            <td>1.242%</td><!-- 10万円以下 -->
            <td>1.242%</td><!-- 20万円以下 -->
            <td>1.242%</td><!-- 30万円以下 -->
            <td>1.242%</td><!-- 40万円以下 -->
            <td>1.242%</td><!-- 50万円以下 -->
            <td>1.242%</td><!-- 70万円以下 -->
            <td>1.242%</td><!-- 100万円以下 -->
            <td>0.918%＋3240円〜</td><!-- 100万円〜-->
            <td>金額ではなく、料率換算で且つ最低手数料が2700円なので計算が若干わかりにくいです。</td>
          </tr>
          <tr>
            <th>10位</th>
            <td><%= link_to '丸三証券', 'http://www.marusan-sec.co.jp/torihiki/fee/' %></td>
            <td>1.242%</td><!-- 10万円以下 -->
            <td>1.242%</td><!-- 20万円以下 -->
            <td>1.242%</td><!-- 30万円以下 -->
            <td>1.242%</td><!-- 40万円以下 -->
            <td>1.242%</td><!-- 50万円以下 -->
            <td>1.242%</td><!-- 70万円以下 -->
            <td>1.048%+1361円</td><!-- 100万円以下 -->
            <td>0.853%＋3305円〜</td><!-- 100万円〜-->
            <td>東海東京証券同様、金額ではなく、料率換算で且つ最低手数料が2700円です。<br>
              他のネット証券に比べると見劣りするかもしれません。</td>
          </tr>
        </tbody>
      </table>

      <br>
      注意しなければならないのは松井証券のように10万円まではタダで売買できますが、<br>
      50万円〜100万円の売買の場合は1000円もするというように、<br>
      一見やすそうに見えても一定金額を超えてしまうと他の証券会社よりも何倍も高くなってしまうということです。<br>
      <br>
      最初は試しに少額でやって見るつもりが、値上がりしそうな銘柄を探しているうちに、
      ついつい売買金額が膨らんでしまい、別の証券会社で売買していた方が売買手数料が多くなってしまうというケースもあります。<br>
      こうした失敗をしないように、複数の証券会社で口座を開いておき、売買金額ごとに証券会社を使い分けることをお勧めします。<br>
      <br>


      <br>ネット証券によって、また売買金額に応じて大きく手数料が異なっていることがお分かりになったかと思います。<br>
      また、次ページ以降で説明しますが手数料だけではなく、取引方法や分析ツールで選ぶと言う手法も考えられます。<br>


    </div>
  </div>
</div>
