<!-- seo -->
<% title = '松井証券で株を売却する' %>
<%= set_meta_tags title: title %>
<% breadcrumb :sell_matsui %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">
     <div id="studytitle">
       <h1><%= title %></h1>
     </div>
    <%= render 'layouts/study_intermediate_securities_fee' %>
    <div id="studycontents">
      <h2><%= title %></h2>
      <%= link_to '購入方法についてはこちら', '/study_pages/intermediate/buy_matsui' %>をご覧ください。<br>
      それでは<%= link_to 'この買った株', '/study_pages/intermediate/buy_matsui' %>を売ってみましょう。<br>

<br>
      <strong>1.売る前の確認</strong><br>
      まず当然ですが、利益が出ているかどうか確認しましょう。<br>
      NISA口座や10万円以下の売買なら問題ないですが、
      他の証券会社を使っていたり、松井証券を使っているとしても10万円以上の売買をしている時は手数料がかかるので、
      特に利益が手数料を上回っているか確認しましょう。<br>
<br>
      <strong>2.売却ページ</strong><br>
      購入時同様、ネットストックにログインします。<br>
      ログイン後、ページ上部の株式取引を押し、左のメニューリストの中の「現物売」を選択します。<br>
      するとページ中央部に現在保有している銘柄のリストが表形式で表示されているはずです。<br>
<br>
      売りたい銘柄を選択すると、現物の購入時と類似のページが表示されます。<br>
      まずページ中央の表中の左上「現物取引」の中の「現物売」を選択します。<br>
<br>
      口座区分、市場、売却株数、値段、執行条件、有効期間などは購入時と全く同じです。<br>
      全て入力し終えたらページ最下段にある「注文確認」ボタンを押します。<br>
<br>
      すると、銘柄名称、銘柄コード、売却株数、指値の場合は値段、取引区分、執行条件、有効期間などとともに、
      現状の注文時の値段で売却した時の約定代金が表示されます。<br>
<br>
      最後に申込時に記載があった取引暗証番号を入力して「注文する」ボタンを押して注文を確定させます。<br>


    </div>
  </div>
</div>
