<% todayObj = Time::now #ex. 2016-02-21 12:22:21 +0900
   #herokuの場合は米国時間のため日本時間に戻すためには９時間をたす
   todayObj = todayObj + 9 * 3600#時差
   month = todayObj.month
   day   = todayObj.day
   hour  = todayObj.hour
   hour  = hour % 24#念のため
   minute= todayObj.min

   if hour.to_s.length == 1
     hour = "0" + hour.to_s
   end
   if minute.to_s.length == 1
     minute = "0" + minute.to_s
   end

  #  newestYMD = Priceseries.find_by_sql('select * from priceseries where ticker = "^N225" order by ymd desc limit 1')[0]["ymd"]
  # newestYMD = Priceseries.where(ticker: "^N225").order(ymd: :desc).limit(1)[0].ymd
  # newestNikkei = Priceseries.find_by(ticker: "^N225", ymd: newestYMD).close
  nikkei_newest_obj = Priceseries.where(ticker: "^N225").order(ymd: :desc).limit(1)
  if nikkei_newest_obj
    nikkei_newest_price = nikkei_newest_obj[0]

    if nikkei_newest_price
      newestYMD = nikkei_newest_price.ymd
      newestNikkei = nikkei_newest_price.close
    end
  end

  # newestNikkei = Priceseries.where(ticker: "^N225", ymd: newestYMD).close
  dowData = Priceseries.find_by(ticker: "^DJI", ymd: newestYMD)
  if dowData
    newestDow = dowData.close
  end
  # newestDow = Priceseries.where(ticker: "^DJI", ymd: newestYMD).close
  #  なぜか最新値が取得できない
  #  newestShanghai = Priceseries.find_by(ticker: "000001.SS", ymd: newestYMD).close
  shanghaiData = Priceseries.find_by(ticker: "000001.SS", ymd: newestYMD.to_i)
  # shanghaiData = Priceseries.where(ticker: "000001.SS", ymd: newestYMD.to_i)
  newestShanghai = nil;
  if shanghaiData
   newestShanghai = shanghaiData.close
  end

  #  require 'yahoo-finance'#これがなくてもyahooFinanceは取得可能
  # →DBで取得することにする @ PriceNewestController
  #  yahoo_client = YahooFinance::Client.new
  #  yahoodata = yahoo_client.quotes(["USDJPY=X, EURJPY=X"], [:ask, :bid, :last_trade_date])
  #  ask_usdjpy = yahoodata[0].ask
  #  bid_usdjpy = yahoodata[0].bid
  #  usdjpy = (ask_usdjpy.to_i + bid_usdjpy.to_i)/2

  usdjpy_obj = PriceNewest.where(ticker: "USDJPY=X").order(datetrade: :desc)
  eurjpy_obj = PriceNewest.where(ticker: "EURJPY=X").order(datetrade: :desc)
  if usdjpy_obj
   usdjpy_ = usdjpy_obj[0]
   if usdjpy_
     usdjpy = usdjpy_.pricetrade
   end
 end

 if eurjpy_obj
   eurjpy_ = eurjpy_obj[0]

   if eurjpy_
     eurjpy = eurjpy_.pricetrade
   end
 end

  #  ask_eurjpy = yahoodata[1].ask
  #  bid_eurjpy = yahoodata[1].bid
  #  eurjpy = (ask_eurjpy.to_i + bid_eurjpy.to_i)/2
%>
<%= "現在: " + month.to_s + "月" + day.to_s + "日 " +
    hour.to_s + ":" + minute.to_s +
    "  日経平均: " + (newestNikkei.round(2)).to_s +
    #"  ダウ: " + newestDow.round(2).to_s +
    "  ダウ: " + ((newestDow!=nil) ? (newestDow.round(2).to_s) : "--") +
    "  上海総合: " + ((newestShanghai!=nil) ? (newestShanghai.round(2).to_s) : "--") +
    "　ドル/円: " + usdjpy.to_i.round(2).to_s +
    "  ユーロ/円: " + eurjpy.to_i.round(2).to_s %>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">世界の株価指数</a>
    </div>
    <ul class="nav navbar-nav">

      <li class="<%= active_class(root_path) %>">
        <%= link_to "総合", root_path %>
      </li>

      <li class="<%= active_class(feeds_path) %>">
        <%= link_to "ニュース", feeds_path %>
      </li>

      <li class="<%= active_class(static_pages_nikkei_path) %>">
        <%= link_to "日経平均", static_pages_nikkei_path %>
      </li>
      <li class="<%= active_class(static_pages_fx_path) %>">
        <%= link_to "為替", static_pages_fx_path %>
      </li>

      <li class="<%= active_class(static_pages_dow_path) %>">
        <%= link_to "ダウ平均", static_pages_dow_path %>
      </li>

      <li class="<%= active_class(static_pages_shanghai_path) %>">
        <%= link_to "上海総合", static_pages_shanghai_path %>
      </li>

      <li class="<%= active_class(static_pages_europe_path) %>">
        <%= link_to "欧州株価", static_pages_europe_path %>
      </li>

      <li class="<%= active_class(static_pages_bitcoin_path) %>">
        <%= link_to "Bitcoin", static_pages_bitcoin_path %>
      </li>

      <li class="<%= active_class(static_pages_commodity_path) %>">
        <%= link_to "商品価格", static_pages_commodity_path %>
      </li>

      <li class="<%= active_class(static_pages_adr_path) %>">
        <%= link_to "日本株ADR", static_pages_adr_path %>
      </li>

      <li class="<%= active_class(static_pages_kessan_path) %>">
        <%= link_to "決算", static_pages_kessan_path %>
      </li>
      <li><%= link_to "株式講座", '/study_pages/top' %></li>
      <!-- ログイン -->
      <% if logged_in? %>
        <li><%= link_to "Users", users_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Portfolio", '#' %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>

    </ul>
  </div>
</nav>
