<% todayObj = Time::now #ex. 2016-02-21 12:22:21 +0900
   year  = todayObj.year
   month = todayObj.month
   day   = todayObj.day

   if month.to_s.length == 1
      month = "0" + month.to_s
   end
   if day.to_s.length == 1
      day = "0" + day.to_s
   end


   hour  = todayObj.hour
   minute= todayObj.min

   if hour.to_s.length == 1
     hour = "0" + hour.to_s
   end
   if minute.to_s.length == 1
     minute = "0" + minute.to_s
   end

   youbi = todayObj.strftime("%A")
   youbi = youbi.downcase
   if youbi == "monday"
     youbi = "月曜日"
   elsif youbi == "tuesday"
     youbi = "火曜日"
   elsif youbi == "wednesday"
     youbi = "水曜日"
   elsif youbi == "thursday"
     youbi = "木曜日"
   elsif youbi == "friday"
     youbi = "金曜日"
   elsif youbi == "saturday"
     youbi = "土曜日"
   elsif youbi == "sunday"
     youbi = "日曜日"
   end
%>
  <center>
    <a href="/study_pages/top" class="btn04"><span>初心者講座</span></a>
  </center>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <iframe
       src="http://db.225225.jp/bp1.php?fw=160&cs=2"
       marginwidth=0
       marginheight=0
       frameborder=0
       scrolling=no
       width=160
       height=180>
        <a href=http://ch225.com>ch225世界の株価</a>
      </iframe>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <!-- twitter -->
          <a href="javascript:var str = 'http://twitter.com/share?url='+encodeURIComponent(location.href)+'&text='+ encodeURIComponent('世界の株価と経済指標') + '&'; window.open(str, '_blank', 'location=yes');">
            <img src="http://nikkei225jp.com/_img/sns58_twitter.png" width=32 height=32 border=0>
          </a>

          <!-- facebook -->
          <a title="send to Facebook"
            href="http://www.facebook.com/sharer.php?s=100&p[title]='世界の株価と経済指標'&p[summary]='ファイナンスの専門家が緻密な分析と毎日おトクな情報をお届け'&p[url]="+encodeURIComponent(location.href)+"&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT"
            target="_blank">
            <span>
              <img src='http://nikkei225jp.com/_img/sns58_facebook.png' id="share_button" width=32 height=32 border=0>
            </span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= year.to_s + "/" + month.to_s + "/" + day.to_s %>
          <br>
          <%= youbi %>
          <br>
          <br>
          <br>
          <%= "◾︎Tokyo   " + hour.to_s + ":" + minute.to_s %>
          <br>
          <%= "◾︎London  " + get_London_hour(hour.to_i).to_s + ":" + minute.to_s %>
          <br>
          <%= "◾︎NewYork " + get_NewYork_hour(hour.to_i).to_s + ":" + minute.to_s %>
        </div>
      </div>
    </div>


  </div>

  <!-- 広告 -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
      <div id="adsidebar">
        <a href="http://px.a8.net/svt/ejp?a8mat=2NE32A+AS6OQQ+3GGA+609HT" target="_blank">
          <img border="0" width="300" height="250" alt="" src="http://www27.a8.net/svt/bgt?aid=160220674652&wid=003&eno=01&mid=s00000016129001009000&mc=1">
        </a>
        <img border="0" width="1" height="1" src="http://www15.a8.net/0.gif?a8mat=2NE32A+AS6OQQ+3GGA+609HT" alt="">
      </div>
    </div>
  </div>

  <!-- シェアを動的に実行する場合 -->
  <!-- http://qiita.com/makiton/items/3aabc8a8cd679ccf6568 -->

  <!-- シェアリング:sharing.css.scss, sharing.js.erb -->
  <!-- https://syncer.jp/how-to-setting-share-button -->
  <div class="social-area-syncer">
    <ul class="social-button-syncer">
      <!-- Twitter ([Tweet]の部分を[ツイート]にすると日本語にできます) -->
      <li class="sc-tw">
        <a href="https://twitter.com/share"
           class="twitter-share-button"
           data-lang="ja"
           data-count="vertical"
           data-dnt="true"
           target="_blank">
           <svg viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
                fill-rule="evenodd"
                clip-rule="evenodd"
                stroke-linejoin="round"
                stroke-miterlimit="1.414">
                <path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.375-1.337.648-2.085.795-.598-.638-1.45-1.036-2.396-1.036-1.812 0-3.282 1.468-3.282 3.28 0 .258.03.51.085.75C5.152 5.39 2.733 4.084 1.114 2.1.83 2.583.67 3.147.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.416-.02-.617-.058.418 1.304 1.63 2.253 3.067 2.28-1.124.88-2.54 1.404-4.077 1.404-.265 0-.526-.015-.783-.045 1.453.93 3.178 1.474 5.032 1.474 6.038 0 9.34-5 9.34-9.338 0-.143-.004-.284-.01-.425.64-.463 1.198-1.04 1.638-1.7z"
                      fill="#fff"
                      fill-rule="nonzero"/>
          </svg>
          <span>Tweet</span>
        </a>
      </li>
      <!-- Facebook -->
      <!-- <li class="sc-fb"><div class="fb-like" data-href="https://syncer.jp" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div></li> -->
      <!-- →ogp画像やogpタイトルなどを参照してシェア時に表示する -->
      <!-- https://developers.facebook.com/docs/plugins/like-button#example -->
      <li class="sc-fb">
        <div class="fb-like"
             data-href="http://ancient-retreat-91103.herokuapp.com/"
             data-layout="box_count"
             data-action="like"
             data-show-faces="true"
             data-share="false">
        </div>
      </li>
      <!-- Google+ -->
      <!-- <li><div data-href="https://syncer.jp" class="g-plusone" data-size="tall"></div></li> -->
      <!-- はてなブックマーク -->
      <li>
        <a href="http://ancient-retreat-91103.herokuapp.com/"
           class="hatena-bookmark-button"
           data-hatena-bookmark-layout="vertical-balloon"
           data-hatena-bookmark-lang="ja"
           title="このエントリーをはてなブックマークに追加">
           <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png"
                alt="このエントリーをはてなブックマークに追加"
                width="20" height="20" style="border:none;" />
        </a>
      </li>
      <!-- pocket -->
      <li>
        <a data-save-url="http://ancient-retreat-91103.herokuapp.com/"
           data-pocket-label="pocket"
           data-pocket-count="vertical"
           class="pocket-btn"
           data-lang="en">
        </a>
      </li>
      <!-- LINE [画像は公式ウェブサイトからダウンロードして下さい] -->
      <!-- <li class="sc-li"><a href="http://line.me/R/msg/text/?https://syncer.jp"><img src="./linebutton_36x60.png" width="36" height="60" alt="LINEに送る" class="sc-li-img"></a></li> -->
    </ul>
    <!-- Facebook用 -->
    <div id="fb-root"></div>
  </div>
  <!-- シェアリング -->

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
      <div id="newssidebartitle">
        <%= link_to "ニュース", feeds_path, :style=>"color:white;" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
      <div id="newssidebarcontents">
        <% today = Time.now %>
        <% @feed_news.each do |feed| %>
          <% feed_time = Time.at(feed.feed_id.to_i) %>
          <div class="newssidebaritem">
            <div class="newsSideBarItemTime">
              <% if feed_time.strftime('%Y').to_i == today.year.to_i &&
                    feed_time.strftime('%m').to_i == today.month.to_i &&
                    feed_time.strftime('%d').to_i == today.day.to_i %>
                <% # 本日の日付なら %>
                <%= feed_time.strftime('%H:%M') %>

              <% else %>
                <%= feed_time.strftime('%m/%d').to_s %>

                <%= feed_time.strftime('%R').to_s %>

              <% end %>

            </div>
            <%= link_to feed.title , feed %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
      <div id="newssidebartitle">
        <%= link_to "イベント", '#', :style=>"color:white;" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
      <div id="newssidebarcontents">
        <% the_time = Time.now %>
        <% today = Time.now %>
        <% @events.each do |event| %>
          <% event_time =
            Time.local(
              event.ymd.to_s[0,4].to_i,
              event.ymd.to_s[4,2].to_i,
              event.ymd.to_s[6,2].to_i,
              0,0,0) %>

          <% if the_time != event_time %>
            <% the_time = event_time %>
            <div class="eventSideBarItemTime">
              <% if event_time.strftime('%Y').to_i == today.year.to_i &&
                    event_time.strftime('%m').to_i == today.month.to_i &&
                    event_time.strftime('%d').to_i == today.day.to_i %>
                <%= "本日" %>
              <% else %>
                <%= event_time.strftime('%m/%d').to_s %>
              <% end %>
            </div>
          <% end %>
          <div class="eventsidebaritem">
            <%= event.name %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
  </div>
