<ul class="defaultlist diamond">
  <li><%= link_to "初心者の為の株式取引の方法と仕組み", '/study_pages/elementary/top' %></li>
</ul>
<ul class="defaultlist smalllist">
  <li><%= link_to 'なぜ今投資か', '/study_pages/elementary/why_you_invest' %></li>
  <li><%= link_to '株とは', '/study_pages/elementary/aboutStock' %></li>
  <li><%= link_to '株の仕組み', '/study_pages/elementary/stockMechanism' %></li>
  <li><%= link_to '取引の仕組み', '/study_pages/elementary/tradeMechanism' %></li>
  <li><%= link_to '市場の詳細', '/study_pages/elementary/marketDetail' %></li>
  <li><%= link_to '上場とは', '/study_pages/elementary/ipo' %></li>
  <li><%= link_to 'その他の運用の方法（債券、コモディティ、ADR、為替etc)', '/study_pages/elementary/otherManagement' %></li>
  <li><%= link_to '株式トレードのメリット', '/study_pages/elementary/merit' %></li>
  <li><%= link_to '株式トレードのデメリット', '/study_pages/elementary/demerit' %></li>
  <li><%= link_to 'マイナス金利時代の投資術', '/study_pages/elementary/low_interest_rate_investment' %></li>
</ul>
