<ul class="defaultlist diamond">
  <li><%= link_to "株価分析と売買手法", '/study_pages/advanced/top' %></li>
</ul>
<ul class="defaultlist smalllist">
  <li><%= link_to '株式分析', '/study_pages/advanced/stock_analysis' %></li>
  <li><%= link_to 'アナリスト', '/study_pages/advanced/analyst' %></li>
  <li><%= link_to 'アナリストレポート', '/study_pages/advanced/analyst_report' %></li>
  <li><%= link_to '運用方針', '/study_pages/advanced/policy' %></li>
  <li><%= link_to 'IPOに応募する', '/study_pages/advanced/apply_ipo' %></li>
  <li><%= link_to 'IPOで成功する秘訣', '/study_pages/advanced/success_ipo' %></li>
  <li><%= link_to '応募するIPO銘柄を選ぶ', '/study_pages/advanced/select_ipo' %></li>
  <li><%= link_to '公募', '/study_pages/advanced/about_po' %></li>
  <li><%= link_to '公募(PO)に応募する', '/study_pages/advanced/apply_po' %></li>
  <li><%= link_to 'ブックビルディング', '/study_pages/advanced/bookbuilding' %></li>
  <li><%= link_to '人気株の調査', '/study_pages/advanced/survey_popular' %></li>
  <li><%= link_to '銘柄調査の方法', '/study_pages/advanced/methodology_find' %></li>
  <li><%= link_to 'テクニカルチャート分析', '/study_pages/advanced/technical_chart' %></li>
  <li><%= link_to '株主優待', '/study_pages/advanced/shareholder_incentive' %></li>
  <li><%= link_to 'ミニ株', '/study_pages/advanced/mini_kabu' %></li>
  <li><%= link_to '信用取引', '/study_pages/advanced/credit_deal' %></li>
  <li><%= link_to '信用取引の方法と手数料', '#' %></li>
  <li><%= link_to '逆日歩', '/study_pages/advanced/gyakuhibu' %></li>
  <li><%= link_to '投資信託', '/study_pages/advanced/mutual_fund' %></li>
  <li><%= link_to 'ノーロード投信', '/study_pages/advanced/noload_fund' %></li>
  <li><%= link_to '税金', '/study_pages/advanced/tax' %></li>
  <li><%= link_to '配当', '/study_pages/advanced/devidend' %></li>
  <li><%= link_to 'ミニ株に挑戦してみよう', '/study_pages/advanced/try_mini_kabu' %></li>
  <li><%= link_to 'インフレとは', '#' %></li>
  <li><%= link_to '日経225先物とは', '/study_pages/advanced/nikkei225sakimono' %></li>
  <li><%= link_to '先物の価格の決定方法', '/study_pages/advanced/pricing_sakimono' %></li>
  <li><%= link_to '海外株式に投資する', '/study_pages/advanced/foreign_investment' %></li>
  <li><%= link_to '日経平均株価とTOPIXの違い', '/study_pages/advanced/difference_topix_nikkei' %></li>
  http://pooripo.com/sougolink/<br>
  <li>売買テクニック</li>


  topix上昇銘柄をロング、topix下落銘柄をショート
  topic入れ替え4月、7月、10月、1月
  tob
  ipo

  公募po



</ul>
<ul class="defaultlist diamond">
  <li><%= link_to "ブログ", '/study_pages/elementary/top' %></li>
</ul>
<ul class="defaultlist smalllist">
  <li><%= link_to '30代になったら真っ先に勉強すべきこと', '/study_pages/elementary/why_you_invest' %></li>
  <li><%= link_to '大手企業に就職した20代、30代が資格の勉強より優先すべきこと', '/study_pages/elementary/why_you_invest' %></li>
</ul>
