<!-- 目次 -->
<!-- <div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyindex"> -->
 <div id="studyindex">
  <h2>株式講座</h2>
  <br>
  <ul class="defaultlist diamond">
    <li><%= link_to "初級者編", '/study_pages/elementary/top' %></li>
  </ul>
  <ul class="defaultlist smalllist">
    <li><%= link_to '株とは', '/study_pages/elementary/aboutStock' %></li>
    <li><%= link_to '株の仕組み', '/study_pages/elementary/stockMechanism' %></li>
    <li><%= link_to '取引の仕組み', '/study_pages/elementary/tradeMechanism' %></li>
    <li><%= link_to '市場の詳細', '/study_pages/elementary/marketDetail' %></li>
    <li><%= link_to '上場とは', '/study_pages/elementary/ipo' %></li>
    <li><%= link_to 'その他の運用の方法（債券、コモディティ、ADR、為替etc)', '/study_pages/elementary/otherManagement' %></li>
    <li><%= link_to '株式トレードのメリット', '/study_pages/elementary/merit' %></li>
    <li><%= link_to '株式トレードのデメリット', '/study_pages/elementary/demerit' %></li>
  </ul>
  <ul class="defaultlist diamond">
    <li><%= link_to "中級者編", '/study_pages/intermediate/top' %></li>
  </ul>
  <ul class="defaultlist smalllist">
    <li><%= link_to 'ネット証券の選び方', '/study_pages/intermediate/securities' %></li>
    <li><%= link_to '手数料で選ぶ', '/study_pages/intermediate/securities_fee' %></li>
    <li><%= link_to '取引方法で選ぶ', '/study_pages/intermediate/securities_trade' %></li>
    <li><%= link_to 'ツールで選ぶ', '/study_pages/intermediate/securities_tool' %></li>
    <li><%= link_to '始めてみよう(SBI証券の登録)', '#' %></li>
    <li><%= link_to '始めてみよう(松井証券の登録)', '/study_pages/intermediate/apply_matsui' %></li>
    <li><%= link_to '最初に買う銘柄の選び方〜最初は流動性がある安全な銘柄に限定、すぐに売却できる、',
                    '/study_pages/intermediate/first_buy' %></li>
    <li><%= link_to '自分にあった銘柄の探し方', '/study_pages/intermediate/search_my_portfolio' %></li>
    <li><%= link_to '実際に買ってみよう(松井証券の場合)', '/study_pages/intermediate/buy_matsui' %></li>
    <li><%= link_to '実際に売ってみよう', '/study_pages/intermediate/sell_matsui' %></li>
  </ul>
  <ul class="defaultlist diamond">
    <li><%= link_to "上級者編", '/study_pages/advanced/top' %></li>
  </ul>
  <ul class="defaultlist smalllist">
    <li><%= link_to '株式分析', '#' %></li>
    <li><%= link_to 'ポートフォリオ管理', '#' %></li>
    <li><%= link_to '運用方針', '#' %></li>
    <li><%= link_to 'IPO', '#' %></li>
    <li><%= link_to '応募方法etc.http://www.ipokiso.com/basic/buy/tyusen.html', '#' %></li>
    <li><%= link_to 'PO', '#' %></li>
    <li><%= link_to '人気株の調査', '#' %></li>
    <li><%= link_to '株主優待', '#' %></li>
    <li><%= link_to 'ミニ株', '#' %></li>
    <li><%= link_to '信用取引', '#' %></li>
    <li><%= link_to '投資信託', '#' %></li>
    <li><%= link_to '税金', '#' %></li>
    <li><%= link_to '配当', 'http://diamond.jp/category/z-kabunushiyutai?utm_source=z&utm_medium=rb&utm_content=zai&utm_campaign=shouken' %></li>
    <li><%= link_to '海外株式に投資する', '#' %></li>
    <li><%= link_to '信用取引の方法と手数料', '#' %></li>
    <li><%= link_to 'ミニ株に挑戦してみよう', '#' %></li>
  </ul>
</div>
