<!-- 目次 -->
<!-- <div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyindex"> -->
 <div id="studyindex">
    <h2>株式講座</h2>
    <br>
    <ul class="defaultlist diamond">
      <li><%= link_to "初級者編", '/study_pages/elementary/top' %></li>
    </ul>
    <ul class="defaultlist smalllist">
      <li><%= link_to '株とは', '/study_pages/elementary/aboutStock' %></li>
      <li><%= link_to '株の仕組み', '/study_pages/elementary/stockMechanism' %></li>
      <li><%= link_to '取引の仕組み', '/study_pages/elementary/tradeMechanism' %></li>
      <li><%= link_to '市場の詳細', '/study_pages/elementary/marketDetail' %></li>
      <li><%= link_to '上場とは', '/study_pages/elementary/ipo' %></li>
      <li><%= link_to 'その他の運用の方法（債券、コモディティ、ADR、為替etc)', '/study_pages/elementary/otherManagement' %></li>
      <li><%= link_to '株式トレードのメリット', '/study_pages/elementary/merit' %></li>
      <li><%= link_to '株式トレードのデメリット', '/study_pages/elementary/demerit' %></li>
    </ul>
    <ul class="defaultlist diamond">
    <%= link_to "中級者編", '/study_pages/intermediate/top' %>
    <br>
    <%= link_to "上級者編", '/study_pages/advanced/top' %>
    </ul>
  <!-- </div>
</div> -->
</div>
